[2015-07-22 11:22] marceltaeumel opened #1 "Behavior of Transcript"
Is `Transcript`actually a `TranscriptStream`? I doubt that because of this:

https://travis-ci.org/hpi-swa/signals/jobs/72099074

https://github.com/hpi-swa/signals/blob/master/repository/Signals.package/SignalTest.class/instance/test35SignalSpyVerboseMode.st

Line 16 in the test fails on TravisCI.

[2015-07-22 11:50] fniephaus commented on #1
`Transcript` is the standard `TranscriptStream`, but `Transcript>>show:` is overridden by this extension method:
https://github.com/fniephaus/filetreeCI/blob/build/scripts/MetacelloBuilderTravisCI.st#L116-L117

And that's the problem :smile:

[2015-07-23 14:19] #1 closed

[2015-08-03 07:37] fniephaus opened #2 "Latest VMs for Squeak"
Find a better way to provide up-to-date VMs for Squeak.
Maybe show a build number?
Maybe the VMs ship with the new SqueakSSL anytime soon?

[2015-08-25 22:34] fniephaus opened #3 "Build SqueakTrunk image on Travis CI"
It would be cool to have Travis CI updating the SqueakTrunk image.

[2015-09-01 09:17] fniephaus commented on #3
Done: 5b9934381d7cd3e0834ce2c26ce57f564c5bccc1

[2015-09-01 09:17] #3 closed

[2015-10-19 10:09] jchromik opened #4 "How do you build the images?"
Since you are downloading the Squeak images from the HPI server we assume you are not using an image which is also hosted at squeak.org.
How do you build these images and why don't you just use the stock images?

Thank you in advance!

[2015-10-19 10:33] fniephaus commented on #4
builderCI and filetreeCI rely on Filtree/Metacello and installing this takes some time.
Since filetreeCI aims to be a lot faster than builderCI, it uses prepared images that have Filetree preinstalled.
You might want to have a look at the [build](https://github.com/hpi-swa/filetreeCI/tree/build) branch which automates the image preparation.
Here is a (probably incomplete) list of things that happe

[2015-10-19 11:43] Nef10 opened #5 "Add support for current stable"
it would be nice to have a `SqueakCurrentStable`option which can be used as fallback if no smalltalk version is set

[2015-10-19 12:58] fniephaus commented on #5
If I understand you correctly, you want to introduce a default value for `SMALLTALK`?
Or do you want an alias for the latest stable Squeak image? Something more like `SqueakLatestStable`?

[2015-10-19 13:31] Nef10 commented on #5
I would like an alias. (which e.g. can be used as fallback in travis-ci/travis-build/pull/530)

[2015-10-19 14:45] #5 closed

[2015-10-19 19:59] #4 closed

[2015-11-06 23:07] fniephaus opened #8 "Add GemStone support"
Unfortunately, the GemStone VM requires a bit more than just a few apt-get packages.
For this reason, GemStone is not supported yet, but it would be great to have.

[2015-11-06 23:11] fniephaus opened #9 "Use builderCI as fallback for GemStone builds"
Fall back to builderCI for GemStone builds.

[2015-11-07 02:46] fniephaus commented on #9
Done: 6eabdeac8ab42d89c68e14d4cce1a63524fdf224

[2015-11-07 02:46] #9 closed

[2015-11-25 21:42] peteruhnak opened #10 "The BASELINE_GROUP for Pharo is TravisCI, not default"
The BASELINE_GROUP for Pharo should be default: https://github.com/hpi-swa/smalltalkCI/blob/master/pharo/run.sh#L46

however since it is already set in the master script it won't be changed https://github.com/hpi-swa/smalltalkCI/blob/master/run.sh#L87

So maybe change the README.md to reflect it, because it is confusing — the values in the readme look like default values.

[2015-11-25 22:04] #10 closed

[2015-11-25 22:06] fniephaus commented on #10
Hi @peteruhnak,
Thanks for filing the issue.

I have changed the default for `BASELINE_GROUP` for Pharo to `default`.

Best,
Fabio

[2015-11-25 22:32] peteruhnak commented on #10
Thanks!

[2015-11-25 23:28] peteruhnak opened #11 "missing libssl library"
I've encountered a problem with ssl and Pharo

My BaselineOf pulls another package from github via 'github://' protocol (which internally uses SSL),
but it fails on missing library.

[code]

The solution was explicitly adding the following to my `.travis.yml`

[code]

Maybe it should be part the default container (preinstalled), or alternatively at least having a mention in the README (since other

[2015-11-25 23:39] fniephaus commented on #11
Sorry for the inconvenience.
Will have a chat with the others about adding `libssl1.0.0:i386` to the default container, but it may take a while until available on Travis.
In the meantime, I will add a note to the `README`.

Also, have you tried to run this on OS X (just add `os: osx` to your `.travis.yml`)?

[2015-11-26 00:09] peteruhnak commented on #11
I could try that, but since I personally use linux I feel more
confortable with that.

On 11/25, Fabio Niephaus wrote:

--
Peter

[2015-11-26 00:17] fniephaus commented on #11
No worries!
The VM that smalltalkCI uses for Squeak builds uses a different SqueakSSL plugin [1] which is why it doesn't need libssl. But it seems that there's something wrong with that version, too.

[1] https://github.com/itsmeront/squeakssl/releases/tag/v0.2.0b

[2015-11-30 10:15] Nef10 commented on #11
Included in PR travis-ci/travis-build#546

[2015-11-30 10:34] estebanlm commented on #11
so not needed anymore?

[2015-11-30 10:37] estebanlm opened #13 "bad repository path in pharo build"
right now is expressed as `${PROJECT_HOME}${PACKAGES}` and in fact needs to be defined as `${PROJECT_HOME}/${PACKAGES}` (with separator)

[2015-11-30 10:39] estebanlm commented on #13
see https://github.com/hpi-swa/smalltalkCI/pull/14

[2015-11-30 10:49] fniephaus commented on #11
Still needed since Travis hasn't merged PR 546 yet.
It'll also take some time to reach production, but in a couple of days it shouldn't be needed anymore.
Will keep you posted.

[2015-11-30 20:48] fniephaus commented on #13
Discussion moved to #14

[2015-11-30 20:48] #13 closed

[2015-12-17 10:47] Nef10 opened #17 "show time of steps"
Show time for each step:
[code]

[2015-12-17 10:47] Nef10 opened #18 "does not run if path contains space"

[2015-12-18 14:15] fniephaus commented on #8
The builderCI fallback now adds GemStone support.
These builds currently still run on Blue Box, but as soon as Travis has fixed GCE-related problems, we will be able to move this to GCE (still not as fast as container-based builds, but good enough for now).

[2015-12-18 14:15] #8 closed

[2015-12-18 18:43] fniephaus commented on #11
@peteruhnak & @estebanlm: can one of you confirm that this is working now without the following:
[code]

[2015-12-18 19:00] peteruhnak commented on #11
I can confirm that libssl is now installed automatically

however my build is failing for some other reason, so I can't confirm that it all goes will

[2015-12-18 19:04] peteruhnak opened #19 "$BASELINE is not defined"
Somewhere in the last 9 days something has changed that breaks builds because of a missing baseline.

Here's an example of broken build https://travis-ci.org/dynacase/class-editor/builds/95859363
Notice that just couple of lines above the error is `export BASELINE="DCUmlClassEditor"` so I call shenanigans.

The same code with same travis configuration was passing ~9 days ago https://travis-ci.org/

[2015-12-18 20:03] fniephaus commented on #19
Travis has just merged some code that allows us to define the baseline like this:
[code]
Unfortunately, it seems that this change is not backwards-compatible.
Sorry about that, we didn't know that this would happen and it probably takes to long to make it compatible.

I will update the README and add a notice to the script to inform users about the change.

[2015-12-18 20:46] peteruhnak commented on #19
Ah so just not updated readme. I like the new option :+1:

[2015-12-18 20:46] #19 closed

[2015-12-18 20:48] peteruhnak commented on #11
ok my build is running again, so I can confirm that it's working correctly, thanks!

[2015-12-18 20:50] fniephaus commented on #11
Perfect, sorry again for the inconvenience.

[2015-12-18 20:50] #11 closed

[2015-12-18 20:58] fniephaus commented on #2
We should be able to use the vm{4,5}0 scripts from [Pharo's Zeroconf](http://get.pharo.org/) for Squeak. That should solve the problem.

[2015-12-20 16:01] fniephaus opened #20 "smalltalkCI Configuration 1.0"
Currently, smalltalkCI requires environment variables to be set, because this is the way Travis builds run.

However, when running it locally, it is preferable to be able to use normal flags instead of environment variables (e.g. `--baseline=MyProject` or `--keep_open`).

[2015-12-20 16:02] fniephaus commented on #17
This is useful to identify the reason for slower builds.

[2015-12-20 16:08] peteruhnak commented on #20
How about adding a small script that would read the local `.travis.yml` file? With the option to explicitly override them via flags or env vars. Although it may add an extra dependency (yaml parser).

-----Original Message-----
From: "Fabio Niephaus" <notifications@github.com>
Sent: ‎12/‎20/‎2015 5:01 PM
To: "hpi-swa/smalltalkCI" <smalltalkCI@noreply.github.com>
Subject: [smalltalkCI] Provide abil

[2015-12-20 18:26] fniephaus commented on #20
Very good idea! I will look into this.

[2015-12-23 15:57] fniephaus commented on #20
I have found cross-platform compatible way to read the `.travis.yml` of a project and now I am wondering, how a "perfect" `.travis.yml` would look like.

I think I'd prefer to use `smalltalk_` as a prefix like this:
[code]

What do you think @marceltaeumel, @peteruhnak, @estebanlm and @krono?

Happy holidays! :christmas_tree:

[2015-12-23 17:46] krono commented on #20
What's your rationale for the prefix? It somehow seems redundant. Also `baseline` is not a Smalltalk idea per se but more a Metacello idea, so the prefix doesn't fit.

[2015-12-23 20:01] fniephaus commented on #20
I just want to avoid any name clashes with Travis and it would make clear that these key value pairs are used by smalltalkCI only.
How about this:

[code]

[2015-12-23 20:34] estebanlm commented on #20
I cannot respond big because I’m in a place with almost none internet, but in sum: I like the direction this is going :)

Esteban

[2015-12-23 21:28] peteruhnak commented on #20
I also think having prefixes everywhere is superfluous, so I would prefer the nested variant.

Two questions/suggestions though:

1. why is "packages" named so? I find it confusing as it actually specifies directory path and not a packages list. Perhaps naming it `directory` or `packages_directory` would be more explanatory.

2. using underscore_case seems like a natural progression from bash, but

[2015-12-23 22:19] krono commented on #20
And continuing from 2. by @peteruhnak, I'll actually like dashed versions:
[code]

Btw: we shouldn't abbreviate if possible, I think

[2015-12-23 23:12] fniephaus commented on #20
Hi all,

Thanks for the comments! This is great!

@peteruhnak Regarding 1.: `directory` definitely is better and I changed it in the new drafts. I didn't come up with anything better when I built the very first version of smalltalkCI. That's why...

Regarding 2.: I do like the idea of using camelCase, because it looks more like Smalltalk, and I see why @krono likes dashes. But I would argue that w

[2015-12-25 11:10] fniephaus commented on #20
If we use custom key value pairs instead of environment variables, it will not be possible to use different values within the build matrix. Here's an example that won't work:

[code]

I think it makes sense to keep the possibility of using global environment variables, so in a scenario like the above one would need to use env variables.

[2015-12-26 11:35] fniephaus commented on #2
http://forum.world.st/Static-link-to-latest-Coq-vms-td4868528.html

[2015-12-26 12:21] peteruhnak commented on #20
Why would that not work?

The json equivalent is

[code]

which seems fine to me. (an array of configurations)

[2015-12-26 12:29] peteruhnak commented on #20
I like the variant 4 probably the best (the one with matrix); having the dialect name as the configuration key seems strange to me, because users may have several versions of the same dialect (e.g. someone wants to test Pharo 4 and Pharo 5, etc.)

What I am also thinking of is having some sort of configuration baselines, so I could specify configuration for Pharo (as in the draft 3), and then I ca

[2015-12-27 12:19] fniephaus commented on #20
The reason why draft 4 does not work is that it is not trivial to determine which `smalltalk_configuration` should be used for a build.
Here's an example:
[code]
This would result in four builds: `Squeak-trunk` 2xLinux + 1xOSX and `Pharo-alpha` 1xLinux.
Since smalltalkCI reads the `.travis.yml` independently, it also has to figure out for which build it is running. Let's just say we are currently

[2015-12-28 16:08] fniephaus commented on #2
@peteruhnak and @estebanlm:
Would you prefer to use vms from get.pharo.org/vmXX for Pharo builds, or would it be ok to use a Cog VM from [mirandabanda.org/files/Cog/VM/](http://www.mirandabanda.org/files/Cog/VM/)?

I was thinking about generalising the VM setup procedure on Travis for Squeak and Pharo builds. That's why I am asking.

[2015-12-28 16:26] peteruhnak commented on #2
Well you need Spur VM for launching  >50496 images and Cog for <50496, so I'm not sure what's the benefit of using Miranda's site over Pharo's one.

[2015-12-28 16:36] fniephaus commented on #2
Sure, the right vm must be picked for the selected image, but there of course is a Cog Spur vm.

Here's an example for a Squeak build with Cog Spur vm.
https://travis-ci.org/hpi-swa/smalltalkCI/jobs/99117951#L218

Also, a Cog vm seems to support a lot more options than a Pharo vm (see below), even though the Pharo one is based on Cog.
Do you know what's different between a Pharo and a vanilla Cog

[2015-12-28 23:26] estebanlm commented on #2
we need our VMs.
is a different setup, with different plugins (and command line options).
So... no, we cannot be ok with CogSpur (even if *in general* images will run... it will not be complete)

[2015-12-28 23:31] fniephaus commented on #2
@estebanlm no worries! That's all I wanted to know :smiley:

[2015-12-30 21:22] fniephaus commented on #20
@peteruhnak @krono @estebanlm @marceltaeumel

Are we all ok with the direction of draft 2 for now or does anyone have any strong objections?
Specifying all Smalltalk-related build configurations under `smalltalk_configuration` shouldn't cause any name clashes and separates Travis-related and Smalltalk-related configuration.
Grouping `baseline` and `baseline_group` under `metacello` clarifies that

[2015-12-31 12:28] peteruhnak commented on #20
I don't think that I entirely understand the reason for rejecting draft 4.

Because the `include:` list can be processed item by item, which is always a single dialect-dialect_config pair (and thus you always know which configuration goes with which dialect). And I don't really see how this differs in Draft 5.

So I suppose the question is whether we want to have just a list of pairs, or an actual

[2015-12-31 16:13] fniephaus commented on #20
I absolutely agree that we should make common scenarios as trivial as possible while not restricting "power users".

And sure, it'd be possible to progress item by item from `include:`. But then we would run the test suits on all platforms in all builds and that is not what we want.

The problem here I think is Travis' matrix expansion.

Here's an example:
[code]

What the user wanted in this case

[2015-12-31 16:49] fniephaus opened #21 "Add support for `./pharo Pharo.image config ...`?"
@peteruhnak mentioned in #20 that Pharo users often use the same script (see below) for their [Jenkins CI builds](https://ci.inria.fr/pharo-contribution/).

I believe it'd make sense to add support for the following:
[code]

Any objections/suggestions?

For the record, here's the full script again:
[code]

[2015-12-31 18:01] peteruhnak commented on #21
I should've explained the script.

The line `./pharo $JOB_NAME.image config $REPO ConfigurationOfSton --install=$VERSION`

Loads the project itself (the name of the project is hardcoded here), however the line doesn't make much sense for us, no? Since we are working with baselines and git(hub) and not smalltalkhub/configurationof.

-----Original Message-----
From: "Fabio Niephaus" <notifications@g

[2016-01-01 11:52] peteruhnak commented on #21
I should've explained the script.

The line `./pharo $JOB_NAME.image config $REPO ConfigurationOfSton --install=$VERSION`

Loads the project itself (the name of the project is hardcoded here), however the line doesn't make much sense for us, no? Since we are working with baselines and git(hub) and not smalltalkhub/configurationof.

[2016-01-01 17:47] fniephaus commented on #21
Can't `$REPO` be a local path and then it's possible to load a project via its configuration?
And a configuration can be exported just like a baseline, right?
Or am I missing something here?
I thought if Pharo users are mostly using configurations, why not adding support for it here?

[2016-01-02 17:30] fniephaus opened #23 "Use JUnit XML output to unify and pretty print test results"
Following up on #15.

Pharo is already exporting a JUnit XML file with test results and it should be straightforward to let Squeak do the same. This will allow us to unify the way test results appear in the Travis log and to make them more human readable.

Here's a pretty cool example of how other projects on GitHub print their log to Travis (using syntactical Travis-specific sugar to enable foldi

[2016-01-02 17:49] fniephaus commented on #17
Code is now in `master` branch: cde998491aacb4d89000d24e186595516de75851.

[2016-01-02 17:49] #17 closed

[2016-01-02 17:50] fniephaus commented on #18
Code is now in `master` branch: cde998491aacb4d89000d24e186595516de75851.

[2016-01-02 17:50] #18 closed

[2016-01-02 23:10] frankshearar opened #24 "No helpers.sh file?"
I'm sure it's just me being dumb. https://travis-ci.org/frankshearar/Control/jobs/99882794 fails because the above-mentioned file doesn't exist:

[code]
 The .travis.yml file (https://github.com/frankshearar/Control/blob/update-to-new-travis-abilities/.travis.yml) looks OK to my untrained eye.

What have I messed up?

[2016-01-03 00:11] fniephaus commented on #24
Looks like I merged #22 too fast, it was a bug in smalltalkCI.
Could you please restart the builds and check if the problem is resolved?
Thanks!

[2016-01-03 00:22] fniephaus commented on #24
I just forked your repository to run the tests myself and then I realized that you are using a Metacello configuration instead of a baseline. I will add support for configurations as soon as I can.

[2016-01-03 00:26] fniephaus opened #25 "Add support for Metacello configurations"
Some projects (e.g. [1]) use Metacello configurations instead of baselines and therefore, we should add support for configurations to smalltalkCI.
This is related to #21.

[1] https://github.com/frankshearar/Control

[2016-01-03 00:29] fniephaus opened #26 "Pharo builds do not fail if project couldn't be loaded"
See https://travis-ci.org/fniephaus/Control/jobs/99890952

[2016-01-03 00:36] #26 closed

[2016-01-03 13:47] #24 closed

[2016-01-03 18:18] fniephaus opened #28 "GemStone on Container-Based Infrastructure"
GemStone builds currently require builderCI fallback and don't run on Travis' container-based infrastructure, because setting up a GemStone VM requires sudo.
We should be able to set up a GemStone VM on the faster infrastructure by moving the setup code to:
https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/smalltalk.rb
The steps necessary to set up a GemStone VM can be

[2016-01-03 18:29] dalehenrich commented on #28
@fniephaus, the latest information about OS prereqs can be found [here](https://github.com/GsDevKit/GsDevKit_home/blob/dev/bin/utils/installOsPrereqs).

In fact *starting from scratch*, I think that the gemstone support should be based on [GsDevKit_home](https://github.com/GsDevKit/GsDevKit_home/tree/dev) (note I'm referencing the dev branch) ... the scripts in GsDevKit_home are written to install

[2016-01-03 21:10] dalehenrich commented on #20
If it's not too late to put my $0.02 in, I'm looking specifically at the `metacello` specification:

[code]

The [common pattern for a Metacello load expression](https://github.com/GsDevKit/Magritte3/blob/master/.travis.yml) that I use is:

[code]

So wouldn't it be more intuitive to do the following:

[code]

and hopefully [multiple names could be passed into the `load:` option](https://github.co

[2016-01-03 21:16] fniephaus commented on #20
Nope, you're not too late :smile: and that's a good idea!
For multiple names you'd probably need to do this:
[code]

Since I've started to work on #25, we'd also need to support this:

[code]

[2016-01-03 21:19] fniephaus commented on #28
Thanks for the info, @dalehenrich.
Since we are able to use sudo in the [`smalltalk.rb`](https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/smalltalk.rb), we just have to do all the magic there if `smalltalk` is set to `GemStone*`.

[2016-01-03 21:21] dalehenrich opened #29 "Combined GemStone/Squeak/Pharo tests?"
In my tests for [GsDevKit_home](https://github.com/GsDevKit/GsDevKit_home/blob/dev/tests/basicInstallServer.sh), I expect to run both a Pharo (and someday Squeak) client and a GemStone server using this [travis.yml](https://github.com/GsDevKit/GsDevKit_home/blob/dev/.travis.yml)  .. the tests are primarily run through the pharo client, but I need to install code into both GemStone and Pharo (and s

[2016-01-03 21:59] joshk commented on #20
Hey All,

Josh here from Travis.

I've read though all the ideas and thought I would give some thoughts as well. Please excuse my bullet points, I find them easier to convey unordered ideas.

I think it might be best not to have this information in the `.travis.yml` file. Instead using a similar pattern to Bundler which allows you to specify which `Gemfile` you want to use. This way you could have

[2016-01-03 22:11] fniephaus commented on #29
Interesting, so you basically need to run two different vms at the same time, right?

I'd probably just set up the server manually via `before_script:` and then run the client tests as usual.
Or are there server-side tests as well? Then you could probably also copy smalltalkCI to a different directory and run it twice at the same time, for the server and for the client.
At the moment, you could pr

[2016-01-03 22:23] fniephaus commented on #20
Hi @joshk, thanks for joining the discussion.
I agree, it's probably best to just use a different file and specify the file within the `.travis.yml`.
This will solve most of the problems mentioned above and make our implementation more independent from Travis' code.

How about we call the file `.smalltalk.yml`, then we can get rid of the `smalltalk_configuration` key and do this:

### Draft 6
[cod

[2016-01-03 22:32] dalehenrich commented on #20
At this point it's probably worth mentioning that for **tODE**, I've introduced the notion of a [TDProjectEntryDefinition](https://github.com/dalehenrich/tode/blob/master/repository/Topez-Server-Core.package/TDProjectEntryDefinition.class/properties.json) that includes information over and above what is strictly needed for `Metacello`. Here is an example of a `TDProjectSpecEntryDefinition` for a `

[2016-01-03 22:34] joshk commented on #20
You could still add something to the `.travis.yml` which allows you to specify the Smalltalk config file, incase you want to run two different configs for builds (if you use matrix.include), or just specify a Travis specific config, like below:
[code]

[2016-01-03 22:36] joshk commented on #20
The `smalltalk_config` value could either be something we pass in when we generate the build script, or an env var we set.

[2016-01-03 22:50] dalehenrich commented on #20
@fniephaus, regarding the info in the [configuration-based smalltalk_configuration](https://github.com/hpi-swa/smalltalkCI/issues/20#issuecomment-168541208):

[code]

Is there a reason why you haven't included a `load:` field there as well? For `Metacello` the load applies equally to baselines or configurations so:

[code]

would make sense ...

[2016-01-03 23:48] fniephaus commented on #20
@dalehenrich I see your point regarding the yml file and if we decide to split the config from the `.travis.yml`, we are free to choose how we want to specify builds. If we want to specify everything in e.g. a Smalltalk file, we still need to parse the information somehow and make it available in the bash script.
I have the feeling that for this we need to write a lot of boilerplate code without b

[2016-01-03 23:49] fniephaus commented on #20
@joshk of course, we need to add something that specifies the new configuration file in the `.travis.yml`.
By "something we pass in" you meant that we could do something like
[code]
instead of just [this](https://github.com/travis-ci/travis-build/blob/4620532908f16eed80ab7e7d791687f001fbfccb/lib/travis/build/script/smalltalk.rb#L50)? Or is there any other common way (besides env vars) that we can

[2016-01-04 00:26] dalehenrich commented on #20
@fniephaus regarding:

Wait, the BaselineOf for the project is shared by all dialects. Typically there is a readme that has dialect-specific smalltalk load code and the travis tests **ought** to be testing that the that workspace will work (at a minimum) ... If there were a file included in the project that was used by the developer and travis to perform to load the project regardless of dialect,

[2016-01-04 00:47] dalehenrich commented on #20
@fniephaus regarding:

I do think that `builderCI` has way too many moving parts and I like the fact that with smalltalkCI, one only need edit the .travisCI file to control *all facets of the travis build* and I would prefer not to lose that simplicity.

But ..... when it came up that a separate file would be needed, I was reminded of the fact that for GemStone/tODE I would probably prefer to refe

[2016-01-04 00:52] fniephaus commented on #20
So if I understand you correctly, you are suggesting a file that specifies how to load a project for each dialect. This file is used by Travis to load the project for the current build/dialect, but it can also be used to load the project from a GitHub repository straight into a user's image independently from the dialect (best-case scenario with 1-click or a one-line doIt)?

[2016-01-04 01:14] fniephaus commented on #20
@dalehenrich regarding:

First, you can find explanations for these options [here](https://github.com/hpi-swa/smalltalkCI/wiki/Template-for-Squeak) and [here](https://github.com/hpi-swa/smalltalkCI/wiki/Template-for-Pharo).

The problem is that a Squeak build works different than a Pharo or GemStone build. For a Squeak build, there are prepared testing images that are being loaded, a Cog vm is dow

[2016-01-04 02:19] dalehenrich commented on #20
@fniephaus regarding:

Basically yes ... here's the Sample project entry with the `STON` syntax peeled away and some of the tODE-specific fields removed:

[code]

Typically, the only thing that will likely change for different platforms is the *loads:* list  and I'd imagine that a collection of associations could be used. In the simplest case (where a CI group in the baseline is defined as `#('Cor

[2016-01-04 02:52] dalehenrich commented on #20
@fniephaus regarding:

I do understand that unifying options can be tricky business, but perhaps in the first version you can make an attempt to unify and then let things decay afterwords :)

I think that starting with a `smalltalkCI companion project` is probably a good idea from the start ... SmalltalkCI expects the class to be there and provides an API that accommodates the *unified at the mome

[2016-01-04 03:46] dalehenrich commented on #28
I've started work on the Gemstone-specific bits based on [GsDevKit_home](https://github.com/GsDevKit/GsDevKit_home/tree/dev) over [here](https://github.com/dalehenrich/smalltalkCI/tree/gs_master) ... so if you guys could add the system configuration bits to smalltalk.rb I'll be able to start testing GemStone in the containers ...

[2016-01-04 03:54] dalehenrich commented on #29
As I think about (and learn about smalltalkCI is put together) I think that I'll be able to do just fine using  [GsDevKit_home](https://github.com/GsDevKit/GsDevKit_home/blob/dev/tests/basicInstallServer.sh) ... `GsDevKit_home` itself downloads and installs Pharo into a known location ... I had thought that Pharo and Squeak and the vms themselves were built into the smalltalk container but that ap

[2016-01-04 07:42] krono commented on #20
If we're splitting out the actual config, we could go for STON, right?

[2016-01-04 08:24] fniephaus commented on #20
@dalehenrich That does sound like a very good idea.
I haven't thought about this before, but with smalltalkCI we could certainly introduce a uniform way of loading project from GitHub which would be nice.
It probably makes sense to make this Metacello-independent. However, the companion project could also load Metacello automatically if required for the load process.

[STON](https://github.com/sve

[2016-01-04 08:36] fniephaus commented on #29
You are right, smalltalkCI will download the corresponding vm for each build while the [`smalltalk.rb`](https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/smalltalk.rb) only installs packages and sets up and runs smalltalkCI.
Dependency caching is one of the benefits of using the new infrastructure and this might be a good use-case for it.

[2016-01-04 08:46] fniephaus commented on #28
Wow, that escalated quickly :smile:

I'd also like to get this done asap, but getting the `smalltalk.rb` updated can take a while, especially when we need to run more advanced commands that require sudo.
Unfortunately, I'm afraid we won't be able to just call the [installOsPrereqs](https://github.com/GsDevKit/GsDevKit_home/blob/dev/bin/utils/installOsPrereqs) script within the smalltalk.rb, becaus

[2016-01-04 13:07] Nef10 opened #30 "working with additional resources like images"
In our project [HPI-BP2015H/squeak-parable](https://github.com/HPI-BP2015H/squeak-parable) we are using images. They need to be copied to the correct directory, so on Travis the [build](https://travis-ci.org/HPI-BP2015H/squeak-parable/jobs/100099398) is failing.

When I copy the files to the correct directory (see [here](https://github.com/HPI-BP2015H/squeak-parable/pull/2/files)) the [build](http

[2016-01-04 14:07] fniephaus commented on #30
Ah, that *is* a problem. It's probably best to set something like this up via `before_script` like you tried to.

Is it enough to let smalltalkCI not fail when the folder already exists? Can you double check locally?
Here's the line of interest:
https://github.com/hpi-swa/smalltalkCI/blob/d8d0d702b478ff4c6ddd22aa2b2d22acde65980b/run.sh#L306

[2016-01-04 15:38] dalehenrich commented on #28
Haha ... nothing like striking when the iron is hot ... it looks like `sudo: true` does the trick and I really like the new structure! Good effort!

[2016-01-04 17:19] dalehenrich commented on #28
As an additional requirement that is unique to travis-ci, [i found that we need to do the following](https://github.com/GsDevKit/GsDevKit_home/issues/50) to get gemstone to run correctly:

[code]

The `sudo hostname` is needed, because `hostname` does not use `/etc/hosts` and GemStone uses the same C api that `hostname` uses **and** requires that the name returned by `hostname` is in `/etc/hosts`.

[2016-01-04 17:40] dalehenrich opened #31 "Dependency Caching for GemStone"
Submitting as a separate issue from https://github.com/hpi-swa/smalltalkCI/issues/28, since using [dependency caching](https://docs.travis-ci.com/user/migrating-from-legacy/#How-Do-I-Cache-Dependencies-and-Directories%3F) is an optimization to be applied after https://github.com/hpi-swa/smalltalkCI/issues/28 is finished

[2016-01-04 19:06] dalehenrich commented on #28
Minor milestone - [tests green running GemStone via GsDevKit_home in a container --- with sudo: true](https://travis-ci.org/dalehenrich/smalltalkCI)

[2016-01-04 19:33] fniephaus commented on #28
Nice! If you open a PR I can merge your code in if you want.

BTW: with `sudo: true` you explicitly disable the new container-based infrastructure, but once we have updated the `smalltalk.rb` it should be possible to just do `sudo: false` to enable it.

[2016-01-04 20:07] dalehenrich commented on #28
I don't think I'm quite ready to merge as I've had to monkey with
.travis.yml files on master and gs_master and of course I have to do the
`sudo hostname travis.dev` and I am just now seeing if I can push these
settings to the fixture .travis.yml (I'm using a gs_fixture branch with
my changes)... but then that would mean the the gemstone projects
couldn't use the same fixture as the other projects

[2016-01-04 20:12] fniephaus commented on #28
No worries. Please take your time while we figure how to prepare a container-based image for a GemStone vm...and of course let me know if there's anything I can help with.

[2016-01-04 20:13] fniephaus commented on #31
Just to make sure: your idea is to cache the GemStone vm after it has been set up, right?

[2016-01-04 20:24] fniephaus commented on #28
@bahnfahren, @chistopher, @jchromik, and @Nef10:
I am assuming you are busy working on [squeak-parable](https://github.com/HPI-BP2015H/squeak-parable/) and maybe also #23, so I will have a look at how to prepare an image for a GemStone vm.

[2016-01-04 22:40] #30 closed

[2016-01-04 22:41] fniephaus commented on #30
Could you please restart the build and try again? If it's not working, please reopen the issue.

[2016-01-04 22:43] fniephaus commented on #21
Instead of using `./pharo Pharo.image config ...`, I have decided to use [this](https://github.com/hpi-swa/smalltalkCI/blob/6828ef8df6e2419682052282f753639a87c5d7ab/pharo/run.sh#L200-L210) for now.

[2016-01-04 22:43] #21 closed

[2016-01-04 22:57] dalehenrich commented on #31
I was thinking along the lines of caching the GemStone and Pharo client
downloads as they are not likely to be changed during abuild ... If it's
feasible to cache more then that would be even better ...

On 01/04/2016 12:17 PM, Fabio Niephaus wrote:

[2016-01-04 23:06] fniephaus commented on #31
I don't think the build wouldn't benefit much if you only cache the download files. The caching basically uploads a zip file to S3 and downloads and unpacks it again during the next build.
You might want to read this if you haven't already:
https://docs.travis-ci.com/user/caching/#Things-not-to-cache

However, it might still make sense to cache the images if it's possible and faster to update them

[2016-01-04 23:20] dalehenrich commented on #31
Good information ... thanks!

On 01/04/2016 03:06 PM, Fabio Niephaus wrote:

[2016-01-05 00:24] fniephaus commented on #25
@frankshearar: I have added [support for Metacello configurations](https://github.com/hpi-swa/smalltalkCI/issues/25) to smalltalkCI today.

Since we are still [discussing how to configure Smalltalk builds in the future](https://github.com/hpi-swa/smalltalkCI/issues/20), a Metacello configuration can only be set via command line parameter at the moment.
So once we have a solution you should probabl

[2016-01-05 00:24] #25 closed

[2016-01-05 02:01] dalehenrich opened #33 "Forked version of repo does not pass travis-ci builds"
When I [run travis against a fork of the master branch](https://travis-ci.org/dalehenrich/smalltalkCI/builds/100259233), all of the builds fail with the same error:

[code]

The only difference I see in the logs leading up to the failure is that in hpi-swa the following lines appear:

[code]

and:

[code]

I cannot imagine what might be going on ... I've tried explicitly setting `BASELINE` and I'v

[2016-01-05 08:29] peteruhnak commented on #20
Do we really? Because you want to have the information in bash so you can run commands executing some smalltalk image. But you can do that directly from smalltalk itself. In fact the whole bash script could be rewritten completely in smalltalk... so you would have one image that would be running the CI and another image that would contain the project.

Or perhaps some middle ground could be reache

[2016-01-05 08:47] krono commented on #20
@peteruhnak wrote:

Well, the three big projects that come to my mind that use Travis-CI and Smalltalk are [Seaside](https://github.com/SeasideSt/Seaside), [Filetree](https://github.com/dalehenrich/filetree), and [Metacello](https://github.com/dalehenrich/metacello-work) itself. All three are cross-dialect.

[2016-01-05 09:00] peteruhnak commented on #20
@krono I am well aware that they do exist, that's why I used the term "majority" and not "all".

My point is that if you are doing cross-platform stuff you usually know what you are doing and you are used to getting your hands dirty in the configuration.

If you never leave the happy land of a single platform you should be able to get away with a very minimal setup.

[2016-01-05 09:56] fniephaus commented on #33
Oooops, I guess that happened because I deleted the `.travis.yml` from the fixtures branch.
I know what is going on and there's a reason why we still need the yaml parser for now.
Everything should get much easier with the next `smalltalk.rb` update.

I've re-added the file, a restart should fix your builds.
Sorry about that!

[2016-01-05 09:56] #33 closed

[2016-01-05 12:00] Nef10 commented on #30
Works, thanks :)

[2016-01-05 16:53] dalehenrich commented on #20
@peteruhnak <https://github.com/peteruhnak> and if you make it too
difficult, folks will be discouraged from writing cross platform
projects ...

If I'm not mistaken, there are advantages (independent of platform) to
both the class/category and package/baseline approach to specifying
which tests to run so having a a range of techniques for specifying
tests is advantageous

On 1/5/16 1:00 AM, Peter

[2016-01-05 17:07] dalehenrich commented on #20
@peteruhnak ... the point of using a spec for specifying the args to the
Metacello load expression is that one can reason about the load
expression by looking at the various args supplied without having to
execute the load expression itself ...

In tODE I use the MetacelloProjectLoadSpec as a shared load expression
to be shared amongst multiple images ... the developer makes changes to
the shared

[2016-01-05 17:09] dalehenrich commented on #33
Oh good ... thanks for figuring this one out ...

On 1/5/16 1:56 AM, Fabio Niephaus wrote:

[2016-01-05 21:14] fniephaus commented on #33
No worries. I would have noticed the problem with the next smalltalkCI build myself.
Happy hacking :smile:

[2016-01-05 21:44] dalehenrich opened #34 "Why two builds per platform?"
In a [travis build using dalehenrich/master](https://travis-ci.org/dalehenrich/smalltalkCI/builds/100435571) - which should match hpi-swa/master - it looks like each platform has two builds:

- 33.1 Smalltalk: Squeak -trunk
- 33.2 Smalltalk:Squeak-trunk

and I am not versed enough YAML to understand why those two builds are created.

From a [build against gs_master](https://travis-ci.org/dalehenri

[2016-01-05 21:48] fniephaus commented on #20
@peteruhnak I thought about a Smalltalk-based solution when I started with all of this, but my goal was to get Smalltalk tests running on Travis CI as easy *and* fast as possible. That's why I decided against downloading and running two vms+images. Also, bash scripts seem to be the best way to work on Travis.

Using a "smalltalkCI companion" would be a hybrid solution: the bash scripts download th

[2016-01-05 21:58] fniephaus commented on #34
The tests run for all supported Smalltalk dialects on all supported operating systems (Linux & OS X).
That's defined by [L4-L11](https://github.com/hpi-swa/smalltalkCI/blob/981ffbd83c84f429b658429257af852f136d8361/.travis.yml#L4-L14) and [L16-L18](https://github.com/hpi-swa/smalltalkCI/blob/981ffbd83c84f429b658429257af852f136d8361/.travis.yml#L16-L18). Basically `smalltalk` x `os` happens.
And in

[2016-01-05 22:01] fniephaus commented on #34
Also, `addon.apt.host` [does not seem to be supported](https://docs.travis-ci.com/user/apt/).
How about the following :smile:
[code]
Source: https://docs.travis-ci.com/user/customizing-the-build/#Custom-Hostnames

[2016-01-05 22:15] dalehenrich commented on #34
Ah of course ... I should have pulled out my magnifying glass and looked closer at those silly icons ... thanks for the explanation ... the `sudo hostnames travis.dev` clearly worked on Linux and not on osx  which explains my failure ...
Btw where do I find the information about the version of osx being used. The Worker and buid info lead be to believe that it's linux... (the icon appears to be th

[2016-01-05 22:20] fniephaus commented on #34
It's not obvious I'm afraid, but this tells you:

https://blog.travis-ci.com/2015-05-29-this-week-in-travis-ci/

Also, there usually is a lot more information under `Build system information` for Linux builds.

[2016-01-05 22:20] #34 closed

[2016-01-05 22:34] dalehenrich commented on #34
`sudo hostname travis.dev` still required and likely the `osx` equivalent is needed as `addons:host:travis.dev` is not sufficient on either platform ... thanks for the info

As a side not, did you notice that the `install dependencies` is apparently failing on linux:

[code]

I recognize those from the `addon:apt:` that used to be present in one of the `.travis.yml` files - don't recall which one

[2016-01-05 22:44] fniephaus commented on #34
The problem why apt is that your builds run on GCE and Ubuntu Trusty. I've already sent you a PR :smiley:

`addons:host:travis.dev` modifies `/etc/hosts`, but `sudo hostname travis.dev` modifies `/etc/hostname`, right? That might be the other problem. Just use `sudo hostname travis.dev` for now, and I will find a way to get this running on the container-based infrastructure later :smiley:

[2016-01-05 23:05] dalehenrich commented on #34
Where are the library loads coming from? I don't see them anywhere ....

For GsDevKit_home, the installPrereqs script installs the prereqs for Squeak/Pharo using `sudo apt` and that is working ... so the fact that they are failing during `install` is okay for the time being, but I'll integrate your pul request just the same .. thx!

[2016-01-05 23:10] fniephaus commented on #34
What do you mean by "library loads"?

Apparently, this one went through:
https://travis-ci.org/dalehenrich/smalltalkCI/jobs/100463272

[2016-01-06 00:03] dalehenrich commented on #28
osx has a different method for setting the hostname .. here's some bash for both linux and osx (in addition to the `addons:host:travis.dev`):

[code]

[2016-01-06 02:09] fniephaus commented on #28
Yay: https://travis-ci.org/hpi-swa/smalltalkCI/builds/100495992

[2016-01-06 02:20] dalehenrich commented on #28
Excellent!

[2016-01-06 02:22] dalehenrich commented on #28
I will start converting a few projects to smalltalkCI as a I touch them and then update the wiki and read with more current info ...

[2016-01-06 21:48] fniephaus commented on #28
Now that we have a first GemStone build running, I am wondering what other versions smalltalkCI can and should support. What do you think, @dalehenrich?

[2016-01-06 22:33] dalehenrich commented on #28
You mean other versions of GemStone? The range runs from 2.4.4.1 to
3.2.12 and all of them ought to work right out of the box ...

On 01/06/2016 01:48 PM, Fabio Niephaus wrote:

[2016-01-06 23:12] fniephaus commented on #28
Yes, GemStone versions. Are there some major ones that we should add to smalltalkCI's build matrix?

[2016-01-06 23:21] dalehenrich commented on #28
2.4.7, 3.1.0.6, and 3.2.12 should be good enough for now ....

On 01/06/2016 03:12 PM, Fabio Niephaus wrote:

[2016-01-06 23:57] fniephaus commented on #28
Mhh I am getting this error now:

e.g.: https://travis-ci.org/hpi-swa/smalltalkCI/jobs/100713275

Is there a way we can authenticate these requests?

[2016-01-07 00:10] fniephaus commented on #28
This appears to be the [GitHub API rate limit](https://developer.github.com/v3/#rate-limiting). Not sure what we could do about this...when loading code from GitHub, Metacello will not just download but clone the entire repo, right? The problem would disappear if it would only download the repo, it's also unlikely that the user is interested in the repo history, right?

[2016-01-07 01:28] dalehenrich commented on #28
Yes this is the github API rate limit ... when Metacello is trying to resolve a tag pattern, it makes requests against the github api, and is subject to the api rate limit ... authentication is possible, but it does require someone's credentials and I'm not sure you can specify credentials in a public repository ... If you figure out how to do that let me know ...  I think there are some facilitie

[2016-01-07 08:16] frankshearar commented on #25
Thanks very much @fniephaus - works like a charm!

[2016-01-07 15:33] dalehenrich opened #35 "Travis WebLint (http://lint.travis-ci.org)doesn't recognize `smalltalk` as a language"
An attempt to [validate](http://lint.travis-ci.org) the .travis.yml for [Object Explorer](https://github.com/dalehenrich/obex/blob/master/.travis.yml) resulted in the following errors:

- in language section: illegal value smalltalk, defaulting to ruby
- unexpected key smalltalk, dropping
- your repository must be feature flagged for the os setting to be used

Perhaps it is just a matter of time b

[2016-01-07 18:53] fniephaus commented on #35
[travis-lint](https://github.com/travis-ci/travis-lint) seems to be lagging behind quite a bit.

This might be something @bahnfahren, @chistopher, @jchromik, and @Nef10 could work on, since it isn't time-critical.

[2016-01-07 19:00] fniephaus commented on #28
There are a couple of ways to [encrypt keys on Travis](https://docs.travis-ci.com/user/encryption-keys/), but they don't work across GitHub projects, because the encrypted data is tied to the corresponding project.
However, GitHub supports [read-only keys](https://developer.github.com/guides/managing-deploy-keys/#deploy-keys) for repositories that could be used. But I am not sure how feasible this

[2016-01-07 19:35] dalehenrich commented on #28
I think that individual repo owners can decide whether or not they want to define keys ... and I haven't had the bandwidth to take this any further, since the failures I get due to read limits are not that frequent and restarting one or two jobs because of random network problems is pretty much common anyway:)

[2016-01-07 20:22] dalehenrich commented on #28
I would think that the energy should be spent on created a cache of the
build, then the only exposure to the rate limit is from the project
itself (almost)

On 01/07/2016 11:00 AM, Fabio Niephaus wrote:

[2016-01-07 21:02] fniephaus commented on #28
That's a good point. And for that we only need to cache the build folder which already includes `package-cache` and `github-cache`. The `.image` and `.changes` can be removed before that to reduce the cache size.

[2016-01-07 21:12] fniephaus opened #36 "Cache github-package folder"
Sometimes builds can hit a GitHub API limit ([example](https://github.com/hpi-swa/smalltalkCI/issues/28#issuecomment-169502593)), because Metacello uses the API for project loading purposes.

Caching the `github-package` folder may resolve that problem (as [suggested](https://github.com/hpi-swa/smalltalkCI/issues/28#issuecomment-169794903) by @dalehenrich).

smalltalkCI already has a build folder

[2016-01-07 21:14] fniephaus commented on #31
It doesn't seem to make sense to cache images or vms, because you want a fresh image per build and a vm is just a zip download. So uploading this stuff to S3 via Travis is not going to speed anything up, it's only more expensive for Travis.
However, caching the `github-cache` folder does make sense in order to avoid hitting GitHub's API limit.
I have opened #36 for that.

[2016-01-07 21:14] #31 closed

[2016-01-09 16:58] fniephaus commented on #28
@dalehenrich do you mind looking through this: https://github.com/fniephaus/travis-build/commit/31be289bbf89178e9839f4b4e894072330bcdc92
This is a first version and I still need to add tests.

[2016-01-09 17:33] fniephaus commented on #28
@dalehenrich this link is probably better: [`smalltalk.rb`](https://github.com/fniephaus/travis-build/blob/fniephaus-smalltalkCI/lib/travis/build/script/smalltalk.rb).

[2016-01-10 22:02] dalehenrich opened #37 "What changed? ... smalltalkCI build failing with `Project home is not found.`"
[here's the failed build](https://travis-ci.org/dalehenrich/obex/jobs/101467078) ... here's the log excerpt:

[code]

[2016-01-10 23:37] #37 closed

[2016-01-10 23:40] fniephaus commented on #37
Sorry about the problem, I have submitted a fix. Please restart your builds. :smiley:

[2016-01-11 00:03] dalehenrich commented on #37
Great! Thanks .... [restarting] (https://travis-ci.org/dalehenrich/obex/builds/101484759)

[2016-01-11 00:14] dalehenrich commented on #37
.... and it's green!

[2016-01-11 00:50] fniephaus commented on #37
:sweat_smile: great! I've been hacking on that smalltalkCI companion which is why I wanted to merge all unrelated changes from `dev` into `master`.

[2016-01-11 01:02] dalehenrich commented on #37
No problem ... I've converted one project so far and don't mind if
things occasionally break ... getting things "right" is more important
than "not breaking things" at this point in time ...

On 1/10/16 4:50 PM, Fabio Niephaus wrote:

[2016-01-11 01:44] fniephaus commented on #37
The first version of the companion works: https://travis-ci.org/hpi-swa/smalltalkCI/builds/101494244
Check out the [dev](https://github.com/hpi-swa/smalltalkCI/tree/dev) branch.
Still need to work on GemStone support and the testing itself, but e.g. JUnit output for Squeak works.

[2016-01-12 00:04] fniephaus commented on #20
Hi all,

I have started to work on a smalltalkCI companion project that provides cross-platform compatibility and therefore also unifies tests results etc.

Here's a current specification example:

### Draft 7
[code]

The companion loads all load specs for the given platform. Currently there only is a `SCIMetacelloLoadSpec` which can occur multiple times within `#loadSpecs`. When running on Travis

[2016-01-14 18:08] fniephaus opened #38 "GemStone builds currently broken"
GemStone builds are currently broken due to a syntax error I didn't see when updating the `smalltalk.rb`.
I will try to fix that with Travis asap.

/cc @dalehenrich

[2016-01-14 21:26] fniephaus commented on #38
A fix has been sent to Travis: https://github.com/travis-ci/travis-build/pull/596

[2016-01-15 00:52] dalehenrich commented on #38
Hmmm, the patch was merged 2 hours ago, but I'm still getting a [syntax error](https://travis-ci.org/dalehenrich/obex/jobs/102476586) ... any idea what the lag time is between the merge and it actually showing up?

[2016-01-15 01:08] fniephaus commented on #38
Just because it is merged doesn't mean it is in production. But it will be with the next release I guess.

However, I already noticed a different problem: https://github.com/docker/docker/issues/8902
I'm afraid this could mean that we aren't able to set the hostname in container-based builds.
Can you think of a way to use the random hostname that is provided by Travis?

[2016-01-15 02:19] dalehenrich commented on #38
well the problem is that `hostname` returns the "wrong answer" --- it is
not in `/etc/hosts` ... so I suppose the workaround would be to add the
result of `hostname` to the `/etc/hosts`... for gemstone to function the
result of `hostname` needs to be in `/etc/hosts`

--- we cannot make those kinds of changes to the older versions of the
product and it isn't likely that we'll change a future versio

[2016-01-15 09:26] Balletie opened #39 "Builds broken due to yaml_parser when `smalltalk` key doesn't map to a list"
Consider the following travis.yml taken from [my project](https://github.com/Balletie/GitHub/blob/49c755736fe49b7d4ae8ca0d71c111b4ec94d819/.travis.yml), which does not work now:

[code]

My builds were working fine up to yesterday. Is the value for `smalltalk` required to be a list now? I got the following error:

[code]

[2016-01-15 09:46] Balletie commented on #39
Fixed by turning this into a list:

https://github.com/Balletie/GitHub/commit/3873731e4330d434871d1fc233d44de8bffb8eb1

[2016-01-15 09:57] fniephaus commented on #39
Hi @Balletie,
Yes, this is currently a limitation and the reason why I haven't been making this even better is that we are working on a completely different way to configure Smalltalk builds (see #20 and [`dev`](https://github.com/hpi-swa/smalltalkCI/tree/dev) branch).
Feel free to join the discussion there!

[2016-01-15 10:06] fniephaus commented on #38
So, adding the hostname to the `/etc/hosts` is still a workaround and requires a product change?
Correct?
It does work fine for OS X, because they don't run on the container-based infrastructure, but it'd still be nice to get this working somehow.

BTW: it seems that the patch still hasn't been deployed yet.

[2016-01-15 10:17] Balletie commented on #39
Alright, I'll check out the discussion but I'm not sure if I can be of much contribution. Thank you for your response.

[2016-01-15 10:41] fniephaus commented on #39
No worries! Just keep in mind that you'll soon need to update your build configuration.
However, we try to not break backward compatibility...

[2016-01-15 10:44] Balletie commented on #39
I will subscribe to that issue so that I know when the switch should be done. Thanks :)

[2016-01-15 10:47] fniephaus commented on #39
Perfect! Thanks :smiley:

[2016-01-15 19:53] dalehenrich commented on #38
On 1/15/16 2:06 AM, Fabio Niephaus wrote:

No. If smalltalkCI.rb adds the result of `hostname` to /etc/hosts and
travis-ci does not blow it's lunch then there is no need for a GemStone
product change ...

Again. GemStone expects the host name answered by the `/bin/hostname` to
be present in `/etc/hosts`. If you look at an un-modified travis
container(?), the result of `/bin/hostname` is not presen

[2016-01-16 23:20] fniephaus commented on #20
Are there any further suggestions regarding the latest draft? Is the filename `smalltalk.ston` ok?

I've everything already running on Squeak and Pharo and I'm working on support for GemStone (#28).

[2016-01-16 23:26] dalehenrich commented on #20
As a very weak suggestion, perhaps `smalltalkCI.ston` would be just a tad bit more descriptive...

[2016-01-17 03:14] fniephaus commented on #20
Done!

[2016-01-20 22:01] fniephaus commented on #28
@dalehenrich Mh, `kern.sysv.mseg` does not seem to exist (anymore?).
https://github.com/GsDevKit/GsDevKit_home/blob/555475f48bca2960644a128f59e4567d42cc49f5/bin/downloadGemStone#L239
https://travis-ci.org/GsDevKit/GsDevKit_home/jobs/100163003#L303

Travis has deployed the patch to their staging instance and I now need to fix the [hostname issue](https://staging.travis-ci.org/fniephaus/SWT-Demo/job

[2016-01-20 22:32] dalehenrich commented on #28
Thx @fniephaus ... created issue and will address in next release of GsDevKit_home ... the missing param doesn't appear to affect operation of GemStone on OSX ....

Hopefully adding current `hostname` to /etc/hosts should make GemStone happy .... as long as travis remains happy:)

[2016-01-20 22:32] dalehenrich commented on #28
Oh ... what is the installation issue?

[2016-01-20 23:03] fniephaus commented on #28
It's just another mistake that I've made. `travis-build` is a Ruby program that generates a bash script that then runs on a Travis worker. And I mixed up Ruby with Bash code...
I'm afraid we'll need to wait for the next update :cry:

[2016-01-20 23:04] dalehenrich commented on #28
Ah okay ... no problem! It is well worth the wait :)

[2016-01-20 23:10] fniephaus commented on #28
I hope so!

In the meantime, would you mind having a look at the code in [`dev`](https://github.com/hpi-swa/smalltalkCI/tree/dev) and check if this would work in GemStone?

The companion is located at: [`lib/SmalltalkCI-Core.st`](https://github.com/hpi-swa/smalltalkCI/blob/dev/lib/SmalltalkCI-Core.st).
The tests for the companion are located at https://github.com/hpi-swa/smalltalkCI/tree/dev/tests

[2016-01-20 23:16] dalehenrich commented on #28
I'm kinda tied up at the moment ... I assume you expect the SmalltalkCI-Core to be present in an image, or do you load it as part of the startup?

If it needs to be pre-loaded a filetree package would be more convenient for GemStone and I'd just make the package part of the bootstrap step --- installed by https://github.com/GsDevKit/gsUpgrader ...

[2016-01-20 23:19] fniephaus commented on #28
No worries, take your time. We need to wait for Travis anyway...

I am currently trying to do this (obvious not working at all at the moment):
https://github.com/hpi-swa/smalltalkCI/blob/dev/gemstone/run.sh#L80-L83

[2016-01-20 23:22] dalehenrich commented on #28
Ah, GemStone interprets env vars at the beginning of file paths, so the following should work: '$SMALLTALK_CI_HOME/lib/SmalltalkCI-Core.st'; if `SMALLTALK_CI_HOME` is exported to the shell, before the installation of GemStone is started ... if the other path is used as a file path, the same trick should work ...

[2016-01-20 23:26] fniephaus commented on #28
The entire EOF expression will already become something like this:
[code]
So that should be fine, right?

[2016-01-20 23:31] dalehenrich commented on #28
Yeah that looks pretty good, probably need to look up the `SmalltalkCISpec` class:

[code]

[2016-01-20 23:34] fniephaus commented on #28
:+1: noted!

[2016-01-22 13:17] fniephaus commented on #20
Actually, I have decided to stick with `smalltalk.ston` for now, because it relates more to the `smalltalk` key in the `.travis.yml`.
It has to contain a `SmalltalkCISpec` which makes it clear enough I think.
Also, I will allow both, a `smalltalk.ston` and a `.smalltalk.ston`, just like Travis.

[2016-01-22 13:18] fniephaus commented on #20
Also, I am planning to release the new version this weekend. :smiley:

[2016-01-22 13:30] estebanlm commented on #20
nice :)

[2016-01-22 13:33] estebanlm commented on #20
btw... not that important, but if you stick with ston (which IMO is a good choice), why not to call the companion file `.travis.ston` or `travis.ston` (or `.travis-smalltalk.ston`) reason is stupid, but I like to see related files together when I do `ls` :wink:

[2016-01-22 14:00] fniephaus commented on #20
I see why you would like to call it `.travis.ston`, but I don't want that, because that file cannot only be used for CI, but also for loading a project. As @dalehenrich mentioned in https://github.com/hpi-swa/smalltalkCI/issues/20#issuecomment-168548499, we could do something like this in the future:

[code]
The only requirement is to have SmalltalkCI available in the image.

However, I might allo

[2016-01-24 13:03] #23 closed

[2016-01-24 15:35] fniephaus commented on #39
@Balletie time to update your build configuration :smiley:
everything you need is in the README.md

[2016-01-24 15:35] #39 closed

[2016-01-24 15:42] fniephaus commented on #20
I have just released the new specification via `.smalltalk.ston` or `smalltalk.ston`.
Everything you need should be documented in the [README.md](https://github.com/hpi-swa/smalltalkCI/blob/master/README.md).

Please let me know if you need any help or if you encounter any problems.

[2016-01-24 15:42] #20 closed

[2016-01-24 16:25] fniephaus opened #41 "Add ability to produce an all-in-one bundle"
@SergeStinckwich mentioned that it would be useful to be able to produce an all-in-one bundle.
I am not sure yet, how bundling a project would work best, especially for GemStone.
However, smalltalkCI could export the path to the bundle as an environment variable.
The developer is then able to [use Travis to deploy](https://docs.travis-ci.com/user/deployment/custom/) that bundle to his preferred se

[2016-01-24 16:30] fniephaus commented on #38
The patch has been deployed but it still isn't enough to get GemStone tests running. A new one is on the way...I'm closing this in favor of #28.

[2016-01-24 16:30] #38 closed

[2016-01-24 16:31] SergeStinckwich commented on #41
Thank you @fniephaus for this issue. I dunno about Gemstone, but for Pharo, there is already images bundled with a mac or windows VM available on CI: https://ci.inria.fr/pharo/view/Launcher/
Scripts are available here:
https://github.com/pharo-project/pharo-ci/blob/master/ci-jobs/pharo/Launcher/build.sh
https://github.com/pharo-project/pharo-ci/blob/master/ci-jobs/pharo/Launcher-Mac/build.sh
https

[2016-01-24 16:31] fniephaus commented on #28
I have opened https://github.com/travis-ci/travis-build/pull/607 which hopefully fixes all remaining issues that keep us from running GemStone tests on Travis containers.

[2016-01-24 16:39] fniephaus commented on #29
With the new STON configuration file, it should be possible to reduce the overhead a lot.
This still needs to be a GemStone build and then you should be able to overwrite `script` in your `.travis.yml` like this:

[code]
You'd need to make sure that GemStone is running while the clients tests are running, but we can't test the above anyway at them moment because of #28.

[2016-01-26 23:34] fniephaus opened #42 "Only load code for given platform"
As @estebanlm pointed out, it would be better to only load the code for the given platform.
I will have a look into this as soon as I can.

[2016-01-26 23:47] fniephaus opened #43 "Add support for Pharo packages"
As requested by @estebanlm.

[2016-01-27 01:08] dalehenrich commented on #28
Looking forward to this --- great!

[2016-01-27 01:28] dalehenrich commented on #41
For now, https://github.com/GsDevKit/GsDevKit_home is the best mechanism for producing an "all-in-one bundle" ... so a solution for GemStone shouldn't be a blocking factor for this capability ...

[2016-01-27 01:34] dalehenrich commented on #29
Okay ... this is starting to make sense ... hopefully this next round of fixes will let me start doing builds again:) and then I can start experimenting ...

[2016-01-31 22:35] fniephaus commented on #43
I've merged #45 into master: e3ac388f73e7e45745359635672d94ad0c1eaeb8
Packages support should now work.
@estebanlm can you verify this? Reopen this issue if it doesn't work. Thanks!

[2016-01-31 22:35] #43 closed

[2016-01-31 22:36] fniephaus commented on #42
This is now the case. There is:

- SmalltalkCI-Core
- Smalltalk-Gemstone
- Smalltalk-Pharo
- Smalltalk-Squeak

Thanks for you help, @estebanlm.

[2016-01-31 22:36] #42 closed

[2016-02-03 10:52] zecke opened #47 "Support custom #version for loading MC Configurations"
Pharo Versionner doesn't create a BaselineOf but only a ConfigurationOf. It looks like when I specify #configurarion: 'ShortMessageCenter' it will always try to load #stable of that configuration. I would like to only have #stable when actually making a release and not have stable be an alias for HEAD.

Is it already possible to specify the version that should be loaded or how should it work?

[2016-02-04 13:04] fniephaus commented on #47
@zecke thanks for the suggestion. I will add `#version` support as soon as I can :smiley:

[2016-02-04 18:59] dalehenrich commented on #29
I don't think this issue is applicable ... right now

[2016-02-04 18:59] #29 closed

[2016-02-04 19:08] dalehenrich opened #48 "SmalltalkCI>>readSTONSpec: is not portable to GemStone"
The classes StandardFileStream and MultiByteFileStream used in [SmalltalkCI>>readSTONSpec:](https://github.com/dalehenrich/smalltalkCI/blob/master/src/SmalltalkCI-Core.st#L280) are not present in GemStone and the method probably should be made abstract and the current implementation moved to Squeak, as it appears that SmalltalkCI>>readSTONSpec: is implemented differently for Pharo as well ...

Now

[2016-02-04 19:17] dalehenrich commented on #48
Okay, what I thought was a move of the smalltalkCI code into packages "package support" was not what I thought it was ... you realize that I will have to hand edit these chunk files to avoid massive changes when filed out from GemStone :(

[2016-02-04 19:17] dalehenrich commented on #48
I think I'll create a FileTree repo somewhere with this code in it and then let you create chunk files :)

[2016-02-04 20:42] dalehenrich commented on #48
Hmmmm, I can't even edit the .st files with a test editor because of line ending issues (doing development on a mac) ....

[2016-02-04 20:43] dalehenrich commented on #48
... I'll edit the chunk files in the web browser

[2016-02-04 21:15] zecke commented on #47
Okay more than this is needed. Starting with the fact that I used "Versionner" in Pharo to create a Metacello Configuration, how can I refer to the "current" git HEAD to fetch my packages? I want to avoid putting "github://zecke/osmo-smsc:branch" in it (as somebody might have forked the repository or is using a different branch).

[2016-02-04 21:31] dalehenrich commented on #47
Since there's not much info in the comments here, I'm curious what you are trying to do.

I assume that you've already had the conversation about the fact that a BaselineOf is supposed to be the way to test a commit, since a BaselineOf automatically refers to the commit that the original BaselineOf was loaded from ...

I've looked at [your configuration](https://github.com/zecke/osmo-smsc/blob/mas

[2016-02-04 21:37] zecke commented on #47
Thank you for your comment. I'm not literate when it comes to Monticello and I tried to stay with just using Versionner of Pharo.

My goal would be:

* Test the latest code on travis-ci (so BaselineOf seems to be the easiest)
* Make it possible for others to load parts/all of it. This seems to bring me back to maintaining a ConfigurationOf?

Is there a way I could either:

* Use the ConfigurationO

[2016-02-04 21:44] dalehenrich commented on #47
If you use a BaselineOf then others can load your project as well. Here's the Metacello expression for loading code using a BaselineOf:

[code]

If you have a local clone of the git repo, then the following is the load expression:

[code]

You need to make sure that you've got the [latest version of Metacello loaded](https://github.com/dalehenrich/metacello-work#pharo30-pharo40-and-pharo50), since

[2016-02-04 21:48] fniephaus commented on #48
No problem at all, I'm happy to take care of the rest.
`.st` files aren't really nice to develop with, but they are easy to deploy since they don't require anything to be installed in an image.

[2016-02-04 21:54] dalehenrich commented on #48
Thanks, I'm just about ready to load/run the test packages, which I presume are only intended for testing the SmalltalkCI implementation (they don't appear to be run during the actual travis-ci run from the test scripts although, I still can't tell what's actually being tested there:). Shouldn't these tests be run by travis (I can't tell if they are or not...)

I assume that there are at least a h

[2016-02-04 21:58] fniephaus commented on #48
Yes, the Smalltalk tests in `./tests` are self-tests and Travis loads and runs them when testing smalltalkCI itself. The code coverage isn't really high at the moment as the code is still changing a lot, but I hope this all will change soon.

[2016-02-04 22:03] dalehenrich commented on #48
Are you referring to the tests in https://github.com/dalehenrich/smalltalkCI/tree/issue_48/tests/SmalltalkCI-Tests.package .... if so could you point me to where those tests are loaded?

Also these SmalltalkCI-Tests look like they are  platform-specific ... perhaps even pharo-specific ... i would like to refactor things a bit so that the tests can be multi-platform ... Do they pass on Squeak?

[2016-02-04 22:06] fniephaus commented on #48
The loading and testing is specified in the [`.smalltalk.ston`](https://github.com/hpi-swa/smalltalkCI/blob/master/.smalltalk.ston) and yes, they do [pass on Squeak](https://travis-ci.org/hpi-swa/smalltalkCI/builds/106706709). However, it totally makes sense to have platform-specific tests as well to test platform-specific code!

[2016-02-04 22:13] dalehenrich commented on #48
Okey doke, that means that the tests that don't pass in GemStone are #squeakCommon tests and need to be packaged separately .... or .... it looks like `SmalltalkCI platformSymbol` is used to isolate some pharo-specific tests and right now the only test that is failing is SmalltalkCITest>>testClassesToTest, because the categories are specific to pharo/squeak ... so it looks like I won't have to spl

[2016-02-04 22:18] fniephaus commented on #48
Perfect!
Also, we are free to change the code at anytime as long as we don't break the API :smile:
At some point, we do want platform-specific tests, but first things first: let's make GemStone run in a Travis container!

[2016-02-04 22:39] dalehenrich commented on #48
I'm inclined to add `SmalltalkCI class>>runCIForSpec:` where you pass in a reified instance of SmalltalkCISpec to initiate tests ... if you don't want it in SmalltalkCI, I'll put it in SmalltalkCIGemstone.

[2016-02-04 23:16] fniephaus commented on #48
Don't worry too much about things like this. I will have to go over to code anyway once you are done and this way I might learn something new as well :smile:

[2016-02-05 00:09] dalehenrich commented on #48
well, it looks like using the web browser to edit the .st files converts all of the CRs to LFs and no good diffs ... CRs in the .st file is probably a bad idea if we want to be able to review changes on github

[2016-02-05 00:10] dalehenrich commented on #48
[see this diff](https://github.com/dalehenrich/smalltalkCI/compare/master...dalehenrich:issue_48?expand=1#diff-d953b502359755b80c7e57c883bd41f3L1)

[2016-02-05 02:08] dalehenrich commented on #48
@fniephaus I can't find the code that causes a run to fail ... is this some more magic from smalltalk.rb? If so what does it expect?

[2016-02-05 10:13] fniephaus commented on #48
These CRs are really annoying and I've already thought about reformatting the files after exporting with another editor to make them more git-compatible.

A build currently fails if:
- the loading or testing process closes the image with exit code !=0, or
- when there are [any errors or failures](https://github.com/hpi-swa/smalltalkCI/blob/add3c7fd5f64473fdd45fe921c5b30ad1d6da3af/lib/junit_xml_pre

[2016-02-05 14:55] dalehenrich commented on #48
Ah okay ... then I'll have run.sh check the results of the tests end exit accordingly .. thanks

[2016-02-05 14:58] fniephaus commented on #48
Is there any way GemStone can also export test results in an XML file?
smalltalkCI pretty-prints test results to the Travis log ([example](https://travis-ci.org/hpi-swa/vivide/jobs/105453457#L1123)).

[2016-02-05 15:08] dalehenrich commented on #48
Other than the fact that I just finished ripping out all of the xml writer code when I ported SCITestReporter?

That was the information I was missing ... that the xml output was *required* ... ah well ... I'll just see if I can restore the xml code ...

I won't get to see any of this pretty printing goodness for a while right, since we're still waiting for the gemstone stuff to be merged and then

[2016-02-05 15:10] dalehenrich commented on #48
How is the error and stack information logged ... do you have a sample for that?

[2016-02-05 16:07] fniephaus commented on #48
Sorry, @dalehenrich. I thought it was clear that testing can finish successfully and produce a XML, even though there are tests failing. But this information is in the XML.

This is what the XML file looks like if I run all tests (including [the excluded ones](https://github.com/hpi-swa/smalltalkCI/tree/master/tests/SmalltalkCI-Excluded-Tests.package)):

[code]

[2016-02-05 17:41] dalehenrich commented on #48
Yea, I thought the xml was there for the Jenkins/Hudsons jobs and not for SmalltalkCI ...

I was curious what the travis-ci output would look like in the case of an error ... I am curious what a failed test output looks like .... since I won't actually be able to see any of this for myself for several weeks ...

[2016-02-05 18:09] dalehenrich commented on #48
What directory is the xml file supposed to show up in?

[2016-02-05 18:36] dalehenrich commented on #48
Just so you know, I think it is worth the effort to produce the xml log file :)

[2016-02-05 19:14] dalehenrich commented on #48
Looking at the [failure of a recent GemStone run](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/107160503#L604):

[code]

The failure is due to the fact that the pharo download is failing because of the lack of 32-bit libraries installed ... but since you are able to run 32-bit pharo vms in continainers, I don't understand why this would cause GemStone to fail .... the same libs are needed ..

[2016-02-05 20:46] fniephaus commented on #48
I currently don't have an example at hand, but failing tests are basically marked orange with an orange X, errors are marked red with a red X (just as in the Test Runner) and the corresponding error message is displayed in a Travis fold.

The reason, why you get those Pharo errors atm is that Travis does not install *any* dependencies at them moment at all when running a GemStone build. I have fix

[2016-02-05 21:40] dalehenrich commented on #48
Yeah, but I don't know "what folder the image is in"  :) .... is `$SMALLTALK_CI_HOME` the right directory ... there are several different env vars floating around, but the only one that matters is the directory where the xml file is expected to be ...

[2016-02-05 22:50] dalehenrich opened #49 "TestFailure: Block raised NotFound: Object is not in the collection"
While working on porting SmalltalkCI to GemStone, I accidentally used the following `.smalltalk.ston`:

[code]

and it hit an [error that is present for all dialects](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/107343587#L280). I've [fixed the bug for GemStone](https://github.com/dalehenrich/smalltalkCI/commit/61f1591d86835dbffce39ba73b771b5ef1153cb8) and will be including the GemStone fix

[2016-02-05 23:06] dalehenrich commented on #49
I've added the fix to the `SmalltalkCI-Core.st file, but apparently that file is not used by Squeak ... the [Pharo builds are green](https://travis-ci.org/dalehenrich/smalltalkCI/builds/107356054)...

[2016-02-06 00:01] fniephaus commented on #48
You are looking for $SMALLTALK_CI_BUILD :)

[2016-02-06 00:04] fniephaus commented on #49
Thanks for fixing this! Squeak builds fail, because I need to update the images first. SmalltalkCI and Metacello are preinstalled in these images to speed up builds

[2016-02-06 01:00] dalehenrich commented on #48
THX!

[2016-02-06 23:43] dalehenrich opened #50 "Summary of test failures by failed test in travis output - useful"
I have several packages with 1000+ tests and I'm afraid that it will be like trying to find a needle in the haystack when trying to determine the list of tests that have failed ... collecting and listing the failed tests at the end of the output would be very useful in these cases ....

[2016-02-07 17:20] dalehenrich commented on #50
[Here's an example of the utility of such a summary](https://travis-ci.org/dalehenrich/tode/builds/107594163#L3957)

[2016-02-07 17:27] dalehenrich opened #52 "Customize the `reproduce` message for GemStone"
[This message](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/107610773#L135) would *work* for GemStone, but since run.sh does a full install of GsDevKit_home it is overkill for someone who may already have a GsDevKit_home installation ...

[2016-02-08 10:53] fniephaus commented on #48
I will close this in favor of #51

[2016-02-08 10:53] #48 closed

[2016-02-08 10:57] fniephaus commented on #52
If we make sure that smalltalkCI does nothing if GemStone is already installed, then there is nothing to do I guess.
The message is automatically generated: https://github.com/hpi-swa/smalltalkCI/blob/add3c7fd5f64473fdd45fe921c5b30ad1d6da3af/helpers.sh#L66-L75

[2016-02-08 11:00] fniephaus commented on #50
That's right, if there are a lot of tests, the current output might not be very user friendly.
There already is [a summary at the end](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/107610773#L129), but we could just add another Travis fold that contains all failure/error messages once more.
Let's get GemStone builds running first and then I will work on this :)

[2016-02-08 17:30] dalehenrich commented on #52
That's a very good point ... duh!

On 02/08/2016 02:57 AM, Fabio Niephaus wrote:

[2016-02-08 17:30] dalehenrich commented on #50
sounds like a plan ...

On 02/08/2016 03:00 AM, Fabio Niephaus wrote:

[2016-02-08 17:42] dalehenrich opened #53 "`SmalltalkCI-*` used in package pattern for Pharo does not match any packages - it should"
As pointed out in [Issue #51](https://github.com/hpi-swa/smalltalkCI/pull/51#issuecomment-181138208), Pharo interprets `SmalltalkCI-*` as a regex expression and returns an  empty set of matches ...

The only reason that this is interesting is that  `SmalltalkCI-*` is a legal category pattern that does return a proper result set of classes ..

For GemStone I intend to support the package class spec

[2016-02-08 20:42] dalehenrich commented on #52
please assign this to me and I will work on that ...

[2016-02-08 20:44] dalehenrich opened #54 "Need to be able to specify GsDevKit_home branch for GemStone builds ..."
Probably a GemStone-specific env var set in .travis.yml ... @fniephaus - please assign to me and I will work on this ...

[2016-02-08 22:49] fniephaus opened #55 "Host STON in lib/"
Currently, `STON` is the only "hard dependency" and is being loaded from http://ss3.gemstone.com/ss/STON if not already present in an image.
It'd be better to host a version of `STON` within this repository.
This way builds don't break if ss3.gemstone.com is unreachable.

[2016-02-08 22:56] fniephaus commented on #54
Unfortunately, I can't assign this to you, because you are not (yet) an official contributor of this repo. And I can't add you to [hpi-swa](https://github.com/hpi-swa), but I will ask someone tomorrow who can.

Why do you need to be able to specify the GsDevKit_home branch?
There are two ways to do this: either via an env var as you suggested, or as an [argument of `run.sh`](https://github.com/hpi

[2016-02-09 00:13] dalehenrich commented on #54
... haha, I don't **need** the bug assigned to me, but I do intend to
fix the bug ... Yes I can easily add that to the GemStone scripts and I
can do the work, but I am using this issue as a placeholder to remind
myself to do the work, since I intend to leave SmalltalkCI as is (i.e.,
working AFAICT for GemStone) until the container issues are resolved...

As an example, tODE is dependent upon the s

[2016-02-09 00:19] fniephaus commented on #53
I'm a little confused here. Is this a smalltalkCI bug or a Pharo problem?

[2016-02-09 01:07] dalehenrich commented on #53
Well, the bug is in the behavior of SmalltalkCI ... a pattern that is used for category matching (`Smaltalk-*`) by SmalltalkCI gives a different result when used to match packages in the Pharo/GemStone #package extension for SmalltalkCI ... and the fix will most likely be made in [SmalltalkCI-Pharo.st](https://github.com/hpi-swa/smalltalkCI/blob/master/src/SmalltalkCI-Pharo.st#L23) so technically

[2016-02-09 21:30] dalehenrich commented on #28
I just found a spot where using [$GS_HOME/bin/.gsdevkitSysSetup](https://github.com/hpi-swa/smalltalkCI/blob/master/gemstone/run.sh#L38) may be bypassing some important installation ... so there's a chance that more work will be required for GemStone to function correctly once the prereqs and host name issues have been resolved

[2016-02-09 21:49] fniephaus commented on #28
What else needs to be done? Maybe there's still time to squeeze this into the current PR.

[2016-02-09 23:31] dalehenrich commented on #28
Nothing in the ruby script ... the fix can be made in the GemStone `run.sh` script ... but I won't fool with that until we get it running on the container (the problem is that we are creating the file `.gsdevkit...` to bypass `sudo` operations and it may bypass more than just `sudo` calls ... we just may never have gotten far enough to expose this particular issue :)

[2016-02-09 23:46] fniephaus commented on #28
Ah fair enough, sounds good!

[2016-02-10 09:06] zecke commented on #47
Thanks. I created a Baseline and use it to run tests. Git branches and versions in ConfigurationOf are kind of orthogonal but how would I end up testing that "development", "stable", "bleedingEdge" work? Wouldn't I still need a #version variable for that?

[2016-02-10 18:25] dalehenrich commented on #47
@zecke for the most part the symbolic versions map into git branches ... #stable should be equivalent to the master branch. #development is equivalent to any branch that is not the master branch ... I typically create a dev branch for quick fixes and work and when I have a more complicated issue to resolve I create a topic branch named for the issue I am working on (i.e., issue_47)... bleedingEdge

[2016-02-12 12:54] peteruhnak opened #56 "Travis test formatter premature folding"
I love the new travis formatter, makes for a very nice output :+1:

However I've noticed that when a test fails it collapses everything below it; shouldn't it just collapse the one failing test?

build: https://travis-ci.org/dynacase/class-editor/builds/108775996#L770

open
![travis-open](https://cloud.githubusercontent.com/assets/1276328/13007362/19bc0b44-d190-11e5-98ff-96e3f3917767.png)

collaps

[2016-02-12 19:11] fniephaus commented on #56
Yes, that's a bug. I'll fix it this weekend :smiley:

[2016-02-12 20:17] peteruhnak commented on #41
I've been today also playing with bundling and ssh-based deploys:
https://github.com/dynacase/dynacase/blob/master/.travis.yml#L18
https://github.com/dynacase/dynacase/blob/master/deploy.sh#L21

However I've noticed that (at least for Pharo), when the image is setup, it is not saved, so I would have to re-run it again. Is this desired behavior?

I.e. in https://github.com/hpi-swa/smalltalkCI/blob/

[2016-02-12 20:34] fniephaus commented on #41
Yep, this is probably step one for Pharo all in ones. Feel free to send a PR if you want :)

[2016-02-13 16:21] peteruhnak opened #58 "What is the purpose of #include section in #testing?"
What is the purpose of the `#include` section?

[code]

Isn't it equal to having it directly in the array?

[code]

[2016-02-13 17:01] peteruhnak commented on #58
Nevermind, apparently the second variant doesn't work (even though the array syntax would suggest otherwise.)

[2016-02-13 19:08] zecke opened #59 "smalltalkCI builds on GCE are broken"
I have no idea how the "language: smalltalk" is implemented by travis-ci but it looks like somehow it is issuing both "dpkg --add-architecture" and "apt-get". If the docker service is enabled the apt-get is issued without a '-y'.

Where can I find the scripts that implement "language: smalltalk" or could they be fixed to work with docker?

[2016-02-13 19:27] fniephaus commented on #59
Hi @zecke,
You are looking for [this](https://github.com/travis-ci/travis-build/blob/9561e7ddc523ef51487b23b41549c11ee93a04f6/lib/travis/build/script/smalltalk.rb#L103).
It's probably better, if you send a PR to https://github.com/fniephaus/travis-build, so I can add your change to the next `smalltalk.rb` update that I'm going to send the Travis team. I try not to bomb the folks at Travis with sma

[2016-02-13 21:37] fniephaus commented on #58
The `#testing` section currently works as follows:

1. If not set, determine tests to run automatically (just like builderCI)
2. If `#classes` or `#categories` are set, use these for testing and ignore everything else
3. If `#include` or `#exclude` are set, determine tests to run automatically and add or remove tests accordingly. Note that 2. should not be the case (`#classes` and `#categories` sh

[2016-02-13 21:52] fniephaus commented on #28
Closing this in favor of #51

[2016-02-13 21:52] #28 closed

[2016-02-13 21:57] fniephaus commented on #58
If you have an idea how to improve the doc, please send a PR :smiley:

[2016-02-14 01:01] peteruhnak commented on #58
My point was different:

if I have
[code]

then Foo is tested as expected ( https://travis-ci.org/peteruhnak/ci-foo/builds/109091321 )

however if I have
[code]

then only Foo is tested, and not Bar ( https://travis-ci.org/peteruhnak/ci-foo/builds/109091408 )

So I have to do
[code]

to have them tested both ( https://travis-ci.org/peteruhnak/ci-foo/builds/109091536 )

So my question is: why does

[2016-02-14 15:04] #50 closed

[2016-02-14 15:05] fniephaus commented on #56
@peteruhnak please reopen this if https://github.com/hpi-swa/smalltalkCI/commit/25ece9fde33aaf9acc6c3aa80b18363157423445 hasn't resolved the problem.

[2016-02-14 15:29] peteruhnak commented on #56
@fniephaus now the folding instructions are visible in the output and not applied https://travis-ci.org/dynacase/class-editor#L766

[2016-02-14 15:30] peteruhnak commented on #56
Also I can't reopen the issue (“*you cannot re-open your own issues if a repo collaborator closed them*”)

[2016-02-14 18:26] fniephaus commented on #56
I didn't know it's impossible to reopen issues when a repo collaborator closed it. Sorry about that :(

Just pushed a fix, hopefully this will do.

[2016-02-14 18:39] peteruhnak commented on #56
The folding now works, but the output of the failing tests appears to be duplicated.
https://travis-ci.org/dynacase/class-editor/builds/109171399#L766
The lines L766 and L777 are the same error report.

[2016-02-14 19:32] fniephaus commented on #56
It's actually been printed once, but Travis somehow didn't like the formatting and displays everything twice. I've pushed another update.
Feel free to close the bug if it works ;)

[2016-02-14 20:01] peteruhnak commented on #56
Excellent, now it works as one would expect https://travis-ci.org/dynacase/class-editor#L1321, thanks!

[2016-02-14 20:07] fniephaus commented on #56
It's still there, but now I know what the problem is!

[2016-02-14 20:39] peteruhnak commented on #56
How about now https://travis-ci.org/dynacase/class-editor/builds/109171399#L1320 ?

[2016-02-14 23:51] fniephaus commented on #56
That's it, thanks! `travis_fold`s require unique identifiers and that was the problem.

[2016-02-14 23:51] #56 closed

[2016-02-15 11:02] peteruhnak commented on #58
Just to confirm, are my observations about the default `package:` not really having effect correct? (i.e. that they will use LoadSpecs regardless of what I put there.)

[2016-02-19 10:48] fniephaus commented on #59
@zecke can you restart one of your failing builds? The fix is merged, but I'm not sure if it's already deployed.

[2016-02-19 12:22] fniephaus commented on #59
I just restarted an older GCE build and it seems to be working again. Thanks, @zecke.

[2016-02-19 12:22] #59 closed

[2016-02-21 21:15] #47 closed

[2016-02-21 21:15] fniephaus commented on #47
`#version` is now support :smiley:

[2016-02-21 21:55] fniephaus opened #61 "Convert smalltalkCI's .st files to FileTree"
As @dalehenrich mentioned in https://github.com/hpi-swa/smalltalkCI/pull/60#issuecomment-186923339, it'd be easier to use a single repository for smalltalkCI's Smalltalk code.
Currently, smalltalkCI uses prepared Squeak images that have FileTree and smalltalkCI preinstalled. This speeds up each Squeak build process, because these projects do not need to be loaded.
But it'd actually be better to us

[2016-02-21 22:48] fniephaus commented on #61
This is happening already: 5609d280314e12f16616e1dbf477f0a6050629d6

[2016-02-21 23:14] #61 closed

[2016-02-21 23:24] fniephaus commented on #61
There you go, @dalehenrich!
https://travis-ci.org/hpi-swa/smalltalkCI/builds/110841582

[2016-02-21 23:44] fniephaus opened #63 "Deprecate builderCI fallback"
The builderCI fallback seems broken again at the moment and this might be a good time to deprecate it.
Initially, I have added builderCI fallback support to provide support for Pharo and GemStone. Pharo has been fully supported for quite a while now and I hope that we have GemStone running very soon (#51).
There's no need to maintain something (builderCI fallback in smalltalkCI) that nobody is usi

[2016-02-22 08:21] zecke commented on #47
Thank you!

[2016-02-22 10:45] fniephaus commented on #47
You have to thank @theseion! :)

[2016-02-22 19:53] DamienCassou opened #64 "break the build if Undeclared detected"
By default, Monticello reports a warning if it is loading a method that references a class not in the system. The warning is non blocking which allows dependencies to be loaded after the package depending on them. The problem is that this process allows packages to be badly defined with non-declared or circular dependencies. Would it be possible to have an option to transform these warnings into b

[2016-02-22 22:40] fniephaus commented on #64
Interesting idea. I guess we could add support for something like `#failOnWarnings` to `SCIMetacelloLoadSpec` and then you could enable it by setting the value to `True`.

I wonder what @dalehenrich thinks about this.

BTW: I literally just made smalltalkCI ignore warnings (0a1f772031675d245a87acf8778730ad57e9d648) :grin: .

[2016-02-22 22:47] dalehenrich commented on #64
My thoughts are that we'd like to fail on specific warnings rather than generic warnings ... @DamienCassou could you supply a stack that shows an example of the Warning you want ignored? If this is coming from Metacello, I'd be willing to create a specific class so that we can selectively fail ...

[2016-02-22 22:54] #55 closed

[2016-02-23 02:23] fniephaus opened #65 "Test that smalltalkCI builds can fail"
At the moment, the smalltalkCI self-test checks if the smalltalkCI tests pass.
It'd be good to also test if smalltalkCI builds can actually fail.
There are already [excluded tests](https://github.com/hpi-swa/smalltalkCI/tree/99e03d360a50dc65c45290d9a77a1b1c699275c1/repository/SmalltalkCI-Excluded-Tests.package) that we can use for this.
Also, it would be handy to be able to specify a custom `.ston

[2016-02-23 02:59] fniephaus opened #66 "Make sure smalltalkCI fails if any subcommand fails"
`set -e` isn't enough: https://github.com/hpi-swa/smalltalkCI/pull/51#issuecomment-187491814.

[2016-02-23 08:47] Uko opened #67 "No reason of failure given"
Hi, I end up with this log:

[code]

And if you look at it you have no idea what happened because it says `...finished baseline` and then immediately `Failed to load and test project.`

[2016-02-23 08:53] Uko commented on #67
This happens if `#directory : ` is missing from configuration STON.

First of all it would be nice to tell people if they are missing something.

Secondly, how about making `#directory` setting optional, and make it point to the root of the project by default?

[2016-02-23 10:43] DamienCassou commented on #64
I have the impression the warning comes from the compiler, in particular the class Encoder which signals an UndeclaredVariableWarning. This exception can be resumed. In Pharo, when Monticello loads a package containing a method with a reference to a non existing class, a message is shown in the transcript and loading continues. In my example, I have a package Foo-Main with a class FooMain with a m

[2016-02-23 10:45] DamienCassou commented on #64
Metacello, in `MetacelloMCVersionValidator>>validateCleanLoadAndTestsForVersion:loads:` has code related to this exception as well.

[2016-02-23 11:24] fniephaus commented on #67
Thanks for reporting, @Uko. This is definitely a problem and I like your suggestion.
It actually reminds me of the fact that I should add more tests to SmalltalkCI and it's platform-specific packages.

[2016-02-24 00:25] #65 closed

[2016-02-24 02:58] dalehenrich opened #68 "shmall not set up correctly"
According the [logging from this travis build](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/111380537#L58), the `hostname` is `Traviss-Mac-441.local`, but that name does not show up in /etc/hosts (as required by GemStone):

[code]

You can look at [this commit](https://github.com/dalehenrich/smalltalkCI/commit/fdf1dea1bb0fd406695df96ad473efef778e38ca) for info about the logging that I added

[2016-02-24 02:59] fniephaus commented on #68
[This](https://github.com/travis-ci/travis-build/blob/0b3a45524eac7a3318fa2ecb6fe5b67ab0064800/lib/travis/build/script/smalltalk.rb#L120) needs to be changed.

[2016-02-24 04:03] dalehenrich commented on #64
As I think about the UndeclaredVariableWarning, I'm pretty sure that the Warning can be thrown in cases where the global _will_ be resolved by another package being loaded a bit later during the same project load ... so it is not fool proof ...

I deal with this in GemStone by having a test that detects `sent but no implemented methods` and `undeclared globals` ...

[2016-02-24 04:23] dalehenrich commented on #65
See the comment [here](https://github.com/hpi-swa/smalltalkCI/pull/51#issuecomment-188057056) of a [build failure](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/111388569#L2995) that is not a failed test, but a failure that indicates another problem ... probably need to reopen and fix for GemStone

[2016-02-24 09:29] peteruhnak commented on #67
I'm having the same issue, and it's not `#directory` related as far as I can tell; all my builds are failing because of this.

`.smalltalk.ston`: https://github.com/dynacase/dynacase-model/blob/90146e44c497972ca8a81d3032068cc952705ad2/.smalltalk.ston

failing build: https://travis-ci.org/dynacase/dynacase-model/builds/111426018#L244

[2016-02-24 09:45] fniephaus commented on #67
Mh, this is bad news. I just run the dynacase build locally and it passes without any problems, so it's probably a Travis thing. Could you enable debugging output by overriding `script` in your `.travis.yml`:
[code]

[2016-02-24 09:58] fniephaus commented on #67
It's even worse: your tests seem to be passing now on Travis :see_no_evil:
What happens if you restart your older failing build?

[2016-02-24 10:04] peteruhnak commented on #67
and now it's failing again… so verbose/debug is setting something wrong?

[2016-02-24 10:07] fniephaus commented on #67
`--verbose` is only used [here](https://github.com/hpi-swa/smalltalkCI/blob/c7008543c8e6ec37cf31bd64abb98cf4e47a6bf6/run.sh#L331), and `--debug` [here](https://github.com/hpi-swa/smalltalkCI/blob/c7008543c8e6ec37cf31bd64abb98cf4e47a6bf6/run.sh#L301-L307). They are not used at all in `pharo/run.sh`.
So I really don't see why this is happening :(

[2016-02-24 10:08] DamienCassou commented on #64
Marcus told me the class Encoder is not used anymore, it's the old compiler. What is important now is that the new compiler signals `OCUndeclaredVariableWarning` when a method references an undeclared variable. I would like the code loader to signal an error if this warning is signaled. Is that possible?

[2016-02-24 10:10] DamienCassou commented on #64
@dalehenrich you are right. But this warning typically indicates a bad dependency: if my packages and configuration are correct, there should not be any undeclared variable at any point of the loading process; Metacello should load packages in the right order. If there is an undeclared variable at any point, it means the configuration is incorrect (a dependency is not yet loaded) or there are circ

[2016-02-24 11:29] fniephaus commented on #67
@peteruhnak and I have been able to identify and fix the problem.

Things I still need to do:
- [ ] Display meaningful error when `SmalltalkCI runCIFor:` is invoke with a non-STON file
- [ ] Make sure custom file is a STON file

[2016-02-24 22:22] dalehenrich commented on #64
@DamienCassou you are correct that it is a "bad dependency", but as you are aware, the universe is full of projects with bad dependencies that end up loading correctly...

Given that you have a specific exception to be caught, perhaps it makes sense to allow one to specify a list of Notifications that will cause a build to fail:

[code]

[2016-02-25 00:02] fniephaus opened #69 "SmalltalkCI-Tests remains in ./tests"
What do we do with these tests?
https://github.com/hpi-swa/smalltalkCI/tree/ee4070f14b153fd85d6ad7f65a150a18efd7d4ae/tests/SmalltalkCI-Tests.package/SmalltalkCITest.class/instance

[2016-02-25 09:36] DamienCassou commented on #64
I agree, that's why I'm not proposing to fail all builds because of that. But I want my packages to be free of such problems. i think your proposal makes sense.

[2016-02-25 13:32] Nef10 opened #70 "last line of jUnit XML is not shown"
Have a look at [this build](https://travis-ci.org/HPI-BP2015H/squeak-parable/jobs/111706297#L270), there is no `</testsuite>` in line 318.
But if you get the raw log from travis you can find the line `</testsuite>travis_fold:end:junit_xml`

We think is is because there is no newline before the `travis_fold:end`.

[2016-02-25 13:35] fniephaus commented on #70
Opps, yes that's a problem. Can you send a PR?

[2016-02-25 14:09] #70 closed

[2016-02-25 18:17] dalehenrich commented on #69
Ah ... these tests are supposed to be run ... and they were passing for all three platforms in my checkout  .... I see that they are not being run now so I will look into what is happening ...

[2016-02-25 18:29] dalehenrich commented on #64
@fniephaus what do you think of `#failLoadOn` ... I could take this on if you'd like ... it's related to the `#onWarningLog` option ...

[2016-02-25 18:38] fniephaus commented on #64
Please do! This is an open source project and everyone is invited to contribute ;)

[2016-02-25 18:40] fniephaus commented on #63
@dalehenrich are you ok with this?

[2016-02-25 19:18] dalehenrich commented on #63
absolutely ... smalltalkCI as configured now supports all GemStone versions from 2.4.4.1 through 3.3.0, so there is no need to do a fallback at all ...

[2016-02-25 20:05] dalehenrich opened #72 "GemStone should use `master` branch of GsDevKit_home"
For PR #51, changes were required to GsDevKit_home and those changes were made on the `dev` branch. Now that the PR #51 work is done, I will merge the needed changes into the `master` branch  with GsDevKit/GsDevKit_home#75 and once that's done, I will need to switch back to using the `master` branch of GsDevKit_home ...

[2016-02-25 23:29] fniephaus commented on #72
I think this relates to #54, right? And why would I want to switch the branch?

[2016-02-25 23:31] fniephaus commented on #49
Has this been fixed now?

[2016-02-25 23:44] dalehenrich commented on #49
Yes, [this code was in my recent PR](https://github.com/dalehenrich/smalltalkCI/commit/ef5b7d2a854c39d79d8f234b367df908330bb8de) ... Of course the test may not be running as the tests for this are in the [dead code](https://github.com/hpi-swa/smalltalkCI/issues/69)

[2016-02-25 23:44] #49 closed

[2016-02-25 23:50] dalehenrich commented on #72
Yes, and I may not fix Issue #54 right now ...

I will want to switch the branch of GsDevKit_home that is being used if there is a bugfix in a branch that needs to be tested (as was the case here --- smalltalkCI green tests were dependent upon using the dev branch of GsDevKit_home, until the code in the dev branch could be merged to master ...

IN the general case, this well extend to specifying a

[2016-02-26 00:04] #63 closed

[2016-02-26 00:05] #72 closed

[2016-02-26 00:06] fniephaus commented on #72
f0fcfbb6f2ee0e8198b247bb80a97fd3243e6489

[2016-02-26 00:11] fniephaus commented on #54
Is there a reason for [cloning the entire Git repository](https://github.com/hpi-swa/smalltalkCI/blob/master/gemstone/run.sh#L19-L21)?
Couldn't we just use a single download link?
It's probably best if a user can just override that default download link by setting an env variable.

[2016-02-26 00:19] dalehenrich commented on #54
You mean a zip file instead of a clone?

GsDevKit is designed to be used as a clone ... doing a pull request is how a new version of GsDevKit_home is delivered --- so switching branches is how it is documented to use GsDevKit_home ... that's why I talk about switching branches ...

For the purposes of optimizing the operation of smalltalkCI, we could download a zip file of the target commitish , b

[2016-02-26 00:27] fniephaus commented on #54
Would `git clone --depth=1 <remote-url>` work? See [git-clone](http://git-scm.com/docs/git-clone).

[2016-02-26 00:53] dalehenrich commented on #54
Does that get me the tip of each branch? If so then that would be fine ...

[2016-02-26 01:15] dalehenrich commented on #69
Aha ... the tests repo got move from `.tests` to `.repository` and I didn't notice --- no conflicts --- and my new tests were not merged .... I'll take care of that soonish

[2016-02-26 01:23] fniephaus commented on #68
This should now be resolved, but OS X builds are still failing:
https://travis-ci.org/hpi-swa/smalltalkCI/jobs/111893995#L1059

[2016-02-26 04:55] dalehenrich commented on #68
Unfortunately I removed the logging that provided the information about what is going wrong so I'll have to add the logging information back in to see what the problem is ...

[2016-02-26 11:36] fniephaus commented on #68
Can't you just restart an older build?
Also, I think it'd make sense to keep displaying this debug information in debug mode (`--debug`).
You can just do it like [this](https://github.com/hpi-swa/smalltalkCI/blob/bddb789cacc520ce921f08ddcf17baed690f8028/run.sh#L256).

[2016-02-26 14:52] dalehenrich commented on #68
I'll see what happens when I restart an [old build](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/111380537).

Logging info from original build:

[code]

[2016-02-26 15:02] dalehenrich commented on #68
Looking at this original debug information, I notice that `hostname` is getting two answers in same run:
- `Traviss-Mac-441.local` at very start
- `Traviss-Mac-379.local` later on
- error out with `localhost6` which is **not** `hostname` and **not** in `/etc/hosts`

[2016-02-26 15:07] dalehenrich commented on #68
With the new run it looks like the hostname has **not** been added to `/etc/hosts`:

[code]

So either the new smalltalk.rb was not picking up by the old build or the new smalltalk.rb is not correctly setting an entry in `/stc/hosts` ...

What do you think? Add the logging, because restarting the old build was a waste of time, or do you have enough information to really fix smalltalk.rb?

[2016-02-26 15:08] dalehenrich commented on #68
Oh and exact same [error host on failure](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/111380537#L1095) --- `localhost6`

[2016-02-26 15:15] dalehenrich commented on #68
...and I can't even guess where localhost6 is coming from at this point in time ... I think that OS X is different than linux and that the `addHost` trick used in legacy build may have involved additional magic (hidden in a .rb file somewhere)...

[2016-02-26 15:23] dalehenrich commented on #68
For the legacy builds the [`set hostname to travis-dev` and `add travis-dev to /etc/hosts`](https://github.com/GsDevKit/GsDevKit_home/blob/master/.travis.yml#L26-L31) worked on both platforms and the [mac builds are functional](https://travis-ci.org/GsDevKit/GsDevKit_home/jobs/111901162#L823-L1333) and produced the following information:

[code]

Of course I don't know what other places to look on

[2016-02-26 18:09] dalehenrich commented on #69
action has moved to PR #74

[2016-02-26 18:11] #69 closed

[2016-02-26 18:16] dalehenrich commented on #53
This bug is illustrated by these two expected failure conditions:

[code]

The test code will be present on the master branch once PR #74 is merged

[2016-02-26 18:17] dalehenrich commented on #53
Once the merge is complete @estebanlm and I can discuss alternatives, as I think the behavior should be consistent

[2016-02-26 21:01] fniephaus commented on #68
This is odd, because the `smalltalk.rb` should be [doing exactly the same](https://github.com/travis-ci/travis-build/blob/1dad4573964bab27b2e18cb1d4b47b035efaaf6b/lib/travis/build/script/smalltalk.rb#L116) that the [host addon would do](https://github.com/travis-ci/travis-build/blob/1dad4573964bab27b2e18cb1d4b47b035efaaf6b/lib/travis/build/addons/hosts.rb#L18).

Maybe `$(hostname)` returns nothing

[2016-02-26 21:02] fniephaus commented on #68
Also, we could try to enable the addon to see if that fixes the problem.

[2016-02-26 22:23] dalehenrich commented on #68
How do you enable the addon when you don't know the name of the host,
can you define an env var in bash that is available for use in the addon ?

On 02/26/2016 01:02 PM, Fabio Niephaus wrote:

[2016-02-26 22:24] fniephaus opened #75 "Add platform-specific test packages"
Since we have platform-specific packages for smalltalkCI, we also need platform-specific test packages.
@dalehenrich has already started adding platform-specific test, that we should move first.

[2016-02-26 22:27] fniephaus commented on #68
An env var doesn't work, I think.
But we could hardcode travis.dev for OS X builds.
Since those builds don't run in a container, we should be able to change the hostname.

[2016-02-26 22:29] dalehenrich commented on #68
how do you arrange to run a sudo command only for OSX, since hardcoding travis.dev also involves changing the hostname of the vm?

[2016-02-26 22:43] fniephaus commented on #68
Check if it's a OS X build and then run the `sudo` command?
`sudo` is enabled in OS X builds:
https://docs.travis-ci.com/user/osx-ci-environment/#Overview

But we can just make this part of the `smalltalk.rb` when it works.

`sudo` is only disabled for containers, that's because Docker ;)

[2016-02-26 23:32] dalehenrich commented on #68
how do you "check if it's a osx build"? I ask these questions because I am not familiar with yaml ... there seem to be dozens of ways to do each thing, but only a half dozen seem to work in travis ... I know I am probably missing a key concept, but I'm tired of randomly changing the yaml file until travis does what i want:), so I asl questions and am looking for more specific  answers ...

[2016-02-27 00:19] fniephaus commented on #68
Well I guess you could use the host addon within the build matrix, but you could also just forget about the yaml file and do everything in the bash script. That'd be much easier.

[2016-02-27 00:56] dalehenrich commented on #68
you mean hard code things in gemstone/run.sh?

I guess I already know that that will work as it's been proven with the
earlier legacy builds ... so I can wait until you patch the smalltalk.rb
file since that is the ultimate solution, right?

I have yet to have a failure on the mac that doesn't also appear on
linux, so it's not critical for me...

On 02/26/2016 04:19 PM, Fabio Niephaus wrote:

[2016-02-27 14:36] estebanlm commented on #53
sorry for not having time recently to look at this :(
but yes, the "*" pattern should match for pharo (also, the regex ".*" should do it)...

[2016-02-27 16:55] dalehenrich opened #76 "missing new line before Squeak stack"
In [this build](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/112153944#L78) you get the following attack, but note the missing newline after `...finished baseline`:

[code]

It would be clearer if a newline were inserted and possibly a banner with the #description of the exception that was raised ...

a minor point but worth noting ...

[2016-02-27 17:02] dalehenrich commented on #67
I have a related problem with a slightly different error condition for [a pharo build](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/112153953#L275-L285) where I see the following in the travis log where there is absolutely no information about why the load failed:

[code]

Fortunately, the [squeak build is failing in the same spot](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/112153943

[2016-02-27 19:06] fniephaus commented on #67
I would usually run smalltalkCI locally with `--headfull` mode enabled. This will most likely show you a Pharo image with an open debugger. I'll have a look next week.

And feel free to open another issue if you think it's unrelated. :)

[2016-02-27 19:13] fniephaus commented on #52
This is now the case:
https://travis-ci.org/hpi-swa/smalltalkCI/jobs/112107806#L4022

However, I don't really feel comfortable showing steps to reproduce for a GemStone build, because it requires some OS prerequisites and it does way more than just downloading a vm and an image.
What do you think, @dalehenrich?

[2016-02-27 19:17] fniephaus commented on #54
Yep, it does.
So a user would need to specify a repository and a branch? Would you want to use the Metacello format `<repo url>:<branch>` and if no `<branch>` is defined, it defaults to `master`?

[2016-02-27 19:57] dalehenrich commented on #54
At the moment I am think that a set of environment variables will be used to control the GsDevKit_home options I have a couple of different use cases right now with different projects and I need to sort through things ...

I could also add a GsDevKit_home spec to the smalltalk.ston file ... GsDevKit_home uses a pharo image to implement some of the more complicated logic and I could employ that sam

[2016-02-27 20:21] fniephaus commented on #54
I'd like to minimize the things that need to be configured via `.travis.yml` and instead use the STON file. If this works for you, I am happy to extend the STON config with GemStone specific options. Same counts for Pharo and Squeak.
It'd be cool to have a Gemfile/package.json/requirements.txt equivalent in Smalltalk :)

[2016-02-29 22:06] fniephaus commented on #68
@dalehenrich I'm getting an argument error when hardcoding the hostname:
https://travis-ci.org/hpi-swa/smalltalkCI/jobs/112704054#L1082
Maybe the script doesn't like OS X instances that are IPv6-connected?

[2016-02-29 23:16] fniephaus opened #77 "Add Windows support"
Travis is [working on Windows support](https://github.com/travis-ci/travis-ci/issues/2104) and in the meantime, one could use [appveyor](http://AppVeyor.com) for Windows builds.

Since I haven't been working with Win in the last few years, it'd be great if someone else could work on this.

[2016-03-01 19:10] SergeStinckwich opened #78 "List of projects using smalltalkCI"
You should start a list of projects that use SmalltalkCI. For example PlayerST: https://github.com/SergeStinckwich/PlayerST

[2016-03-01 19:14] fniephaus commented on #78
I like the idea. Shall we add this to the end of the `README.md` or do you have a better suggestion?

[2016-03-01 19:16] SergeStinckwich commented on #78
Yes at the end of README.md or put the list on the Wiki.

[2016-03-01 20:52] #78 closed

[2016-03-01 20:56] fniephaus commented on #78
20+ projects are already using smalltalkCI, nice! :)

[2016-03-01 23:25] dalehenrich commented on #68
well, you `echo $hostname` isn't [dumping anything](https://github.com/hpi-swa/smalltalkCI/blob/d4a467472c0e5b9bb9d7def700355d7a65d77ded/gemstone/run.sh#L111) so we are not learning whether or not you are successfully setting the hostname ... and the `/etc/hosts/`doesn't like it had anything added to it .,..

With that said, there is an indication that the hostname _is_ travis.dev:

[code]
but wit

[2016-03-01 23:35] fniephaus commented on #68
Yes, I realized that `echo $hostname` doesn't make any sense :sweat_smile:
Nonetheless, I can't explain `localhost6`. Are you sure that the script is working on OS X with IPv6 enabled?

[2016-03-01 23:43] dalehenrich commented on #68
[This build ran on osx](https://github.com/dalehenrich/smalltalkCI/blob/57d1dc180d0ba375dfb9b1108346e19cc3168980/.travis.yml) ... but I believe that this was with sudo enabled ...

Using [`addons - hosts travis.dev`](https://github.com/dalehenrich/smalltalkCI/blob/57d1dc180d0ba375dfb9b1108346e19cc3168980/.travis.yml#L29-L31) and[ `sudo hostname travis.dev`](https://github.com/dalehenrich/smalltalk

[2016-03-01 23:46] dalehenrich commented on #68
I'm pretty sure that OSX has multiple hostname sites and the perhaps the `scutil` call changes the hostname that is visible to the user, but not the hostname that GemStone needs ... I'm pretty sure that I ran into this problem (scutil not doing the trick) when I was getting my mac laptop setup and that's why I've been using `sudo hostname` ...

[2016-03-01 23:47] fniephaus commented on #68
Mh interesting, this build seemed to be [almost successful](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/100459838#L1456).
I will start another test build...

[2016-03-01 23:49] dalehenrich commented on #68
Yeas, but to get to the point where the API rate limit gets hit, you have to be logged into a stone ... so it's getting past the error we are seeing ...

[2016-03-01 23:51] dalehenrich commented on #68
BTW, I think I've [fixed the bug in Metacello that was leading to the API rate limit issues](https://github.com/dalehenrich/metacello-work/issues/385) ... Given the random nature of the failures, it will take a while to know for sure ... OSX was pretty consistent in hitting the API rate limit, which is why it's been on the allow failures list everywhere I turn it on:)

[2016-03-01 23:53] fniephaus commented on #68
Maybe `localhost6` is because I'm also adding the hostname to the IPv6 address in `/etc/hosts`.
But I should've done exactly the [same as the hosts addon](https://github.com/travis-ci/travis-build/blob/dcabdfe556a955cbab15a6dca78167d9dda8c279/lib/travis/build/addons/hosts.rb#L18). Weird!

Good job fixing that API rate limit issue! :)

[2016-03-01 23:55] dalehenrich commented on #68
My guess is that `localhost6` is in `/etc/hostname` or where ever the \<blah\> in `sudo hostname <blah>`  goes

[2016-03-01 23:57] fniephaus commented on #68
Let's find out: [334.1](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/113000301) & [335](https://travis-ci.org/hpi-swa/smalltalkCI/builds/113001283).

[2016-03-01 23:57] dalehenrich commented on #68
[this is the reference that I used to set my laptop hostname](http://osxdaily.com/2010/09/06/change-your-mac-hostname-via-terminal/) and if I recall correctly the visible hostname change (in the GUI) after scutil command was run, but I had to do `sudo hostname` before GemStone worked ...

[2016-03-02 00:06] dalehenrich commented on #68
well  [334.1](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/113000301) was doomed because hostname wasn't set anywhere both `addons -hosts:` and `sudo hostname` are needed...

[2016-03-02 00:17] fniephaus commented on #68
both failed, so let's try [336](https://travis-ci.org/hpi-swa/smalltalkCI/builds/113004074).

[2016-03-02 00:18] dalehenrich commented on #68
Okay ... [same result and same error](https://travis-ci.org/hpi-swa/smalltalkCI/builds/113001283), but now  we know that the hast names should be setup correctly ... I will now have to add additional logging to GsDevKit_home (on the dev branch) to checkout a few more things

[2016-03-02 00:30] dalehenrich commented on #68
I just noticed a point of confusion (for me) ... this error is to be expected:

[code]

It's coming from the `waitstone` command and complains about `/opt/gemstone/locks/travis..LCK` not found ... this is okay because the stone is not running yet ...

this error is the troublesome error:

[code]

and while there is the message about netldi service not found, that may be misleading ... as there are

[2016-03-02 00:39] dalehenrich commented on #68
`kern.sysv.shmmax: 4194304 -> 2147483648` is not the only parameter that needs to be set and of course I have no idea what you are doing because nothing is logged for the GemStone build and I don't know whether you are logging everything or not ...

[kern.sysv.shmmax](https://github.com/GsDevKit/GsDevKit_home/blob/master/bin/utils/installOsPrereqs#L231) needs to be set as well as [kern.sysv.shmall

[2016-03-02 00:47] fniephaus commented on #68
That could be the problem, let's try [337](https://travis-ci.org/hpi-swa/smalltalkCI/builds/113008588). (OS X builds always have sudo enabled)

[2016-03-02 01:15] dalehenrich commented on #68
Looks like you were missing the setup of [kern.sysv.shmall: 1024 -> 524288](https://travis-ci.org/hpi-swa/smalltalkCI/builds/113008588#L304-L310)

[code]

Are you missing shmall for Linux as well?

[2016-03-02 01:16] dalehenrich commented on #68
Cross fingers that we don't hit API rate limit :)

[2016-03-02 01:17] fniephaus commented on #68
[It looks like](https://travis-ci.org/hpi-swa/smalltalkCI/builds/113008588#L310) you're right.
Question: do you want OS X to be set up via `smalltalk.rb` or would you prefer to run `installOsPrereqs` instead? I could just remove the prereq logic from `smalltalk.rb` for OS X and we can enable [this line](https://github.com/hpi-swa/smalltalkCI/blob/3c321baa22a0db2b4494aafbeea06cf7e9e24469/gemstone/r

[2016-03-02 01:24] dalehenrich commented on #68
I suppose it would be cleaner to do all of the `sudo` work in smalltalk.rb to avoid having to do any sudo operation in run.sh for GemStone, since thats where all of the setup code is supposed to be located. .. but if you prefer to put have that in run.sh then I won't argue with you...

As I've said before, I'm not in a hurry to get the mac builds running, so a wait is not a big deal for me ...

[2016-03-02 01:28] fniephaus commented on #68
It's totally up to you, really. I just need to figure out why [this](https://github.com/travis-ci/travis-build/blob/dcabdfe556a955cbab15a6dca78167d9dda8c279/lib/travis/build/script/smalltalk.rb#L159) is not working as intended.

On a different note, is there any way to speed up GemStone builds? 95% of the time there seems to be some generic preparation going on. Wouldn't it be way more efficient t

[2016-03-02 01:43] fniephaus commented on #68
And again, you are right. I messed up [here](https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/smalltalk.rb#L137) and [here](https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/smalltalk.rb#L170).
I guess I will need to talk to my friends at Travis again...but probably later this week

[2016-03-02 01:47] dalehenrich commented on #68
Then I prefer to have it smalltalk.rb ...

There are a couple of things that I can do to speed things up ... this work would have to be done in tandem with chnages wot GsDevKit_home, so being able to a) switch branches is critical and b) would be useful to be able to test GsDevKit_home with smalltalkCI before tackling the _cache issues. Also right now I don't have a lot of time play with optimizat

[2016-03-02 01:55] fniephaus commented on #68
No worries, happy to do this in tandem and as soon as you have enough time.
I haven't really thought the whole caching thing through. Currently, `_cache` needs to be flushed manually by the user and this is just an optimization for running smalltalkCI locally. Also, I don't think Travis builds would benefit from "caching" content that can be downloaded, because the cache is also just downloaded. I

[2016-03-02 14:36] fniephaus commented on #68
So [this](https://travis-ci.org/hpi-swa/smalltalkCI/builds/113019957) happened last night.
Shall I just fix the shmall problem in `smalltalk.rb` or do you want me to set the hostname to `travis.dev

[2016-03-02 14:37] fniephaus commented on #68
So [this](https://travis-ci.org/hpi-swa/smalltalkCI/builds/113019957) happened last night.
Shall I just fix the shmall problem in the `smalltalk.rb` or do you want the hostname to be set to `travis.dev` in OS X as well?

[2016-03-02 17:38] dalehenrich commented on #68
I think that all of the sudo/os/hostname mangling should be done in smalltalk.rb ... if anything changes it will have to be changed for both linux and osx and the linux stuff _has_ to be done in smalltalk.rb, so I don't see an advantage to splitting it up ...

[2016-03-02 18:47] fniephaus commented on #68
Ok, let me rephrase this: since everything seems to work after fixing the shmall problem, do you think it's still necessary to do a `sudo hostname "travis.dev"`. It's currently working completely without setting the hostname explicitly.

[2016-03-02 19:06] dalehenrich commented on #68
If it's not needed, then it doesn't need to be done ... there is no
where in the GsDevKit_home space or travis space where I expect a
certain hostname ... At one point I had a bug, where the pharo code was
truncating the host name, but I've patched that ...

On 03/02/2016 10:47 AM, Fabio Niephaus wrote:

[2016-03-02 19:10] fniephaus commented on #68
ok cool! I know what to do then :) thanks!

[2016-03-02 19:21] dalehenrich commented on #68
Of course, this implies that `sudo hostname <xxx>` is not needed for `any` value of `<xxx>` .... I think that osx is quirky and I think that travis is quirky ... if travis sets up osx **without** ensuring that  `sudo hostname <xxx>` has been executed with whatever hostname that  they have chosen, then  `sudo hostname <xxx>` is still required (on osx), but we can use the hostname that they have cho

[2016-03-02 19:22] dalehenrich commented on #68
... if that was actually the experiment you tried last night then `sudo hostname <xxx>` does not need to be added for my sake :)

[2016-03-04 17:14] Nef10 commented on #35
since our PR is merged this should work now

[2016-03-04 21:32] fniephaus commented on #35
Oh nice! Thanks a lot! :smiley:

[2016-03-04 21:32] #35 closed

[2016-03-05 17:50] theseion opened #80 "Should exception handling be configurable?"
See pull request #79 and issue #64.

For reference:

[2016-03-05 18:15] dalehenrich commented on #80
On 3/5/16 9:50 AM, Max Leske wrote:

MCMergeOrLoadWarning is specific to Pharo ... both GemStone and Squeak
issue a simple Warning...

Metacello has two Notifications: MetacelloIgnorePackageLoaded ,
MetacelloSkipDirtyPackageLoad that can be used to control Metacello's
behavior in this area ... if you go ahead and load over a dirty package,
then you are exposed to the platform behavior in this rega

[2016-03-06 14:06] theseion commented on #80
Good to know for the future :)

Your remark made me curious. It turns out, that MC does something funky when treating method changes. After a method has been modified it will send #methodModified: to MCWorkingCopy class, where #managersForCategory:do: tries to figure out which working copy is responsible for the method (in my case the method is an extension method on SocketStream in the category *

[2016-03-16 22:50] dalehenrich opened #81 "`STON cannot be found.` does not tell me that the file `smalltalk.ston` cannot be found"
I had to read `run.sh` to understand what the error `STON cannot be found.` meant ... perhaps the error message can be a bit more descriptive ... I had named the file `.smalltalkCI.ston` ....

[2016-03-16 23:05] dalehenrich opened #82 "`GemStone Server error: a UserDefinedError occurred (error 2318), reason:halt, Project 'Obex' not registered (loaded)` from SmalltalkCIGemStone not useful"
... this is the raw error message from tODE, but in tODE, the user has the context of an issued command ... need to handle this error in SmalltalkCIGemStone and provide better diagnostics .. as of now I'm guessing as to what might be missing and I "know what's going on" ...

assign to me

[2016-03-17 00:10] dalehenrich commented on #36
The apil rate limit problem was actually addressed by dalehenrich/metacello-work#385, so this bug is fixed without needing to cache the github-cache and can be closed

I do think that I can speed up builds by caching a intermediate/bootstrapped version of the stone  ... so I think I will open a new issue (Issue #31 would be appropriate, but it's been closed) ... for that work

[2016-03-17 00:13] dalehenrich opened #83 "Cache bootstrapped version of GemStone by GemStone version number"
The bootstrapped version of GemStone changes relatively infrequently and if the `--clean` option does what I think it does, a developer can clean their cache whenever they are interested in picking up the latest bootstrapped build ...

[2016-03-17 00:21] dalehenrich opened #84 "`fatal: Couldn't find remote ref refs/pull/12/merge` error for my PR build of smalltalkCI ... why?"
https://travis-ci.org/dalehenrich/smalltalkCI/jobs/116525556#L197

[code]

[2016-03-17 00:32] dalehenrich opened #85 "builds are twice as slow using containers?"
Comparing a tODE build from a month ago (https://travis-ci.org/dalehenrich/tode/jobs/107937673) to a containuer-based build done today (https://travis-ci.org/dalehenrich/tode/jobs/116525067) and it is taking 20 minutes instead of 10 minutes ...

The old build was basically a simulation of using SmalltalkCI ... GsDevKit_home downloaded, installed, stone created, tODE loaded and tests run ... so the

[2016-03-17 08:27] fniephaus commented on #84
Mh, I guess this one has failed, because you merged it before the builds were done?

[2016-03-17 08:29] fniephaus commented on #68
For some reason, https://github.com/travis-ci/travis-build/pull/662 does not seem to have reached production yet. I will close this once it has and after I removed [the temporary fix](https://github.com/hpi-swa/smalltalkCI/blob/5dc687a0a3bf99e05e5744cb4442faef359d1eff/gemstone/run.sh#L105-L110).

[2016-03-17 08:33] fniephaus commented on #83
Where does the bootstrapped version of GemStone live? `_builds/GsDevKit_home`?
It is very easy to [cache a directory](https://docs.travis-ci.com/user/caching/#Arbitrary-directories). Maybe try caching `$SMALLTALK_CI_BUILD/GsDevKit_home`?

[2016-03-17 08:37] fniephaus commented on #83
See https://docs.travis-ci.com/user/caching/#Fetching-and-storing-caches

[2016-03-17 08:40] fniephaus commented on #85
Maybe this is still because of #68? Under Linux, shmall is still not set up correctly.
Referring to [this](https://docs.travis-ci.com/user/ci-environment/#Virtualization-environments), builds on containers have more RAM and better CPU. Not sure yet why this is happening...

[2016-03-17 16:29] dalehenrich commented on #84
which builds?

[2016-03-17 16:35] dalehenrich commented on #85
#68 has nothing to do with a performance problem ... if shmall was not adequate GemStone would fail to start ... GemStone hasn't changed nor has GsDevKit_home changed during that time ...

[2016-03-17 16:43] dalehenrich opened #86 "hard to get `-h` or `--help` for run.sh ... running manually"
[code]

[2016-03-17 16:49] dalehenrich commented on #83
Right now it seems to make the most sense to simply cache the extent file produced by the initial createStone ... Also the gsDevKitCommandLine pharo image/changes files are also worth caching ... Finally, since the pharo vm, image and chages files are being cached, I will cache those as well (if they haven't already been cached) ....

[2016-03-17 16:59] fniephaus commented on #84
For each PR, Travis also initiates builds. If the PR is merged before those builds have run, then the builds fail, because they can't find the PR. Makes sense?

[2016-03-17 17:55] dalehenrich commented on #84
Okay ... that makes sense ...

[2016-03-17 17:55] #84 closed

[2016-03-17 18:18] dalehenrich commented on #83
So smalltalkCI itself is not using the `_cache` directory as a dependency cache?

[2016-03-17 23:14] fniephaus commented on #83
Nope, not yet. It is fairly easy to enable this, but I haven't had the time to check how caching could speed up GemStone builds. Apparently, you were able to speed it up quite a bit!
For Squeak and Pharo, I don't think that caching would help much, because almost everything is just downloaded and that's it. Directory caching works the same way (Downloads everything and then extracts it).

[2016-03-17 23:36] dalehenrich commented on #83
Yeah, if the travis timings are to be believed, [the non-cached timings](https://travis-ci.org/dalehenrich/smalltalkCI/builds/116756215) vs [cached timings](https://travis-ci.org/dalehenrich/smalltalkCI/builds/116736746) are actually faster (up to 2x slower for  some Squeak and Pharo builds).

I'm guessing that those differences are showing up because changes were found in the cache for those buil

[2016-03-18 11:51] fniephaus commented on #83
I've enable caching for GemStone builds on Linux, but oddly enough the cache size is 0?
![image](https://cloud.githubusercontent.com/assets/2368856/13876963/ae09ae8e-ecff-11e5-96d3-33ed624b72df.png)

[2016-03-18 13:38] dalehenrich commented on #83
Yes, I noticed that you changed the cache path from `$TRAVIS_BUILD_DIR/_cache` to `$SMALLTALK_CI_HOME/_cache`, but at the time that the caches defined, `$SMALLTALK_CI_HOME` is not defined correctly - the cache definition runs before the [install step](https://github.com/hpi-swa/smalltalkCI/blob/master/.travis.yml#L22). Either the download step needs to be changed to set `$SMALLTALK_CI_HOME` correc

[2016-03-18 13:53] dalehenrich commented on #82
To reproduce this problem, provide a `smalltalk.ston` file with no `#loading` section defined ...

[2016-03-18 15:16] fniephaus commented on #83
Are you sure? It seems to be set, but also it *could not download cache*:
https://travis-ci.org/hpi-swa/smalltalkCI/jobs/116877289#L378

[2016-03-18 15:19] fniephaus commented on #83
The install step you mentioned does run after the cache definition, but the cache definition runs after [this](https://github.com/travis-ci/travis-build/blob/bbe7c12b6f2c8bdc6cd9a7d3e839a729048648ae/lib/travis/build/script/smalltalk.rb#L66).

[2016-03-18 15:28] dalehenrich commented on #83
Well, all I can say is that when I used SMALLTALK_CI_HOME it was set to the *wrong* value and that at the time that the cache is defined, TRAVIS_BUILD_DIR has the **correct** value ... The first travis run for  https://github.com/dalehenrich/smalltalkCI/commit/acbffadc35d6152f8dc420b2b82e6c09da9ceb03 just finished and the cache is being used ... the [second run is in progress](https://travis-ci.or

[2016-03-18 15:33] dalehenrich commented on #83
I don't doubt that you think that it should be working (by reading code),  but `/home/travis/smalltalkCI-master/_cache` from [here](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/116877289#L378) is not the proper path ... compare that to the value of SMALLTALK_CI_HOME after the install step and you'll see what I'm talking about ...

I don't know **WHY** this is going on, but I do know that it **IS

[2016-03-18 15:35] dalehenrich commented on #83
From [this build where caching is functional](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/116927088), the path being used is `/home/travis/build/dalehenrich/smalltalkCI/_cache` which is completely different from `/home/travis/smalltalkCI-master/_cache` ... go figure

[2016-03-18 15:36] fniephaus commented on #83
I just remembered why: when running smalltalkCI self-tests, [this line](https://github.com/hpi-swa/smalltalkCI/blob/ca5646599c3d402ed2a45be835ad862ade09abfa/.travis.yml#L22) forces the build to use the smalltalkCI from that very branch which is a different one that has been installed via `smalltalk.rb`. Having said that, using `$SMALLTALK_CI_HOME` should work for any project using smalltalkCI, but

[2016-03-18 15:38] fniephaus commented on #83
If the smalltalkCI directory that is created by `smalltalk.rb` is instead replaced but the directory from the current branch, than this should work just fine. I might change that when I have the time.

[2016-03-18 15:45] dalehenrich commented on #83
I'm queuing up a pull request that will restore TRAVIS_BUILD_DIR and in the process of [testing whether or not a project using smalltalkCI](https://github.com/dalehenrich/obex) can get away with using `$SMALLTALK_CI_HOME` ....[tests are in progress\(https://travis-ci.org/dalehenrich/obex), so far I have confirmed that the cache was created and filled, now I need to confirm that the cache is used.

[2016-03-18 15:46] fniephaus commented on #83
Check this out: https://github.com/hpi-swa/smalltalkCI/commit/b9c8c2ffb5da5457121f38d0af41923fd56252c2

[2016-03-18 15:46] dalehenrich commented on #83
I see that you now understand ... I'll submit the PR with the patch when I the tests finish

[2016-03-18 15:48] dalehenrich commented on #83
I only saw changes to .travis.yml, what am I supposed to see there?

[2016-03-18 15:49] dalehenrich commented on #83
I would say that using TRAVIS_BUILD_DIR in the smalltalkCI .travis.yml is not a travesty, especially since SMALLTALK_CI_HOME works in user projects ...

[2016-03-18 16:44] fniephaus commented on #83
I just pushed an update to `master` which let's us use `$SMALLTALK_CI_HOME` for caching during self-tests :)

[2016-03-18 17:01] dalehenrich commented on #83
Sounds like a plan:)

[2016-03-18 18:51] dalehenrich opened #88 "GemStone Server error: Load Conflict between existing BaselineOfTode --- while loading Tode for testing"
`onWarningLog` should have taken care of this, but tODE is a somewhat special case, since it is already present in the image and I'm loading a newer version of tODE on top of it ...

I had started debugging this problem, running smalltalkCI locally and have discovered (possibly incidental) issues in the base SCIMetacelloLoadSpec implementation that should be fixed as they could be issues for other

[2016-03-18 19:22] dalehenrich commented on #85
I'm suspicious that the tODE tests might be disk intensive rather than RAM or CPU intensive ... need to do some profiling and gather more data ... perhaps it was just a slow container day ...

[2016-03-18 19:24] #83 closed

[2016-03-18 19:43] dalehenrich commented on #85
I just finished a test run on my local workstation of the tODE tests and it took 18 minutes:

[code]

which is comparable to the container timings ...

So at this point in time I am less inclined to point a finger at the container being the cause ...

[2016-03-18 19:43] #85 closed

[2016-03-21 16:35] Nef10 opened #91 "Coverage data"
It would be very cool if we could generate and send coverage data to a service like [coveralls](https://coveralls.zendesk.com/hc/en-us/articles/201774865-API-Introduction) or [codecov](https://codecov.io/api#post-report)

[2016-03-21 18:31] fniephaus commented on #91
Yes, indeed. That'd be very nice.
The testrunner supports coverage testing, I wonder what it would take to get this working. What format do coverage services for GitHub expect?

[2016-03-22 00:06] #88 closed

[2016-03-22 00:33] dalehenrich commented on #52
@fniephaus it might turn out that the "solution" might be custom GemStone options passed in at the ./run.sh command ... isn't their a "posix style" for specifying options to an underlying command? Such an *escape clause* would make it possible to simply add custom options to the gemstone/run.sh command, allowing for the re-use of existing checkout or ???

[2016-03-22 00:35] pdebruic opened #92 "Documentation on how to run this locally"
Dale mentioned that you don't need travis at all.

It would be good to describe how to do it in the docs

[2016-03-22 21:00] fniephaus commented on #91
@krono how about we propose this as a SWT project?

[2016-03-22 21:06] fniephaus commented on #92
Hi @pdebruic,
Thanks for opening this and yes, it sure is possible to run smalltalkCI without Travis! I for example run it locally whenever someone encounters a weird problem that'd take ages to debug using Travis builds.
I was hoping that [this](https://github.com/hpi-swa/smalltalkCI#further-configuration) covers it. Any suggestions how we could make it better?

[2016-03-22 21:09] fniephaus commented on #88
So cf4b9ede358e06aa92f306aa41c1358f113c40bb is a fix and not a workaround? I'm just asking because of [this](https://github.com/dalehenrich/smalltalkCI/commit/cf4b9ede358e06aa92f306aa41c1358f113c40bb#diff-df1d7d367d0662c6dd79e0177b241458R13).

[2016-03-22 21:13] dalehenrich commented on #88
.. and what makes you think that is a workaround? Pharo and possibly Squeak is not guaranteed to be using a recent version of Metacello and the copy is necessary to compensate for older versions of Metacello ... the fix is to do the `get` ... by hook or by crook :)

[2016-03-22 21:54] fniephaus commented on #88
I wasn't quite sure what `metacello copy get.` is doing, but all good! Thanks!

[2016-03-22 22:15] fniephaus opened #93 "Display image details in Travis log"
It'd be good to see image details (e.g. version, latest update #) in the Travis log.
For Squeak builds, smalltalkCI still uses prepared images which need to be refreshed manually.
@theseion ran into some problems because of this....

[2016-03-22 22:24] fniephaus opened #94 "User interface for smalltalkCI"
It'd be cool to have some sort of UI to smalltalkCI-ify a new project and to manage existing ones. This could be a simple tool that helps managing smalltalkCI configurations, but it could also do the following:
- Run CI builds locally against multiple _dialects_ x _versions_
- Create new GitHub repository for project
- Export a project via Filetree and create a Baseline
- Push code to GitHub
- Ena

[2016-03-22 22:43] fniephaus commented on #52
I think for now, the good ol' Smalltalk approach should be sufficient: namespace all the GemStone options with ```--gs-``` (e.g. ```--gs-custom-option```). :smile: What do you think?

[2016-03-23 00:42] dalehenrich commented on #52
@fniephaus ... but then that would require that we keep run.sh options and gemstone/run.sh options in synch ... rather than a pass-through option ...

[2016-03-23 17:36] peteruhnak commented on #86
as a workaround you can just run `./run.sh` without any parameters to get the help, or provide path to the .ston `./run.sh -h .smalltalk.ston`

[2016-03-23 20:45] peteruhnak commented on #92
Apparently I don't know how commit tags work…  this PR should address this https://github.com/hpi-swa/smalltalkCI/pull/95

[2016-03-23 21:40] pdebruic commented on #92
Hi Fabio & Peter,

Sure that's great.   I think you should mention that it can run locally in the first line of the readme.md file so that people don't have to read/scan 85% of the documentation before getting to the instructions.

[2016-03-23 23:07] peteruhnak commented on #92
The readme.md is quite long… maybe add a TOC at the beginning? (Or move it
to wiki, but that's less discoverability.)

On Wed, Mar 23, 2016 at 10:40 PM, Paul DeBruicker <notifications@github.com>
wrote:

[2016-03-24 00:53] fniephaus commented on #92
Thanks for the suggestion, @pdebruic. SmalltalkCI runs on Linux and OS X, it just happens to provide Smalltalk support on Travis CI as well ;) I will work on the wording as soon as I have more time! But sure, it can be used as a local CI system or on Jenkins or any other system!

Isn't it the other way around, @peteruhnak? Shouldn't #95 address this issue? ;)

[2016-03-24 01:19] fniephaus opened #96 "Local binary or Homebrew package?"
It might be cool to provide instructions or even a Brew package (and Linux equivalent) for setting smalltalkCI up locally, so that one could do: `$ smalltalkCI myprojects.ston`.
Build and cache folder may need to be adjusted...

[2016-03-24 01:21] fniephaus opened #97 "Safety check for GemStone"
Ask user for confirmation that he has prepared his OS for GemStone before running GemStone builds locally.

[2016-03-24 01:47] dalehenrich commented on #97
GemStone does the prereq installation as part of it's installation step
so there is no need to ask whether or not they've prepared their system
... I _have_ created GsDevKit/GsDevKit_home#87, for adding prompts to
the install script to make sure that user wants to allow GemSTone to
install the prereqs automatically ...

It's only the the travis containers with their weird host names and lack
of su

[2016-03-24 08:18] fniephaus commented on #52
The gemstone/run.sh is being sourced rather than called in a subshell. That means, smalltalkCI just needs to "accept" --gs-* (it fails if it doesn't know an option) and then there could be a second round of argument passing in the gemstone/run.sh. This way, nothing needs to be kept in sync and you are free to add custom options for GemStone. Sounds good? If yes, I could start working on this next

[2016-03-24 08:22] fniephaus commented on #97
The installation step would only run once if I understood correctly, so that's great.
I still think a confirmation would be good, because the script calls sudo and it's usually good practise to inform a user beforehand. But if you are planning to add prompts, we may not need to do it in smalltalkCI. I didn't know about that :)

[2016-03-24 14:48] dalehenrich commented on #52
I was thinking of the [`-Wlxxx` and `-Xlinker xxx` option style used by `gcc` for passing options through to `ld`](https://gcc.gnu.org/onlinedocs/gcc/Link-Options.html):

    Pass option as an option to the linker. You can use this to supply system-specific linker options that GCC does not recognize.

`-Wg, option`, `-Wp,option`, and `-Ws,option` could be used for passing platform specific options

[2016-03-24 17:28] pdebruic commented on #92
Or just change the first sentence of the read me from

Community-supported framework for building Smalltalk projects on Travis CI (continuous integration) infrastructure.

to

Community-supported framework for building Smalltalk projects in Linux & OS X environments as well as Travis CI (continuous integration) infrastructure.

[2016-03-24 23:57] fniephaus commented on #92
How do you like the new description and [this](https://github.com/hpi-swa/smalltalkCI#running-smalltalkci-locally)? A TOC as suggested by @peteruhnak might still be a good idea though...

[2016-03-24 23:59] fniephaus commented on #97
Closed in favor of https://github.com/GsDevKit/GsDevKit_home/issues/87.

[2016-03-24 23:59] #97 closed

[2016-03-25 00:05] fniephaus commented on #52
Mh, I guess this would be possible, but might be harder to implement as you said.
I will look into this next week and try to find something reasonable. I hope this is not super urgent...

[2016-03-25 02:52] dalehenrich commented on #52
Not urgent at all ... I still need to figure out what the set of
(running local) options might be:

   - create stone in an existing GsDevKit_home checkout rather than
build a fresh one
   - run the tests interactively using an existing tODE client
   - create a tODE client and run interactively
   - optionally produce xml log
   - use an alternate _cache directory structure
   - create stone usin

[2016-03-25 09:46] peteruhnak commented on #92
This is certainly better as it should cover the mentioned use cases.

Regarding the TOC, if you want to keep everything in a single README then it would be better. It's way to easy to skim past some sections. :)

[2016-03-25 21:25] fniephaus commented on #92
Mh, I think it still makes sense to keep everything in a single README file for the time being. I don't think it's enough content yet to set up a wiki or a GitHub page. Let's go with a TOC for now and reiterate when we add more content next time :)

[2016-03-25 21:37] #81 closed

[2016-03-25 21:40] fniephaus commented on #52
That is quite a list of options. :smile:
Would it make sense to use or even reuse some sort of config file for GemStone builds?

[2016-03-26 22:09] #92 closed

[2016-03-28 18:30] dalehenrich commented on #52
The cut point here is to differentiate between things that apply equally to local and travis runs --- a file of some sort makes sense --- The command line option would be used for things that apply only to the local builds ... forcing a user to create a config file for a "one-off" local run does not make sense --- that is what command line options are for:)

I have several projects that currently

[2016-03-28 20:14] dalehenrich commented on #52
@fniephaus you might get you wish for "gemstone configuration options" [sooner rather than later](http://forum.world.st/Seaside-Smalltalk-CI-build-for-Gemstone-runs-out-of-temp-object-space-tp4886891p4887007.html) :) ... have a use case for setting size of GEM_TEMPOBJ_CACHE_SIZE for test gem that falls squarely in the travis/local box ....

I'm proposing the following to the list:

[code]

Perhaps

[2016-03-28 21:17] fniephaus commented on #52
What do you think about bc072cce2ca7b1657d5b320bc07faa04360af4da?
I will have a look at the above tomorrow...

[2016-03-28 22:16] dalehenrich commented on #52
Passing the args through to `gemstone/run.sh` looks good. I'd like to take the actual gemstone options to be implemented under advisement as I'm not ready to commit to which options make sense as command-lines, etc.... Ideally I will take a long close look at several different use cases before committing to an approach ... like setting gemstone-specific env vars, probably should be part of the .tr

[2016-03-29 05:43] dalehenrich commented on #52
@pdebruic suggested that it would be useful to set the timezone for the stone --- something that needs to be done as SystemUser, so not easy to do from within a test suite --- so the a #timezone field might be added as well ...

[2016-03-29 08:42] fniephaus commented on #66
@dalehenrich I have not been able to reproduce the problem you mentioned in https://github.com/hpi-swa/smalltalkCI/pull/51#issuecomment-185924243.
Regardless, I have enabled a few more safety switches to make sure smalltalkCI fails as soon as something unexpected happens.

[2016-03-29 08:46] fniephaus commented on #66
@dalehenrich Do you think it's necessary to keep [these `exit 1`s](https://github.com/hpi-swa/smalltalkCI/blob/cec5905a1ff45d2c86f7fa1721795cca33229882/gemstone/run.sh#L53) or [the `print_error_and_exit`s](https://github.com/hpi-swa/smalltalkCI/blob/cec5905a1ff45d2c86f7fa1721795cca33229882/gemstone/run.sh#L101)?

[2016-03-29 17:14] dalehenrich commented on #66
I think that those `exit 1`s were created before I knew that `print-error_and_exit` existed :)

[2016-03-29 17:16] dalehenrich commented on #66
I see that you've assigned this bug to me ... what do you want done in relation to this ... change the `exit 1`s or something else?

[2016-03-29 21:49] dalehenrich opened #101 "Is it correct to skip clean if only _builds directory is present?"
I ran into an error while trying to clean the _builds directory (`--clean` option), so only the _cache directory was deleted and then when I ran the --clean (after fixing the error), i got `Nothing to clean up.` message and that's because the [clean test](https://github.com/hpi-swa/smalltalkCI/blob/master/run.sh#L212-L213) is:

[code]
which reads as `_cache` exists or `_builds` does not exist ...

[2016-03-29 22:49] fniephaus commented on #101
Whoops, I guess this should be:

[code]

Thanks!

[2016-03-29 23:34] dalehenrich commented on #101
I tried that fix in my image and it still seemed to not want to delete
the _builds directory  --- I think the script silently exited without an
explanation ... I was guessing that the the `rm -rf` silently failed to
process the second argument -- so you might want to test it out ... BTW
the failure seemed to come when the _cache directory was already gone ...

On 03/29/2016 03:49 PM, Fabio Niephau

[2016-03-29 23:43] dalehenrich commented on #86
A similar error happens if you try a clean with specifying anything else on the command line:

[code]

I know these are nitpicks, but it seems that both --help and --clean shouldn't require additional arguments --- there may be more :)

With that said, I know that parsing command line arguments in bash is a complete mess.

[2016-03-29 23:56] fniephaus commented on #101
Thanks. I will need to look into this tomorrow.

[2016-03-29 23:58] fniephaus commented on #86
I will look into this tomorrow. I tried to follow best practices, but unfortunately that's not enough :S

[2016-03-30 16:06] #86 closed

[2016-03-30 17:21] dalehenrich commented on #52
@fniephaus I'm fixing to submit a PR with [this implementation of gemstone-specific args](https://github.com/dalehenrich/smalltalkCI/commit/811e5e832c924ac16a01d188bc50bf620d0748f8) ... I want to test my `--clean` fix a bit more, but you can preview the changes otherwise

[2016-03-30 17:23] fniephaus commented on #77
Maybe Microsoft is faster supporting bash:
http://blog.dustinkirkland.com/2016/03/ubuntu-on-windows.html

:smile:

[2016-03-30 17:25] fniephaus commented on #52
Ops, I [just pushed an update](https://github.com/hpi-swa/smalltalkCI/blob/6452b9b7109a46832570813b7931def4ba52178e/run.sh#L262-L279) for `--clean` :grin:

[2016-03-30 17:31] dalehenrich commented on #52
The `--clean` fix is specific to GemStone ... also I see that you actually pushed the gemstone args with args that I didn't actually want to support (yet) ... I didn't realize that I *approved* them ...

Also have you actually tested your implementation? When I tried to use your implementation, `$@` is empty by the time that gemstone gets the args, so I had to use a slightly different approach...

[2016-03-30 17:39] dalehenrich commented on #52
Here are the [diffs between the edits I made to get `--gs-` args to actually work](https://github.com/hpi-swa/smalltalkCI/compare/master...dalehenrich:gemstone_args?expand=1) ... I'm now going to test my changes to make sure that the are still working

[2016-03-30 17:46] dalehenrich opened #102 "cannot interrupt clean prompt? ... if this is standard bash behavior it's acceptable"
Here's what happens when I hit `CTL-c` at the prompt during clean:

[code]

I had to hit a return after `CTL-c` and even then the `CTL-c` did not appear to work ...

Also note that the directories are reversed in the `--clean` prompt:

[code]

should be:

[code]
 ... I've got a fix for this in my upcoming PR ...

[2016-03-30 17:50] dalehenrich commented on #101
More nitpicking (that can be ignored) but if you do use `--clean`` without any other args, 1) you are prompted to `Continue` and then if you do continue you get an error:

[code]

Like I said this is a nitpick and can be ignored...

[2016-03-30 17:50] fniephaus commented on #52
Sorry, I had a few other fixes on `dev` that I wanted to be merged and I might have acted a little prematurely (next time I cherry pick...).
And yes, you did not approve any of those, so I am happy to take your lead. I actually just implemented them as an example for you :satisfied:

[2016-03-30 17:52] fniephaus commented on #101
I have notice this as well, but thought this might be expected. If you want to continue, you must have provided Smalltalk image and STON. Maybe we should just quit the script after `--clean` is done?

[2016-03-30 17:59] dalehenrich commented on #77
`Github for Windows` supports a git and a bash shell for Windows ... I use it for the GsDevKit_home Windows client support ... so smalltalkCI could run locally in that environment .... GemStone only supports windows clients and the formula for downloading and starting a Paro/Squeak vms might be different, but presumably the run.sh scripts should run (almost) without changes...

[2016-03-30 18:01] dalehenrich commented on #101
Well, it depends upon whether or not additional args have been supplied ... if no additional args exit, otherwise prompt for continue .... or leave the behavior as is and wait to see if anyone else notices/complains :)

[2016-03-30 18:03] dalehenrich commented on #52
I appreciated the pointers in getting them to work and I started with your basic edits so at the end of the day all is good!

I'm waiting for travis to pass judgement on my edits :)

[2016-03-31 10:10] fniephaus opened #104 "[Update] Push Permissions"
GitHub has [improved protected branches](https://github.com/blog/2137-protected-branches-improvements), so now @hpi-swa/smalltalkci-contributors can push to all smalltalkCI branches except `master`.
This way @dalehenrich and @estebanlm can now add their feature branches here without having to fork.

Please close once acknowledged :smiley:

[2016-03-31 10:19] estebanlm commented on #104
ok :)

[2016-03-31 12:55] dalehenrich commented on #104
ok

[2016-03-31 14:17] dalehenrich opened #105 "Combined GemStone/Squeak/Pharo tests - revisited"
In Issue #29, I mentioned that I would eventually need this feature and at the time I figured that I could handle this requirement in GsDevKit_home and @fniephaus  [postulated that the following could be used to run the tests from travis](https://github.com/hpi-swa/smalltalkCI/issues/29#issuecomment-174314664):

[code]

However as I [get into this in earnest](https://github.com/GsDevKit/GsDevKit_h

[2016-03-31 16:52] #101 closed

[2016-03-31 17:06] fniephaus commented on #105
SGTM and great that there already is a second use-case for smalltalkCI config files :)
I have one suggestion at the moment: You are using `env`s as a variation point which is ok, but I'd like to avoid the use of too many env vars if possible. One idea that I haven't worked on yet is that one could also specify a STON config for a build just like it's for example possible to [specify gem files in R

[2016-03-31 17:09] dalehenrich commented on #102
I've fixed the part of this bug that I can fix .. the CTL-C is beyond my bash chops to address, so it's time to close or assign to someone else :)

[2016-03-31 17:18] fniephaus opened #106 "Ability to specify smalltalkCI STON config per build"
Currently, the default config name is `.smalltalk.ston` or `smalltalk.ston` and a user can overwrite `script` in the `.travis.yml` like this in order to use a custom name:
[code]

It'd be cool to be able to specify the STON config per build just like it's possible to [specify a gem file for Ruby builds on Travis](https://docs.travis-ci.com/user/languages/ruby#Testing-against-multiple-versions-of-d

[2016-03-31 17:19] fniephaus commented on #102
Can't you (re)assign issues as a contributor?

[2016-03-31 18:12] dalehenrich commented on #105
Okay, I think I see what you are doing with the multiple config files and I agree that your proposal would be a useful feature, but I'm not sure that it addresses my use case ...

The point of using the `GSCI_CLIENT` env var is two fold:
  1. I don't want to introduce the overhead of having to maintain multiple, duplicate config files when I am only varying a single parameter.
  2. I am thinking t

[2016-03-31 19:09] dalehenrich commented on #105
Continuing with the discussion of clients and smalltalkCI configuration file extensions...
I've already described how I intend to create and start clients for GsDevKit_home:

[code]

However, if I want to be able to run a travis test involving the client, I need to create and start a stone; then create and start a client; run the stone tests and finally run the client tests all while producing coh

[2016-03-31 19:33] dalehenrich commented on #102
That must be a new feature as well ... the last time I checked (weeks ago) I couldn't change the assignee, nor could I close issues that I did not create ... and it appears that I can do that now as well ...

[2016-03-31 19:41] fniephaus commented on #102
That was why I added you as a contributor in the first place ;) just trying to make our lives as easy as possible

[2016-03-31 19:42] fniephaus commented on #105
Have to think about this tomorrow. I will follow up asap

[2016-03-31 19:52] dalehenrich commented on #102
Haha, that's great .... now that I know I have different super powers I will try to look for new opportunities to use them :)

BTW, I am thinking that I don't want to overuse the privilege of being able to create a merge branches on the hpi-swa repository ... If I do work in my fork, you don't have to ignore it ... however, if I do work on a branch in hpi-swa, then you can easily contribute change

[2016-03-31 19:53] dalehenrich commented on #105
I know its a lot to digest ... so thanks!

[2016-03-31 23:12] dalehenrich commented on #104
Just a note ... I created an issue_105 branch on hpi-swa and pushed my first set of changes and [one of the builds failed](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/119937794) on osx and when that (randomly) happens I typically restart the job ... al the other builds passed, but apparently I don't have the appropriate access rights on travis to restart the job ... this makes it a bit inconven

[2016-03-31 23:25] fniephaus commented on #104
I've restarted the build for you. But yes, this is annoying if builds are flaky and I'd understand why you'd prefer to work on your fork. I will file a bug with Travis I guess...

[2016-04-01 06:35] krono commented on #91
k

[2016-04-01 06:36] krono commented on #94
k

[2016-04-01 20:27] fniephaus commented on #105
Once again, I realized that I have very limited knowledge about GemStone, but I trust your judgement.
Here are my thoughts (I hope they make sense):
I do understand that you need additional config options via the smalltalkCI config file and it sounds reasonable to call this `#configuring` and to use an abstract class for this. Since we already have `SCIAbstractLoadSpec`, maybe call it `SCIAbstract

[2016-04-01 22:38] dalehenrich commented on #105
On 4/1/16 1:27 PM, Fabio Niephaus wrote:

Unless told otherwise I'll go with SCIAbstractConfig --- it can always
be changed.

Well I suppose that database connections would need to be configured ---
say a seaside application that is designed to connect to multiple data
bases --- which does happen to lineup with with my use case, except that
the data base is GemStone :) In fact for the Tugrik proje

[2016-04-02 11:08] fniephaus commented on #105
`SCIAbstractConfig` sounds good :)

For MongoDB, you might want to have a look [at this](https://docs.travis-ci.com/user/database-setup/#MongoDB) as well.

Sure, there is nothing wrong with using multiple STON configs, I just thought that for the system/client setup it might be handy to be able to also use just one file.

I had no idea how many options there are for GemStone. I must admit that I n

[2016-04-02 14:50] dalehenrich commented on #105
@fniephaus, I'm pretty comfortable with the basic solution that I have been proposing:
  - gs-specific env vars
  - gs-specific command line arguments
  - gs-specific entries in system config object in `smalltalk.ston`

In the standard case, the `.smalltalk.ston` file is sufficient ...

When one runs smalltalkCI locally for either debugging a travis failure or using it as part of ones own local CI

[2016-04-02 16:41] fniephaus commented on #105
The above all sounds good to me, except that I haven't fully understood yet how you intend to trigger the client build using the second STON file defined in the first STON file. But I guess I will find out soon, since you are already working on it :)

[2016-04-02 16:50] dalehenrich commented on #105
Good! I haven't quite figured out how myself ... part of it has to do with figuring out how to get the results displayed (sounds like I might have to arrange to use non-default xml log file names, or perhaps call `print_results` myself?) and part of it has to do with figuring out when I need to run the client tests --- as you point out: *How will the gemstone.sh script know to run a client test?*.

[2016-04-02 18:37] dalehenrich commented on #105
[Here's where I'm tracking my progress towards figuring out the client/server testing split](https://github.com/GsDevKit/GsDevKit_home/issues/93#issuecomment-204106787)

[2016-04-02 20:06] fniephaus commented on #105
Maybe running a duo build already is such a special use case, so that we don't need to support three or more synchronous builds. By that I mean, maybe we can do both in one run of smalltalkCI which eliminates the need to overwrite `script` in the travis.yml and we also don't have to worry about things like `print_results`.
The more I think about it, the less I believe we need to support n passes o

[2016-04-03 02:19] dalehenrich commented on #105
Not sure what your point is here ... I have a relatively common use case (for GemStone) where I want to run both client and server tests in the same build using a single `smalltalk.ston` config file --- and I expect to solve the problem within the context of the gemstone/run.sh build driver ... outside of GemStone I agree that n passes does not make sense - although you already make two passes for

[2016-04-03 11:14] fniephaus commented on #105
I was just thinking out loud :smile: and I guess my point was that I think it'd be enough to just add support for system/client duo tests to smalltalkCI and nothing more (e.g. my suggested `after` and `before`). Let keep it simple :) And of course, you can run smalltalkCI multiple times if you want to

[2016-04-03 13:12] dalehenrich commented on #105
Okay, I wan't paying that much attention to `before/after` discussion, since it didn't seem to be applicable ... GemStone is more like a regular smalltalk image than a database service: the client server scenarios I am interested are cases where the project needs to be loaded into both the client and the server and tests run on both the client and server ... I think I finally have all the pics fig

[2016-04-03 13:35] dalehenrich commented on #75
any additional work should be done under the cover of a new issue

[2016-04-03 13:35] #75 closed

[2016-04-03 14:45] SergeStinckwich opened #107 "The command "$SMALLTALK_CI_HOME/run.sh" exited with 1."
Apparently SmalltalkCI is not working anymore on Mac OS X build:
https://travis-ci.org/UMMISCO/kendrick/jobs/118981955

[2016-04-03 15:13] dalehenrich commented on #107
Pretty strange, here's the [bash that is failing](https://github.com/hpi-swa/smalltalkCI/blob/master/run.sh#L34-L37):

[code]

Not a lot of moving parts at this point.

[2016-04-03 15:14] dalehenrich commented on #107
... and last commit was three days ago: https://github.com/hpi-swa/smalltalkCI/commit/b28fec62801910bf3dadeea0d5385b2ee1a499ba

[2016-04-03 15:16] SergeStinckwich commented on #107
All my mac os x builds return this error now.

[2016-04-03 15:18] dalehenrich commented on #107
this is likely to be either a travis or github problem

[2016-04-03 17:34] dalehenrich opened #108 "Custom `STON-Core` package is not kosher"
The custom `STON-Core` package for Squeak and Pharo means that it is impossible to use an alternate or different version of STON.

When SmalltalkCI is loaded into a Pharo image, the SmalltalkCI `STON-Core` package unconditionally replaces whatever may have been in that package previously ...

While the SmalltalkCI `STON-Core` may be functional in Pharo, it differs quite a bit from the officially r

[2016-04-03 18:02] dalehenrich opened #109 "`./run.sh --headfull -s "Pharo-5.0" ./.smalltalk.ston` doesn't quite work as (I) expected"
I followed the instructions *To reproduce the failed build locally* from [a failed build](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/120459414#L747-L750), and the build failed locally:

[code]

However, the `--headfull` image exited without giving me a chance to debug the problem and the image that was saved in the `_cache` was just a standard Pharo-5.0 image file ...

So the *to reproduce

[2016-04-03 18:10] dalehenrich commented on #109
Same behavior with `Pharo-3.0`.

It looks like the [eval --save](https://github.com/hpi-swa/smalltalkCI/blob/master/pharo/run.sh#L183-L190) command line:

[code]

 is not quite working as expected.

[2016-04-03 18:21] dalehenrich commented on #109
Finally found the magic: `_cache/vms/Pharo-5.0/pharo-ui _builds/2016_04_03_11_18_14/TravisCI.image &` ... so it's not that `eval --save` wasn't functioning correctly...

Perhaps the image should not exit when `--headfull` is specified?

[2016-04-03 18:45] dalehenrich commented on #109
Also as an aside, it can be a bit of a challenge to figure out how to manually duplicate the set of tests that are run by SmalltalkCI -- if you are interested in re-running the full set of tests while you are sitting in the `--headfull` image.  The new (#105) #testCIFor: helps:

[code]

but you still have to know the full path of the `.smalltalk.ston` file and you have to manually look at the xml

[2016-04-03 18:51] dalehenrich commented on #109
To provide just a tad more info, if you look at the [travis results for this build](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/120459414), you'll see that there are a bunch of `STON` tests being run (and failing two tests), so I was interested in excluding the `STON-Tests` category, since presumably the STON tests are failing in a standard Pharo-5.0 (need to double check that SmalltalkCI i

[2016-04-03 18:54] dalehenrich commented on #109
... finally the STON test failures do indeed look like STON test issues and have nothing to do with SmalltalkCI

[2016-04-03 19:09] dalehenrich commented on #109
... except that there is also a custom `STON-Tests` package that is being loaded by SmalltalkCI and those tests are actually incorrect for the official version of STON --- which is why the tests are failing ... I discovered this because the STON-Tests failed in the SmalltalkCI image but were passing in the base Pharo-5.0 image ... further illustration of the problems introduced by unconditionally

[2016-04-03 19:16] dalehenrich opened #110 "Error running: ` ./run.sh --headfull -s "Squeak-5.0" ./.smalltalk.ston` on osx"
I was just testing my fixes for #109 with Squeak for completeness and hit the following (running on OSX):

[code]

[2016-04-03 19:19] dalehenrich commented on #109
These last three commits are really at Issue #108, not #109...

[2016-04-03 19:21] dalehenrich commented on #108
The following commits are relevant to this issue:  	2ec4808,  77d1185, and  dc65962

[2016-04-03 19:30] dalehenrich commented on #109
Despite the issues, it was very satisfying to be able to reproduce the travis environment locally to the extent that I could basically address all of the travis issues (including changes to the `smalltalk.ston` spec) ...

As a suggestion, when running `--headfull` it may make sense to dump out information about the `_build` directory and the name of the image being used --- perhaps the an `echo` o

[2016-04-03 19:30] fniephaus commented on #110
The "unbound variable" error occurs because of `set -o nounset`. I will have a look at it now...

[2016-04-03 19:37] dalehenrich commented on #110
okay ... not a priority, since I'm past this point ... back to running things on travis :) ... THX!

[2016-04-03 19:45] dalehenrich opened #111 "#platform attribute for #testing specs"
It is likely that we will eventually need platform-specific #testing specs.

For Issue #108, I almost needed to have [different `exclusion` specs](https://github.com/dalehenrich/smalltalkCI/commit/2ec4808fb9ae5baa80cbf1a2652211ad1c0ace22#diff-bbe7f99f0fe2368a194030089288318fL10) for Pharo and Squeak ... in that case, the `STON-Tests` category was required for Squeak and _almost needed to be exclud

[2016-04-03 19:45] fniephaus commented on #107
Unfortunately, it is a problem with smalltalkCI that I recently introduced. I know how to fix it and it looks like the hotfix already works. Please restart your builds, @SergeStinckwich :)

[2016-04-03 19:49] fniephaus commented on #110
Current [`master`](https://github.com/hpi-swa/smalltalkCI/commit/4baae337e6dceae1d5f65ca6b6ef1676288c5c54) gives me:
![image](https://cloud.githubusercontent.com/assets/2368856/14234547/d7becf96-f9e5-11e5-9030-6fc7bf201e4e.png)

[2016-04-03 20:15] fniephaus opened #112 "Random GemStone build errors on OSX --- `FileWriteError` and `SmallInteger(Object)>>doesNotUnderstand: #add:`"
And another `GemStone-3.3.0` failed randomly?
[code]

[2016-04-03 20:47] dalehenrich commented on #112
Well ... I think this just might turn out to be a Pharo/OSX issue ... the error is occurring while trying to create the gsDevKitCommandLine image on the OSX --- I have been seeing a number of "random failures" of Pharo on the mac recently --- since no actual code is being changed between successful and failed runs, I think this is a flakiness in OSX ... For awhile I was seeing `FileWrite errors` o

[2016-04-03 20:50] dalehenrich commented on #110
I'm not sure what you are telling me here ... I thought this was a Squeak-50/osx problem, not a `Pharo-stable` thing?

[2016-04-03 20:54] dalehenrich commented on #112
Do you have a `flakey OSX` label, presumably this isn't strictly a GemStone bug, since it is Pharo on OSX that is failing and I don't realy think it is a Pharo bug (although It could be a vm issue --- which would explain why it happens randomly)

[2016-04-03 20:57] dalehenrich commented on #112
Close since there's nothing to be done ... useful information though...

[2016-04-03 21:05] fniephaus commented on #110
Whoops, sometimes I should do more copy & paste. Now I see the error, I'll fix it tomorrow!

[2016-04-03 21:12] dalehenrich commented on #110
Haha ... no problem ... the build was green on travis, so this appears to only be a local problem :)

[2016-04-04 06:12] fniephaus commented on #112
Mh, well I haven't seen a single standalone Pharo build failing like this before on OS X.
Shall we at least retry the Pharo run if it fails during a GemStone build?

[2016-04-04 10:10] SergeStinckwich commented on #107
Great ! Thank you Fabio.

[2016-04-04 13:30] dalehenrich commented on #112
Interesting dong the upteenth build on my Mac laptop I got the following error:

[code]

FLAKEY  OSX

[2016-04-04 18:06] fniephaus commented on #104
@dalehenrich: I just synced the repository on Travis, could you try again please?

[2016-04-04 18:11] fniephaus commented on #107
Thanks for letting me know, @SergeStinckwich!

[2016-04-04 18:11] #107 closed

[2016-04-04 18:12] #102 closed

[2016-04-04 18:12] #110 closed

[2016-04-04 18:20] dalehenrich commented on #112
retrying gets past the problem ... as I said before this is either a Pharo or OSX bug and until this morning, had not seen it happen in my own builds ... I can't really tell if the vms have been recently updated or not but it is definitely random ... osx only ... my laptop uses SSD disks perhaps that is where the issue is ... I've heard that the SSD drives are not completely free from random read/

[2016-04-04 18:24] dalehenrich commented on #104
@fniephaus excellent ... just restarted a failed build: https://travis-ci.org/hpi-swa/smalltalkCI/jobs/120625724 ... it will fail again :), but I **was** able to restart THX

[2016-04-04 18:24] #104 closed

[2016-04-04 18:24] fniephaus commented on #104
Sweet!

[2016-04-04 20:46] fniephaus commented on #108
Thanks, @dalehenrich! Happy to merge this into `master` once it's ready

[2016-04-04 20:57] dalehenrich opened #114 "`serverDoIt result --> '''GCI main terminated...'''` does not exit error"
A GemStone load can result in a `GCI main terminated..` which should actually exit with non-zero status:
[code]

This is likely to be a bug in tODE, but I want to at least track the issue here... trying to get https://github.com/dalehenrich/metacello-work to use smalltalkCI ...

[2016-04-04 21:02] fniephaus commented on #109
First, files in `_cache` are not being modified after a download. Otherwise the cache would be inconsistent. Instead, the corresponding image for a build is copied into a corresponding build folder within `_builds` and then the image is being modified.
I'm already working on a fix for the `--headfull` mode for Pharo builds...

[2016-04-04 21:03] fniephaus commented on #114
That's annoying, but nice that you're migrating `metacello-work`! Let me know if you need any help.

[2016-04-04 21:10] dalehenrich opened #115 "Poor error message for Pharo-5.0 when test load error encountered"
While seeing if I can use smalltalkCI with Metacello, I created an invalid `.smalltalk.ston` file:

[code]

[Pharo-5.0 exits with an error status](https://travis-ci.org/dalehenrich/metacello-work/jobs/120732371), but fails to give a useful error message.

GemStone [produces a proper error message](https://travis-ci.org/dalehenrich/metacello-work/jobs/120732373#L1236): `GemStone Server error: a STO

[2016-04-04 21:37] dalehenrich commented on #115
With proper `.smalltalk.ston` file ... the [builds are green](https://travis-ci.org/dalehenrich/metacello-work/builds/120735332)

[2016-04-04 21:40] dalehenrich commented on #114
I needed to use `#onWarningLog` to get around the issue and make progress ... Not my choice to move right now, but [Pharo-5.0 no longer works on builderCI](https://github.com/dalehenrich/builderCI/issues/107) so I thought I'd take a crack at seeing how hard it is ...

[2016-04-04 21:43] dalehenrich commented on #109
The image that I was looking for wasn't even in the _cache directory ... when you are running the command locally, it is non-obvious where to look for things ... like I said I think we need a bit more documentation about using ./run.sh locally ... having the image halt and not exit will reduce the priority of better docs :)

[2016-04-04 21:48] dalehenrich commented on #112
regarding retrying: in a word "no" ... retrying builds on random mac failures is not something that I think should be done ... there are a number of valid reasons for failures to occur and it takes a human to differentiate ... network download errors, servers off-line ... legitimate mistake in configurations ...

[2016-04-04 21:48] #112 closed

[2016-04-04 22:09] dalehenrich opened #116 "Incomplete test results for Squeak"
Compare the end of the test results display for [Pharo-5.0](https://travis-ci.org/dalehenrich/metacello-work/jobs/120744204) and [Squeak-4.5](https://travis-ci.org/dalehenrich/metacello-work/jobs/120744205). The Squeak log is missing the all important error summary ... thre was one error during the test and I am not able to tell which test had the error with incomplete results

[2016-04-04 22:32] fniephaus commented on #115
smalltalkCI doesn't handle invalid STON files well in general at the moment.
This definitely needs some work. Maybe I have some time tomorrow...

[2016-04-04 22:41] dalehenrich commented on #116
[Gemstone output was truncated as well](https://travis-ci.org/dalehenrich/metacello-work/jobs/120744206) ... I do know that Metacello dumps a bunch of output to the log and for builderCI, I had split the tests in half to minimize run times ... so I'm going to guess that the log exceeded the travis maximum log length  and close this bug ...

[2016-04-04 22:45] dalehenrich commented on #116
Yep [the raw log](https://s3.amazonaws.com/archive.travis-ci.org/jobs/120744205/log.txt) has the missing information for the Squeak error --- a (random) network download error:

[code]

[2016-04-04 22:51] fniephaus commented on #116
Maybe we should do something about this? AFAIK the limit is currently 10,000 lines and Metacello is quite verbose. Any ideas?

[2016-04-04 22:58] fniephaus commented on #116
Also there are [924](https://travis-ci.org/dalehenrich/metacello-work/jobs/120744206#L9624) lines like [this](https://travis-ci.org/dalehenrich/metacello-work/jobs/120744206#L7665) that we could save if we instead print a single char without a line break.

[2016-04-04 23:20] dalehenrich commented on #116
right, but then you risk having travis time out because of lack of output ... remember the background thread in builderCI? ... we could put a `.` out instead of test status ... what's the longest line limit for travis?

[2016-04-04 23:21] dalehenrich commented on #116
I thought about that when I put the code in for GemStone, but I also though that meaningful output about progress would be worthwhile ... ah well , `.` it is :)

[2016-04-04 23:31] dalehenrich commented on #115
Again, this is not a high priority, I'm submitting issues as I hit them so the information isn't lost ...

[2016-04-05 00:08] dalehenrich commented on #116
I've gone back to usng builderCI for the near term with `metacello-work` ... my stack is getting too deep as it is ... when I get back to it I will probably go with splitting the tests up into batches (which is what I did for builderCI --- I wanted to see what would happen with smalltalkCI -- 1000 tests are a handful and I found that out ...

[2016-04-05 07:14] fniephaus commented on #115
It might not be high priority for *us*, but it would certainly be a good idea to improve this this week, because we have students working with smalltalkCI as soon as next week. I'm on it...

[2016-04-05 10:14] fniephaus commented on #116
I actually opted for "test start" as `-` and "test end" as `>`. This way it looks like `->->->->->->`

[2016-04-05 16:20] fniephaus opened #117 "GemStone builds broken because of seaside.gemstone.com?"
See: https://travis-ci.org/hpi-swa/smalltalkCI/jobs/120918262#L1339

[2016-04-05 20:44] dalehenrich commented on #117
This is not a seaside.gemstone.com issue ... broken downloads occur occasionally ... restart the job and it should finish

[2016-04-05 20:56] fniephaus commented on #117
I opened the issue because of this:

That's why I thought it was related...
Please close the issue if there's nothing we need to/can do

[2016-04-05 21:41] dalehenrich commented on #117
The "what can you do" is to restart the build. Did the re-start work?

Many of the older configs have a dual repository registration where both gemstone.com and gemtalksystems.com are being referenced and the attempt to load from the alternate repo is tried after failing several times, so this could be such a case .. if you note that earlier in the log ConfigurationOfGsMisc also had the exactly sa

[2016-04-05 21:41] #117 closed

[2016-04-05 22:49] fniephaus commented on #93
This now works for Squeak and Pharo.
Reassigning this to @dalehenrich for GemStone support (not a high priority).

[2016-04-06 15:36] fniephaus opened #119 "Speed up GemStone builds?"
[This build](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/121132808) ran for 17 minutes, and the slow operations were:

- *Installing server...* with 75s
- *Creating stone...* with 430s
- *Installing server...* with 59s
- *Creating stone...* with 391s

That's a total of 955s or ~16 minutes.
Does smalltalkCI have to install a server and create a stone twice or can we reuse both from the run befor

[2016-04-06 16:02] dalehenrich commented on #119
Perhaps skipping the double build entirely on OSX is an even better
solution? I don't think that we're likely to find any osx specific
problems...

The osx machines are not only slow on travis (builds don't take that
long on my laptop), but they also appear to be over-committed and it
takes forever for the osx builds to even start ...

Dale

On 4/6/16 8:36 AM, Fabio Niephaus wrote:

[2016-04-06 16:05] fniephaus commented on #119
That's a good idea! Let me take care of that :)

[2016-04-06 16:46] dalehenrich commented on #119
Cool, THX!

[2016-04-06 21:28] #109 closed

[2016-04-06 21:41] fniephaus commented on #119
For Squeak, smalltalkCI uses prepared images that basically are stock images with metacello-work preinstalled (because that takes quite some time to load).
[It looks like something is being loaded during *Creating stone...*](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/121196048#L750) and I'm guessing that this makes up for most of the build time. Would it be useful and possible to use prepared

[2016-04-06 23:50] fniephaus commented on #119
Using shallow cloning, I was able to cut *Installing server...* from 75s down to [42s](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/121297844#L275).

[2016-04-07 03:59] dalehenrich commented on #119
I think that dependency caching does the job perfectly well ... okay except for OSX and I don't really want to be in the business of maintaining prepared images ... let's revisit this in a couple of weeks as I am really swamped right now and am tired of debating this issue :)

[2016-04-07 04:03] dalehenrich commented on #114
This looks like the classic case of trying to bring up an interactive widget in a headless vm:

[code]

The diagnostic bit is *TDConfirm* ... I hit this issue again while working on #105 and I think I've resolved the problem there ... will close now - can be reopened if it shows up again before #105 get's merged

[2016-04-07 04:03] #114 closed

[2016-04-07 04:23] dalehenrich commented on #116
@fniephaus - now I am [seeing truncation in test results](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/121335708#L3075-L3098) that cannot be attributed to log overflow ..

This *is* happening when I am running 4 tests (2 passes and 2 expected failures; one server and one client) ... currently it is on the issue_105 branch and I've just pushed it to hpi-swa if you want to fiddle ... the raw l

[2016-04-07 04:27] dalehenrich commented on #116
the GemStone part to this will be available when fix for #105 is merged ...

[2016-04-07 05:34] dalehenrich commented on #105
Whew! [First travis run with combined server and client test runs](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/121343559):

[code]

[2016-04-07 08:12] fniephaus commented on #119
Sure, no worries! We've already cut the build time in half on OS X, so it's not as bad anymore.
Sorry for annoying you with this so much ;)

[2016-04-07 08:20] fniephaus commented on #116
I know why the results are being truncated. For the folding, I am using an undocumented Travis API which requires that all identifier for folds are unique. You are the first to create a scenario in which this can happen. But I'm working on a fix...on your branch!

[2016-04-07 11:16] fniephaus commented on #116
@dalehenrich your issue is fixed now on `issue_105`:
https://travis-ci.org/hpi-swa/smalltalkCI/jobs/121398710#L2216

[2016-04-07 11:22] fniephaus commented on #115
There's still a problem with `Pharo-5.0` not showing the error at the moment, but this is apparently a bug.
Postponing the issue...

[2016-04-07 11:24] fniephaus commented on #67
Closed in favor of https://github.com/hpi-swa/smalltalkCI/issues/115.

[2016-04-07 11:24] #67 closed

[2016-04-07 11:25] fniephaus commented on #68
https://github.com/travis-ci/travis-build/pull/692 should finally closed this issue.
There was (yet another) but in the `smalltalk.rb`.

[2016-04-07 12:19] #76 closed

[2016-04-07 13:21] dalehenrich commented on #119
Haha, usually a healthy debate is worthwhile, but I am pushing things on the stack while I get the smalltalkCI client testing working and adding additional tasks to my stack is the last thing I want to see :)

[2016-04-07 13:23] dalehenrich commented on #116
Excellent! I really appreciate your effort! Thx

[2016-04-07 13:26] dalehenrich commented on #68
That means I should be able to remove the patch? If so assign to me and I will remote the patch ... Not going to take the time to test right now:)

[2016-04-07 13:34] fniephaus commented on #68
Yes, when https://github.com/travis-ci/travis-build/pull/692 is in production. I can keep track of that and remove the patch when the time has come...

[2016-04-07 13:54] dalehenrich commented on #68
Ah, cool, so we are still waiting:)

[2016-04-07 13:58] dalehenrich commented on #105
@fniephaus ... thanks for the bonus bash script improvements!

[2016-04-07 14:08] fniephaus commented on #105
You're welcome! :smiley:

[2016-04-07 20:20] fniephaus commented on #106
@dalehenrich do you think `smalltalk_config` is a good key to specify the name of the smalltalkCI STON config in a .travis.yml? I'm not sure about `smalltalk_ston` or even `smalltalk_spec`, that's why I'd prefer `smalltalk_config`.

[2016-04-07 20:57] jchromik commented on #106
I personally think `smalltalk_config` is a good name. It says what the file does (providing a configuration) while `smalltalk_ston` (which by the way means "smalltalk smalltalk object notation" when you spell it out) says that it is a `.ston` file but not what it does. And what if there are other file formats to specify the configuration in the future? `smalltalk_spec` is in my opinion an unfortun

[2016-04-07 20:59] dalehenrich commented on #106
@fniephaus unfortunately I suck at naming things ... I'm way to literal and all three suggestions "sound fine" to me --- I've been getting used to the `config` name but `spec` is closer to what they really are, but @jchromik has some good arguments ...

[2016-04-07 21:39] fniephaus commented on #106
Thanks @jchromik and @dalehenrich, `smalltalk_config` it is!
I just wanted to have a second (or third) opinion on this, before we ask Travis to hit the merge button ;)

[2016-04-08 09:00] #68 closed

[2016-04-08 09:01] fniephaus commented on #106
This now works!

[2016-04-08 09:01] #106 closed

[2016-04-08 13:39] fniephaus opened #120 "Alarms and Startup Scripts"
Widget test `testK02DeferEditSignal` fails because alarms are not set up correctly.

Running `ActiveWorld doOneSubCycle.` before performing the tests fixes that problem temporarily.

[2016-04-08 16:59] dalehenrich opened #121 "Selective dependency cache clear and/or selctive disabling for cetain platforms?"
A `.travis.yml` level option for selectively clearing/disabling the dependency cache would be useful.

For platform versions like Pharo-5.0 and Squeak-trunk (I think) that are under constant development it does not make much sense to cache the image and vm, because a) you have no idea which version of image and vm were cached and b) you are never using the current version.

For GemStone, the boots

[2016-04-08 17:11] dalehenrich opened #122 "GemStone client/server tests where client is in separate GsDevKit_home checkout"
Currently the client/server tests run in a single GsDevKit_home checkout, but it would be useful to be able to simulate separate client/server GsDevKit_home checkouts to validate operation in that mode --- simulating operation on separate hosts ... Not a priority at the moment but eventually this would be a good enhancment over #105.

Client/server tests could be run on travis or locally.

Fo loca

[2016-04-08 23:20] fniephaus commented on #121
I have a few ideas to improve caching. The only thing is that I don't know how Travis behaves when caching is activated for all builds even though it's actually being used for only a few builds. I'll run some tests as soon as I have some time...

[2016-04-08 23:40] dalehenrich commented on #121
I believe that the answer to that is that the cache is created and "maintained/updated" by the builds with caching enabled --- cache uploaded before build, then if changes have been made to the cache (additions for sure ... don't know about deletes) the new version of the cache is downloaded ... the caches are branch-specific and the master cache is used if a branch does not have a cache ...

Sooo

[2016-04-10 12:48] fniephaus commented on #120
@marceltaeumel it looks like `ActiveWorld doOneSubCycle` needs to be called right before the test in order to make it pass. Would it be bad to add this line to the top of the test rather than into smalltalkCI or do you have a better suggestion?

[2016-04-10 22:01] fniephaus commented on #120
Interestingly, the test is actually passing on Linux on Travis CI...

[2016-04-10 22:02] fniephaus commented on #116
I guess this can be closed now...

[2016-04-10 22:02] #116 closed

[2016-04-10 22:18] fniephaus commented on #91
@dalehenrich we are already working on this and it would be good to get your thoughts on the following:
Running coverage tests for a repository obviously only makes sense for files that are in that repository and currently that implies the use of FileTree. A `SCIMetacelloLoadSpec` supports FileTree, but is only supposed to know how to load a project. For this to work, we need to add another slot t

[2016-04-11 16:08] fniephaus commented on #120
This is a *widgets*-related problem, so I am closing the issue here.

[2016-04-11 16:08] #120 closed

[2016-04-12 13:29] Nef10 opened #124 "Easy support of other smalltalkCI version"
It would be very handy if one you easily switch to another smalltalkCI version to test new features.
I really like what Travis CI uses for dpl: https://github.com/travis-ci/dpl/blob/master/TESTING.md
You just specify a branch and/or repo which will be used instead of the normal one in the `.travis.yml`:

[code]

[2016-04-12 20:25] dalehenrich opened #125 "Problems view new png files for the GemStone documentation"
Getting `The image "....." cannot be displayed because it contains errors` when I hit this url for the PR #123 GemStone documentation: https://raw.githubusercontent.com/hpi-swa/smalltalkCI/assets/gemstone/travisErrorStack.png ... also I expected the images to be embedded on the page ... I'll see if I can fix it up ...

[2016-04-12 20:36] #105 closed

[2016-04-12 20:37] dalehenrich commented on #105
fixed with PR #123

[2016-04-12 20:37] #108 closed

[2016-04-12 20:39] #125 closed

[2016-04-12 21:56] fniephaus opened #127 "Improve caching"
By providing shared helper functions and by making the cache more consistent.

This would especially be useful for builds that require more than one image (e.g. GemStone system/client builds).

[2016-04-12 23:25] dalehenrich opened #128 "How to tell which smalltalk_config is being used"
This [build](https://travis-ci.org/SeasideSt/Seaside/jobs/122655950) and this [build](https://travis-ci.org/SeasideSt/Seaside/jobs/122655949) were launched using different config files, but I can't tell which build is which by looking at travis ...

In case it matters, here is the `.travis.yml` fille:

[code]

[2016-04-12 23:38] dalehenrich opened #129 "Error: "No STON file named '[.smalltalk_gs_all.ston]' found in /home/travis/build/dalehenrich/Seaside", but file exists"
Here's the [log](https://travis-ci.org/dalehenrich/Seaside/jobs/122658242#L15) and here's the [file](https://github.com/dalehenrich/Seaside/blob/dkh-patch-1/.smalltalk_gs_all.ston) and here's the [.travis.yml](https://github.com/dalehenrich/Seaside/blob/dkh-patch-1/.travis.yml):

[code]

not sure what's wrong...

[2016-04-13 00:15] dalehenrich commented on #121
Along these lines, having started using dependency caching, I've discovered that the at least the GemStone caches are sensitive to the version (SHA) of the GsDevKit_home release (`devKitCommandLine image` specifically) ... so building in some automatic cache clearing logic when the SHA of the GsDevKit_home changes would be useful .. otherwise you have a bizarre errors occur that are difficult for

[2016-04-13 09:05] fniephaus commented on #128
https://github.com/travis-ci/travis-core/pull/528#event-625376984 wasn't merged yet which is why it didn't work, but it should now:
https://travis-ci.org/hpi-swa/smalltalkCI/builds/122732127

The value is stored in `$TRAVIS_SMALLTALK_CONFIG` (see [here](https://github.com/travis-ci/travis-build/blob/94ba5849c6f11c95135848bd97a43f16240f149a/lib/travis/build/script/smalltalk.rb#L49)).

Please close

[2016-04-13 09:08] fniephaus commented on #129
This should also be related to #128 and https://github.com/travis-ci/travis-core/pull/528#event-625376984.

Could you restart the build and try again?

[2016-04-13 12:44] dalehenrich commented on #128
Actually my question was how to tell which config is being used from the GUI ... for example, can you tell which config is being used in the run that I referenced?

[2016-04-13 12:58] dalehenrich commented on #128
From the browse interface it seems to be impossible to tell which config is being used .... without the error message from #129 I wouldn't have know which config was being used ..

[2016-04-13 12:59] dalehenrich commented on #129
The build is running now ... #128 still applies, though :)

[2016-04-13 12:59] #129 closed

[2016-04-13 12:59] dalehenrich commented on #129
Thanks! ... I am obviously interested in using this feature .. it's a good idea!

[2016-04-13 13:01] fniephaus commented on #128
It appears to be a well-known problem:
Travis has merged https://github.com/travis-ci/travis-core/pull/528, but it's not yet in production.

Bear with me, it might work tomorrow! The UI should also reflect those changes, but we'll see.

[2016-04-13 13:16] dalehenrich commented on #128
I think these are very useful features -- which is why I used it immediately out of the gate -- the list of projects stacked up behind my work :) -- and I submit bugs, because I want to see this work succeed so I will be patient and let the fixes work their way through the system :)

I appreciate your effort!

[2016-04-13 13:54] fniephaus commented on #91
Closing this in favor of #130

First coverage test: https://coveralls.io/builds/5771251

[2016-04-13 13:54] #91 closed

[2016-04-13 14:08] dalehenrich commented on #54
addressed in #105

[2016-04-13 14:08] #54 closed

[2016-04-13 14:12] dalehenrich opened #131 "Large log files and `cat`ting the xml.log ...."
Is it necessary to cat the xml.log during a run?

I've got a seaside build that is running 3800+ tests and the travis output is truncated and I suspect that the cat of the xml.log is not contributed that much other than in terms of consumed bytes :)

If it's needed, it is needed ...

[2016-04-13 14:15] fniephaus commented on #131
The XML is printed so that other tools can use it.
There's for example [AutoTDD](https://github.com/HPI-SWA-Teaching/AutoTDD) which displays Travis builds in a Squeak image.

We should make this an option, I think.

[2016-04-13 16:17] dalehenrich commented on #131
Ah, I wondered what it was there for ... env var or option to turn on
feature would work ... no big hurry on this ...

On 04/13/2016 07:15 AM, Fabio Niephaus wrote:

[2016-04-13 16:28] fniephaus commented on #131
What would be the best default? Printing on or off?

[2016-04-13 19:28] dalehenrich commented on #131
since we have only a limited use case for cating the files, I would say
the default is off ... the pretty printed version is the one that you
want to see in traivs ... unless you are using a different tool

On 04/13/2016 09:28 AM, Fabio Niephaus wrote:

[2016-04-14 08:55] fniephaus opened #132 "Add support for bleeding edge Squeak images"
Currently, the image for `Squeak-trunk` is updated manually.
It'd also be good to offer a bleeding edge Squeak image that is downloaded straight from the build server. The build will take longer, because `metacello-work` needs to be loaded, but it would be useful for use cases like https://github.com/HPI-SWA-Lab/RSqueak/issues/119.

[2016-04-14 11:47] fniephaus opened #133 "GemStone builds with DEVKIT_BRANCH=dev broken"
I've pushed https://github.com/hpi-swa/smalltalkCI/commit/52038ebff6ada9a9a7c336bab23f4f46ea0ee2d0 to allow them to fail, but @dalehenrich should have a look at this.
I'm assuming the `dev` branch is currently broken and then breaks smalltalkCI builds as well?

[2016-04-14 12:51] fniephaus commented on #128
Matrix expansion now works as intended and the config name for a build is stored in `$TRAVIS_SMALLTALK_CONFIG` successfully. Unfortunately, the UI does not show which config file is being used, I'll have a chat with Travis about this...

[2016-04-14 12:55] dalehenrich commented on #133
the master branch of smalltalkCI should not be using the dev branch of GsDevKit_home ... that was there for work on #105 and I forgot to remove them from .travis.yml before pushing ... I'm actively developing another set of features on the dev branch and it is not unusual for that branch to be broken periodically ...

[2016-04-14 12:59] fniephaus commented on #133
So shall I just remove all jobs that are using `dev`?
Or do you want to keep a job with `GSCI_CLIENTS="Pharo-5.0 Pharo-4.0 Pharo-3.0"`?

[2016-04-14 13:06] dalehenrich commented on #133
Delete the redundant dev branch jobs and keep the GS_CLIENTS job but
remote the dev branch

Sorry about the confusion ...

Dale
On 4/14/16 5:59 AM, Fabio Niephaus wrote:

[2016-04-14 13:18] fniephaus commented on #133
Alrighty!

[2016-04-14 13:19] fniephaus commented on #128
@chistopher knows how to fix this :)

[2016-04-14 17:34] #133 closed

[2016-04-14 17:34] #132 closed

[2016-04-14 20:01] dalehenrich opened #134 "`EXCEPTION: a MessageNotUnderstood occurred (error 2010), a SmalltalkCICategoryTest class does not understand #'allMethodSelectors'`"
The use of #allMethodSelectors was recently introduced ... I am making the call from a GemStone-specific method from a GsDevKit_home script that worked at the time that #105 was merged

Here's the [error log](https://travis-ci.org/GsDevKit/GsDevKit_home/jobs/123155405#L2462) .... not sure what you did to allow the other GemStone calls to pass ... i guess I need to add more test cases as well ...

[2016-04-14 20:03] dalehenrich commented on #134
The method that is being used is amongst those that @fniephaus asked about the other day :) ... so, yes they are being used ...

[2016-04-14 20:08] dalehenrich commented on #134
Looking at the code, I'm surprised that any GemStone SmalltalkCI tests are passing, since it looks like #runTestsWithCoverage is unconditionally called ...

[2016-04-14 20:09] fniephaus commented on #134
Are you saying that you don't need/want coverage testing for GemStone?

I will have a look at this issue tomorrow...

[2016-04-14 20:13] dalehenrich commented on #134
More importantly, I don't see how GemStone functions with this new code ... I don't understand how any GemStone tests passed at this point in time since #runCI calls a method that is not implemented ...

[2016-04-14 20:13] fniephaus commented on #134
I am guessing that `SmalltalkCICategoryTest` is not being run as part of smalltalkCI's self test?
Also, I haven't figured out how you were structuring tests (e.g. why is there a package `SmalltalkCI-AllCases-Tests.package`). I thought it would be enough to have a test package for each package.

[2016-04-14 20:13] dalehenrich commented on #134
I did not plan on debugging SmalltalkCI problems today but if you've broken all of the GemSTone builds, I guess I will have to debug it ...

[2016-04-14 20:14] dalehenrich commented on #134
I think it's obvious that the test coverage for SmalltalkCI is not as complete as it should be ...

[2016-04-14 20:15] dalehenrich commented on #134
I'm eating lunch and don't have time right now to debate ... or to find out just how badly SmalltalkCI is broken for GemStone ...

[2016-04-14 20:15] fniephaus commented on #134
@dalehenrich `runTestsWithCoverage` is implemented in `SmalltalkCI`, so it is implemented for GemStone. It's just that nothing happens in GemStone builds, because you haven't set `#coverageAgainst` (and you can't at the moment because it's not implemented)

[2016-04-14 20:16] dalehenrich commented on #134
and it calls a method that is not implemented in GemStone ...

[2016-04-14 20:18] fniephaus commented on #134
Now that there is coverage testing for Squeak and Pharo, I am working on adding more tests. I actually wrote some today (haven't pushed them yet)...

I don't see why GemStone builds is broken, but if that's true I will fix it.

[2016-04-14 20:18] dalehenrich commented on #134
I DON'T HAVE TIME TO DEBATE ... i HAVE A BROKEN TEST BECAUSE OF MNU AND I DON'T KNOW THE EXTENT OF THE PROBLEMS ... BECAUSE i DON'T KNOW THE EXTENT OF THE PROBLEM ... I HAVE CODE THAT HITS THE RUNcOVERAGE  SO TELLING ME THAT IT CAN'T IS NOT TRUE

[2016-04-14 20:21] dalehenrich commented on #134
I just announced the smalltalkCI GsDevKit_home script and that is the path that is breaking in my tests so I assume that it is broken everywhere, because of this newly pushed but unused feature

[2016-04-14 20:26] dalehenrich commented on #134
I find it ironic that a feature added to determine test coverage has exposed a gaping hole in the test coverage for smalltalkci :)

[2016-04-14 20:27] fniephaus commented on #134
I'm really sorry that I broke something for you and your users and I obviously didn't do it on purpose.
I've reset the `master` branch to [an older commit](https://github.com/hpi-swa/smalltalkCI/commit/6ba4217c8556a9db6d215e3e96579714ca6607c6), and I hope it's working for you again. I will work on a fix tomorrow on `dev`.

Yes, SmalltalkCI isn't well-tested at the moment, and we need to change tha

[2016-04-14 20:51] dalehenrich commented on #134
Thanks for taking care of this ... I am capable of figuring things out, but I don't have the time to do that ...

Okay, [the test passes now](EXCEPTION: a MessageNotUnderstood occurred (error 2010), a SmalltalkCICategoryTest class does not understand  #'allMethodSelectors') ... Thanks!

In Metacello I reached a point pretty quickly where I realized that I had to build pretty complete test coverage

[2016-04-14 21:39] dalehenrich commented on #134
ON the dev branch the [build is failing](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/123166525) ... since there is no Pharo-5.0 failure information I assume that there is a failure [loading the .smalltalk.ston file](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/123166525#L1638):

[code]

which I assume is the standard config file --- did you change the contents of the file on  the dev branch?