[2017-07-06 22:43] macta commented on #286
Yes - I've hit this one too

[2017-07-07 04:34] fniephaus commented on #286
What packages are required to run a Pharo 64bit vm on Precise/Trusty?

[2017-07-07 08:45] Uko commented on #286
Ah, right, there should be required libraries… I think that with 64 bits it has to be easier than 32. I will ask people who use Linux

[2017-07-07 14:06] macta opened #297 "Travis Log shows UndefinedObject>>DoIt (smalltalkCI is Undeclared)"
There is a superfluous error msg that StCI is generating 'UndefinedObject>>DoIt (smalltalkCI is Undeclared) '

This is confusing to new users (apparently its benign) - its should be tracked down and removed.

[2017-07-07 16:38] #297 closed

[2017-07-07 16:39] fniephaus commented on #286
Looks like no additional packages need to be installed on Travis machines? :)

[2017-07-07 16:48] estebanlm commented on #286
yes, probably.
maybe cairo but I think is already there.

Esteban

[2017-07-07 22:20] macta opened #298 "The Logs in Travis don't colour code class is Undeclared errors"
It's confusing that a possible error like an undeclared class (due to a bad package prereq baseline of) isn't very visible in the logs.

e.g.
Fetched -> Lambda-cypress.1 --- filetree:///home/travis/build/macta/PharoLambda [:] --- filetree:///home/travis/build/macta/PharoLambda
Lambda class>>processJSON: (NeoJSONReader is Undeclared)

Loaded -> Lambda-cypress.1 --- filetree:///home/travis/build/mac

[2017-07-07 22:30] fniephaus commented on #298
Yes, errors are currently not colored. I'm sure there's a way to do it...

[2017-07-07 22:50] peteruhnak commented on #298
it is not an error, it is a warning; and in most cases it is just noise, as the loader can deal with missing classes that are added later during loading. I don't think Travis/smalltalkCI can easily make automated decision whether the loading have actually failed or not.

Maybe playing with Baseline loading order could suppress some if it, but I don't think people are paying attention to the load i

[2017-07-07 23:03] macta commented on #298
They should at least colour yellow.

Honestly, I think you should sort load orders out and load clean unless you toggle some flag (like having no tests does).

But I guess it's a personal preference.

When I was at OTI (and later st JPMorgan ) this kind of warning was considered an error and you were asked to fix it.

But I'm newish to the current ethos

[2017-07-09 03:46] fniephaus commented on #286
Closed by 286e0f2e631418b5de7c20d161e1ee990be059b1.

Also, I can confirm that there's no need to install any additional dependencies on Travis to run an OpenSmalltalkVM/PharoVM :)

[2017-07-09 03:46] #286 closed

[2017-07-09 03:58] fniephaus commented on #298
The message is printed as part of `UndeclaredVariableWarning`'s defaultAction when Metacello loads a project. I think it'd make more sense to add an option to Metacello to fail on these kind of warnings. Maybe open an issue at https://github.com/dalehenrich/metacello-work/issues?

[2017-07-09 03:59] fniephaus commented on #289
Not sure what exactly caused your problem, but currently everything seems to be working reliably. Please reopen if this happens again.

[2017-07-09 03:59] #289 closed

[2017-07-09 04:01] fniephaus commented on #284
https://github.com/hpi-swa/smalltalkCI/issues/289 might be related. Has pharo.org moved to a different server recently?

[2017-07-09 06:23] macta commented on #298
Ok - I've submitted 2 issues to Metacello - 1 for an option to conditionally fail on such errors (if you had this ability, it could be a flag for Smalltalk CI - I guess set to false for the reasons Peter documents, but for me I would prefer to run in a stricter manner). The second is an option to customise errors from Metacello so you add ansi colour coding as a prefix to them for better output in

[2017-07-09 08:12] fniephaus commented on #298
Ok, turns out we can do something about this in smalltalkCI. Oddly enough, `OCSemanticWarning`s do not inherit from `Warning`s and are not handled [here](https://github.com/hpi-swa/smalltalkCI/blob/3f51d6c4c3e523e603d6216c0fd3fb7fcfae91d9/repository/SmalltalkCI-Core.package/SCIMetacelloLoadSpec.class/instance/basicLoadProjectOn..st#L16-L24).
I hope to have a fix soon...

[2017-07-09 13:37] peteruhnak commented on #284
Pharo (files.pharo.org) ran out of space (~2 weeks ago) and was moved somewhere else iirc (S3 or some other service).

[2017-07-09 14:45] Uko commented on #284
This has not happened to me again, and I've refreshed all the failed builds. So probably we should close this issue, and in case I will have the problem again, I will keep the build.

[2017-07-10 11:37] Uko opened #301 "Handling sources in Pharo 7 builds"
As can be seen in this build: https://travis-ci.org/Uko/Renraku/jobs/251955834

The job struggles to find the sources file. Starting from Pharo 7, each image is accompanied by a dedicated sources file. I think that the issue is that the image and changes files are copied to another directory and the sources file is not.

[2017-07-10 11:55] Uko commented on #273
Another issue is that the files from Linux builds have paths like

    /home/travis/build/Uko/Renraku//Renraku.package/ReAbstractCritique.class/instance/actions.st

and the ones from Mac:

     /Users/travis/build/Uko/Renraku//Renraku.package/ReAbstractCritique.class/instance/actions.st

So even if you specify the _Git repo root directory` you have duplicated files and one of each pair is not brow

[2017-07-10 12:08] Uko commented on #301
Also, it is worth mentioning, that the files in the Pharo 7 archive have names of the following style:

    Pharo7.0-32bit-8e41a61.changes
    Pharo7.0-32bit-8e41a61.image
    Pharo7.0-32bit-8e41a61.sources

Where 8e41a61 is the abbreviated hash of the Git commit from which the Pharo image was created

[2017-07-10 21:11] theseion commented on #293
See https://github.com/pharo-project/pharo/pull/163 for the fix to Monticello.

(@fniephaus I don't have permission to alter an issue, you'll have to change the tag from "question" to "bug" yourself. Apparently, only maintainers are aloud to do that.)

[2017-07-11 06:51] fniephaus commented on #301
Thanks for the info, will have a look. Do the VMs also still ship with a `sources` file?

[2017-07-11 06:52] #284 closed

[2017-07-11 07:06] fniephaus commented on #301
It looks like `Pharo64-alpha` is misconfigured. It is looking for `Pharo7.0-32bit-8e41a61.sources` instead of `Pharo7.0-64bit-8e41a61.sources`, [see here](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/252285948#L350).

[2017-07-11 12:27] Uko commented on #301
@fniephaus I will take a look at 64bit Pharo 7 image sources. The 7th VM comes with the sources for Pharo 6

[2017-07-11 12:29] Uko commented on #301
@fniephaus for now 64 bit image is created from 32 bit image and uses the same sources (32bit). This will change in the future, but for now it is the correct behavior

[2017-07-11 20:41] theseion commented on #293
Fixed with https://github.com/hpi-swa/smalltalkCI/pull/300/commits/3e270c37bd7db98390275f5a423206fabb270e85.

[2017-07-11 20:41] #293 closed

[2017-07-11 21:29] fniephaus commented on #301
So, [this build](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/252285948) failed because it didn't copy the `sources` file as well?

[2017-07-11 22:05] Uko commented on #301
Looks like that

[2017-07-12 05:59] fniephaus opened #303 "Generalize caching utility functions"
Cache directory structure is independent from dialect, so generalize caching utils.

Structure is:
_cache/
  - [Dialect name]/
    - *.(image|changes|sources|...)
  - vms/
    - [Dialect name]/
      - *VM content*

[2017-07-12 06:02] fniephaus opened #304 "Pharo64-alpha VM: Could not find module vm-display-null"
See https://travis-ci.org/hpi-swa/smalltalkCI/jobs/252683326#L362

Please advice what to do or fix it from your end :)

[2017-07-12 12:00] Uko commented on #304
Looking into that

[2017-07-13 11:38] Uko commented on #293
@theseion now I have other issues :). If you look at this job: https://travis-ci.org/Uko/Renraku/builds/253139160 only the builds for Pharo 6 are failing. But for Pharo 7 there are only 12 tests (other tests are not loaded). I.e. the project is not loaded. When I run the build manually on a local machine and execute

    Metacello new
	repository: 'filetree://path/to/repo';
	baseline: 'Renraku';

[2017-07-13 20:48] theseion opened #305 "Versions created with Iceberg will not be loaded because of same package name"
This issue concerns Renraku (https://github.com/Uko/Renraku).

A project that is already loaded into the image will fail to be loaded if it was created with Iceberg. The package names of such packages currently follow the pattern `<project name>-cypress.1`.

Metacello will check this name agains the name of the package version to be loaded (in `MetacelloFetchingMCSpecLoader>>linearLoadPackageSpec:

[2017-07-13 20:49] theseion commented on #293
This is a different issue: https://github.com/hpi-swa/smalltalkCI/issues/305

[2017-07-13 21:57] Uko commented on #305
Why am I the only one who comes up with these corner case scenarios? :)

[2017-07-13 21:59] theseion commented on #305
It's a mark of excellence, I suppose ;)

[2017-07-14 12:22] gcotelli opened #306 "Projects in GitHub won't load in Pharo 7 on Travis"
Hi,

I'm having this error:

[code]
Check the full log output in:
https://travis-ci.org/ba-st/Willow/jobs/253572685

The build works Ok por Pharo 5/6 , but fails on Pharo 7 (running in Linux)

[2017-07-14 13:40] theseion commented on #306
This is probably an Iceberg / LibGit2 problem, not specific to smalltalkCI. Can you reproduce the problem when you evaluate the load instructions manually?

[2017-07-14 14:10] gcotelli commented on #306
Works ok in my local machine with a recently downloaded image and VM:

Image
-----
/home/gcotelli/Pharo/Pharo7-32/Pharo.image
Pharo7.0SNAPSHOT
Latest update: #0
Unnamed

Virtual Machine
---------------
/home/gcotelli/Pharo/Pharo7-32/pharo-vm/lib/pharo/5.0-201707132359/pharo
CoInterpreter VMMaker.oscog-eem.2253 uuid: 45202565-6d57-4e4b-812f-a8eea4685e21 Jul 14 2017
StackToRegisterMappingCogit VMMak

[2017-07-14 14:12] gcotelli commented on #306
Maybe is something with the SSH credentials used to download?

[2017-07-14 14:12] theseion commented on #306
Thanks. We'll look into it.

[2017-07-14 14:13] theseion commented on #306
Possibly, but I don't think so. It could be a problem with libssh2 (which would suck big time because debugging libssh2 is a nightmare).

[2017-07-15 07:30] macta commented on #262
Somewhat related -I got too frustrated with Travis and working out what files were being generated so I used Gitlab CI and a simple yml file to run a simple build pipeline (similar to this).

My example is in https://gitlab.com/macta/PharoLambda/tree/master

Possibly this might help

[2017-07-15 21:11] dionisiydk opened #307 "Running tests in Pharo6 should set up TestExecutionEnvironment"
In Pharo6 TestExecutionEnvironment was introduced. It is possible process specific value of CurrentExecutionEnvironment.
Some libraries already use it. And travis failed to run their tests correctly

[2017-07-16 00:21] fniephaus opened #309 "Make sure changes file is not polluted during testing phase"

[2017-07-16 13:53] dionisiydk opened #310 "Test failure serialization should be protected by itself"
In case of Pharo any test failures are serialized by Fuel.
It could fail by itself because some objects on stack can not support fuel serialization. For example mock objects.
We should protect failure serialization by error handler

[2017-07-16 16:44] dionisiydk commented on #310
It was wrong issue. Protection already exists.
But in my case with mocks serialization leads to infinite recursion. So tests hang forever. So I think I just needs setting to disable error serialization. I will create another issue about it

[2017-07-16 16:44] #310 closed

[2017-07-17 17:16] theseion commented on #307
Closed with PR #308

[2017-07-17 17:16] #307 closed

[2017-07-17 17:29] theseion commented on #306
I suppose your problem is indeed this one: https://github.com/pharo-vcs/iceberg/issues/334 (LibGit2 tries to retrieve the SSH key from the key store (e.g. ssh-agent) and fails).

What strikes me though, is that `github://` URL's did not use to be loaded with Iceberg by default. For that to happen you had to explicitly enable the Metacello integration. That has changed, apparently. I think we can f

[2017-07-17 17:39] theseion commented on #306
I've pushed a fix to the dev branch. Could you test it please?

[2017-07-17 19:00] dionisiydk commented on #306
I test it and got DNU error. You should use environment directly without globals:

[code]

[2017-07-17 19:05] theseion commented on #306
Thanks... There's just too many ways in Pharo and Squeak to access environments and globals...

Fixed. Can you try again?

[2017-07-17 21:01] dionisiydk commented on #306
Now it works. Thank's

17 июля 2017 г. 9:06 PM пользователь "Max Leske" <notifications@github.com>
написал:

[2017-07-18 05:25] #306 closed

[2017-07-31 17:36] gcotelli commented on #306
Any ETA for this to land in master ?

[2017-07-31 17:45] fniephaus commented on #306
@theseion can we merge `dev` into `master`?

[2017-08-01 07:21] theseion commented on #306
I don't see, why not.

On 31 July 2017 at 19:45:04, Fabio Niephaus (notifications@github.com(mailto:notifications@github.com)) wrote:

[2017-08-01 07:45] dionisiydk commented on #306
My projects use dev branch for CI testing. They work fine

2017-08-01 9:21 GMT+02:00 Max Leske <notifications@github.com>:

[2017-08-01 07:59] fniephaus commented on #306
Thanks, merging via #312.

[2017-10-04 13:02] guillep opened #316 "Pharo 7.0 changed stdout management"
Hi,

In Pharo 7 stdout and in particular streaming management changed a bit. Previously, cr characters were converted automatically to the platform specific new line character combination (cr, lf or crlf).

SmalltalkCI is using as stdout an old stream that does not do this conversion anymore. And because of this the output is messed up. This can be seen here:

https://travis-ci.org/guillep/OSSubpr

[2017-10-04 14:10] fniephaus commented on #316
Hi @guillep,
Thanks for the info! smalltalkCI uses `SmalltalkCI class>>stdout` for the output and the [specialized version for Pharo](https://github.com/hpi-swa/smalltalkCI/blob/25862f93367e0cb886485be68a6d173e4176cf79/repository/SmalltalkCI-Pharo-Core.package/SmalltalkCIPharo.class/class/stdout.st) already performs different checks. So I'd say it's reasonable to extend [`SmalltalkCIPharo class>>s

[2017-10-04 15:49] guillep commented on #316
Sure, I saw that. My question was wether it was better to have one platform class per pharo platform or a single Pharo platform class for all of them. Or maybe I could implement SmalltalkCIPharo70 subclass of SmalltalkCIPharo, if there are no objections.

[2017-10-06 10:15] guillep opened #319 "Pharo 6.1 configuration uses pharo 6.0 vm"
Pharo 6.1 is using a two month older vm than the one released. From the log we have:

[code]

while it should download it from http://files.pharo.org/get-files/61/pharo-mac-stable.zip

[2017-10-06 10:24] fniephaus commented on #319
I'm not always on top of things with regard to Pharo, so this project relies on contributions like this. Happy to merge 3ebd2f09f7f84d0cf9bfe4458805e1ee7a8de8e2 if you could open a PR...thanks!

[2017-10-06 10:50] fniephaus opened #321 "Timing info is in next line"
[Example](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/284135577#L74):
![image](https://user-images.githubusercontent.com/2368856/31274781-b663dcae-aa94-11e7-93bb-0a471411a635.png)

[2017-10-06 11:38] #316 closed

[2017-10-06 18:49] #319 closed

[2017-10-20 09:54] peteruhnak opened #325 "Coveralls generation support for Tonel"
Pharo has a new file format Tonel ( https://github.com/pharo-vcs/tonel , example https://github.com/estebanlm/MUDClient/blob/master/src/MUDClient-Plugin-Filter/MUDFilter.class.st ) which has file-per-class, instead of file-per-method.

So the coveralls computation will need to be adapted to that. And speaking of that, do we really want to read the actual file names? Why not consider the namespace/

[2017-10-20 09:56] fniephaus commented on #325
Yes, a new output format is required to make coverage testing work. But first, we need Tonel support in smalltalkCI and I have no idea how it is supposed to work.
I didn't understand your filename/disk access concern, but coveralls can only display the covered/uncovered lines in files correctly if the right filename is provided.

[2017-10-20 10:18] peteruhnak opened #326 "Clean up support for Tonel in smalltalkCI"
(prerequisite for #325)

Tonel should be just another MCRepository, so in principle it shouldn't be too difficult.
However Tonel has to be loaded into the image before we attempt to load the project.
I don't know if it will autodetect, or if we will need to explicitly state a load strategy in the spec. @estebanlm  should know.
I will be looking at Tonel this weekend, so I will (have to) play with

[2017-10-20 10:20] peteruhnak commented on #325
Oh, it links them together. Makes sense now. :)
I've created a separate issue for tonel support #326

[2017-10-20 10:20] fniephaus commented on #326
Support could be added by a new (loading spec](https://github.com/hpi-swa/smalltalkCI#project-loading-specifications), maybe even a subclass of `SCIMetacelloLoadSpec`.

[2017-10-22 10:25] estebanlm commented on #326
I guess having SmalltalkCI working with Tonel is just matter of having Tonel loaded and latest metacello version? If so, probably the simplest way to do this is to add tonel as dependency for Metacello for Pharo.
Then you use load latest metacello option.
btw, this is true just on Pharo 5 and 6 (tonel should work for Pharo 4 and 3 too but I didn't tested it... Pharo 7 already has correct metacello

[2017-10-22 15:56] fniephaus commented on #326
That's one way to solve the problem, but then you might load Tonel even for projects that don't use it and that'd unnecessary delay builds. I believe it would be cleaner to add a `SCITonelLoadSpec` which subclasses from `SCIMetacelloLoadSpec`. It behaves the same way, but also ensures that Tonel is loaded.

[2017-10-22 16:05] estebanlm commented on #326
tonel is super small.
also, it would load it just for Pharo, which is probably desirable.

for me, subclassing SCIMetacelloLoadSpec is incorrect because tonel is a file format (as is filetree), its relation with metacello is just that metacello now understands “tonel” repositories, (as it understands filetree repos and mcz repos, etc.)
So I disagree is cleaner… in anycase, one could extend SCIMeta

[2017-10-22 17:33] peteruhnak commented on #326
Tonel is small, but Metacello (well, updating it) is not.

But I agree that subclassing makes little sense for the future, as it is already part of Pharo 7.

If tonel will be backported to 6.1, then I would recommend just waiting and then allowing tonel only for 6.1 and 7 -- that way no extra update/installation will be needed in SmalltalkCI.

[2017-10-22 17:55] fniephaus commented on #326
Agreed, having to update Metacello to get Tonel support will be very expensive time-wise and you've convinced me that a subclass is not a clean solution either.
Maybe a fallback approach is good enough if compatibility to Pharo3/4/5 is needed? As in: load Tonel and retry again if loading the project has failed because the format could not be read.

[2017-10-22 18:02] peteruhnak commented on #326
Well in that case we could add to SCI a check that this file exists and is set to tonel https://github.com/estebanlm/MUDClient/blob/master/src/.properties

[2017-10-22 18:38] fniephaus commented on #326
@estebanlm would that be an option?

[2017-10-23 10:24] guillep opened #327 "Allow explicit usage of smalltalkCI"
Hi, I want to instrument the travis script run by smalltalk CI to use a travis_wait. But I cannot do that because the `.travis.yml` does not explicitly call the test script.

This is of course related because it looks like something carved in the following design decision: when we use smalltalkCi, we should touch the `.travis.yml` file as less as possible, and put most of the things we have in the

[2017-10-23 16:08] fniephaus commented on #327
Hi @guillep,
I must admit that I didn't quite understand your concern/suggestion, but let me try to comment anyway.

First of all, there is [an option](https://github.com/hpi-swa/smalltalkCI#travis-specific-options) to increase the TravisCI timeout which actually uses `travis_wait`.

Moreover, the `.travis.yml` template in smalltalkCI's readme does not contain a `script` override, because the defa

[2017-10-23 21:57] fniephaus commented on #151
Closing this in favor of https://github.com/OpenSmalltalk/opensmalltalk-vm/issues/158.

[2017-10-23 21:57] #151 closed

[2017-10-24 17:26] #321 closed

[2017-10-25 14:47] estebanlm commented on #326
yes, that would work

[2017-10-25 15:05] estebanlm commented on #259
any new on this? I'm getting to the point where I cannot longer wait ;)
what about make that part os .smalltalk.ston? (I do not like to force names, in general). At the end, you can load smalltalkci, process pre-scripts, then load project run tests, etc.

[2017-10-25 15:12] peteruhnak commented on #259
Unfortunately not from my side, as I moved the project that need it the most to GitLab, and there the responsibility is inversed (I am executing smalltalkci at steps where I need it)

[2017-10-25 15:35] fniephaus commented on #259
I have been thinking about this more, but still not sure what's needed to cover the most use cases.
Would something like this work for you?

[code]
And then if one or more of these scripts are set in the config, they will be executed right before/after the loading/testing stage.

Any suggestions?

[2017-10-25 15:42] fniephaus commented on #259
In the previous example, the scripts do have to take care of platform-handling themselves.
Here's another idea which is more verbose, but would maybe make the life easier for users as well.

[code]

I wonder what @dalehenrich thinks about this...

[2017-10-25 15:46] fniephaus commented on #326
Ok, cool. Well that should be relatively easy to implement by extending [`SCIMetacelloLoadSpec`](https://github.com/hpi-swa/smalltalkCI/tree/8c9f2af707941254aa661c3d5c9637405e24b9e6/repository/SmalltalkCI-Core.package/SCIMetacelloLoadSpec.class)...could you have a look at this, @peteruhnak?

[2017-10-25 16:24] peteruhnak commented on #259
Do we really need to approach it from inside SmalltalkCI?

GitLab, and recently also Travis (although still in beta) have build
stages. So if we push everything through SCI maybe aren't we restricting
ourselves from that?

On Wed, Oct 25, 2017 at 5:42 PM, Fabio Niephaus <notifications@github.com>
wrote:

[2017-10-25 16:25] peteruhnak commented on #326
Yes, I will have a look during the weekend after Tonel is in 6.1 (so probably this weekend :)).

[2017-10-25 17:55] fniephaus commented on #259
Yes, and no I guess. smalltalkCI downloads a vm and an image and exposes the path to both. So users can use this info to run stuff in the image after a test run.
A smalltalkCI config describes how to load and test a project and if a script needs to run before/after one of these stages, then that should be part of the smalltalkCI config I think.

With regard to build stages, it is currently not eas

[2017-10-26 14:36] guillep commented on #327
Ah! Actually I got mislead by the documentation and existing issues!

Because of the fact that `script` was magically "inferred" it was not clear enough to me that you could override it.

I think we can close this issue, I'll make a PR to enhance the documentation with your comment.

Thanks!

[2017-10-26 14:36] #327 closed

[2017-10-26 15:02] fniephaus commented on #327
Ha, no worries. Thanks! :)

[2017-11-01 01:47] serpi90 opened #331 "Coveralls reporting subclassResponsability as not covered"
Using the following configuration
[code]

Coverage on the 32 bit build works fine.
Coverage on the 64 bit build reports messages with `self subclassResponsibility` as not being covered.

Can be seen on: https://coveralls.io/builds/13981053

[2017-11-01 09:46] estebanlm commented on #259
I don't know what @dalehenrich thinks about it, but I can live with it.
With one condition: #platforms field should be optional. If not present, it means "just run it": most people does not build portable software, and the need to specify platform is just noise (btw, this applies too to all platforms in SmalltalkCISpec).

[2017-11-01 14:06] macta commented on #259
Just a small observation on this - “not easy to persist vm/image from one stage to another” sounds like a Travis issue as GitLab does this out of the box - its an important feature. It doesn’t help with Travis - but possibly worth keeping in mind in case you assess your CI platform.

Tim

[2017-11-01 14:26] fniephaus commented on #259
@estebanlm could you have a look at https://github.com/hpi-swa/smalltalkCI/commit/45ad2c1949063c1d7cb2f87a092cccf87daa3bac? Hope this covers your use cases.

[2017-11-01 16:19] peteruhnak commented on #259
by uploading everything to S3 (or wherever the manager is pointing), which I don't know how well it scales for Pharo as you need to constantly shuffle 50-100MB images

[2017-11-01 18:23] macta commented on #259
Hi Peter - I’m not sure if its putting it on S3 - when I look at PharoLambda its just a directive in the yml file (and it seems to preserve caches for weeks if not months).

Just mentioning this in case its useful at some point in the future for you guys.

e.g.

variables:
  VM_DIR: "pharo-vm"
  MIN_DIR: "pharo-min"
  PHARO_CACHE_DIR: "pharo-cache"

# add directories to cache between pipeline buil

[2017-11-01 18:56] peteruhnak commented on #259
Sorry, not S3, but the server where GitLab is hosted, which is usually a different machine than where the GitLab CI is running. And what is more important is that it can be changed only by the admins of the GitLab globally…
From: Tim Mackinnon
Sent: Wednesday, November 1, 2017 7:23 PM
To: hpi-swa/smalltalkCI
Cc: Peter Uhnak; Comment
Subject: Re: [hpi-swa/smalltalkCI] Add support for pre/post test/

[2017-11-02 10:07] #259 closed

[2017-11-06 07:58] jbrichau opened #333 "Handling load conflicts in a SCIMetacelloLoadSpec (and other Metacello Scripting API functions)"
I'm moving a project to Travis-CI where the Metacello Scripting API is required to handle load conflicts in an `onConflict:` handler. The project's baseline references many other project configurations and we need to handle several load conflicts (e.g. different projects reference different versions of Seaside) in order to load the code into a Pharo image.

We currently do that using a custom Meta

[2017-11-06 09:27] fniephaus commented on #333
Hi @jbrichau,
Could you please provide such a Metacello load script for you project?
The `#preLoading` option is available since last week, so maybe it's a bug that `#loading` is required. I believe it shouldn't be required.
How do your users install your project? Do you make them handle the conflicts themselves? Or could you avoid any conflicts in a `preLoad` script in your baseline?

[2017-11-06 10:11] jbrichau commented on #333
Hey @fniephaus,

The project is a private project (Yesplan), so I cannot share the entire config out-of-the-box.
Here is the load script (which is a class method of our BaselineOf). Do not mind the exact filepath in there, I am experimenting to make this work :):

[code]

[2017-11-06 10:25] fniephaus commented on #333
I don't really see how we could extend the config spec in such a way that a use case like this could be covered (with relatively low effort).
Anyhow, now that custom scripts are supported during pre/post loading/testing phases, maybe we could allow them in `#loading` as well. The problem is, that smalltalkCI is then unable to automatically determine with tests to run.
What happens if you only use

[2017-11-06 14:50] dalehenrich commented on #333
I don't have the time to look into this at the moment and my computer is being upgraded shortly, so I don't know exactly when it will be back ... but I don't think the preload approach is necessarily the right answer --- I need to study the preload stuff a bit more  --- since what @jbrichau is doing is a valid/long-standing part of the Metacello load api, it perhaps _should_ be part of the Metacel

[2017-11-06 15:58] jbrichau commented on #333
@fniephaus I'm going to try that asap (was a bit busy today) and let you know. I think it should be possible to extend SmalltalkCI to use a custom script for loading. In that case, it's acceptable that we should specify the tests manually.

@dalehenrich we want to use Travis-CI, though I have been testing locally most of the time. Indeed, another part of the puzzle is to know where the repository

[2017-11-07 00:58] dalehenrich commented on #333
@jbrichau .. ah that makes a lot of sense ... I guess there are still projects that haven't moved to GitHub:)? ... For my part I should be able to eliminate Gofer and Sport from list of Monticello-repo-based projects ... Are you using the XML parser/write project? It's on the radar, but I'm hoping that the pharo community moves it to GitHub first:)

[2017-11-07 07:28] peteruhnak commented on #326
So I actually cannot contribute on this, because I have no idea how to commit the change without all metadata being completely ****** up (I am using regular filetree). 😐 @estebanlm any ideas?

[2017-11-07 09:26] fniephaus opened #334 "Use metadata-less Filetree in smalltalkCI"
This makes it hard for other users to contribute. On the other hand, I'm not sure if all images supported by smalltalkCI also support the metadata-less format. @dalehenrich?

[2017-11-07 09:42] fniephaus commented on #333
Side note: the `git_cache` symlink will soon be removed (https://github.com/hpi-swa/smalltalkCI/commit/20987586d396f126830f934d134e492be4f24543 is already on `dev`), because it is no longer used by smalltalkCI. If you your project relies on other resources, you can copy them into the build directory (`SMALLTALK_CI_BUILD`) before smalltalkCI is executed.

[2017-11-07 10:27] estebanlm commented on #334
AFAIK metadataless format is available for everybody. Why should make it harder?
(unless it is not there...)
honestly, I think is metadatafull what makes harder to contribute to a project.

[2017-11-07 10:31] fniephaus commented on #334
The reason why smalltalkCI still uses the metadata-full format is purely to provide backwards compatibility. I need to update the Squeak images with the latest Metacello/Filetree. Are you sure `Pharo-3.0` and all other Pharo images can ready metadata-less Filetree out of the box?

[2017-11-07 10:40] estebanlm commented on #334
mmm.... P4+ yes... P3 not sure.

[2017-11-07 10:55] fniephaus commented on #334
If P3 and P4 are not longer needed, we can deprecate support for them. But I'm sure there are projects using them and GemStone has P3/P4 clients too, so that's probably not an option. Can we update Metacello in P3/P4?

[2017-11-07 14:03] dalehenrich commented on #334
You can't just go around dropping support for perfectly viable platforms because it is inconvenient for the maintainers. If you insist on swiching to metadatless support for the older versions of Pharo, it should be possible to port metadataless support to those older platforms --- it should be relatively straight forward to code it up ... I do not have the cycles to do this personally, but I am w

[2017-11-07 14:04] dalehenrich commented on #334
... oh BTW, I am still relying on travis for applications that I've got running that use Pharo3.0 ---

[2017-11-07 14:26] fniephaus commented on #334
Don't worry, I don't intend to deprecate P3 support anytime soon, there isn't a reason (yet). And I completely agree with what you've said. I'm running an experiment [here](https://travis-ci.org/hpi-swa/smalltalkCI/builds/298482976) to see what works and what not.
It'd be great if @estebanlm or someone else from the Pharo community could backport metadataless support, so we can update smalltalkCI

[2017-11-07 15:16] fniephaus commented on #334
Ok, so P3 and P4 fail to load the metadataless format, `Squeak-4.5` and all other supported Squeak versions work fine (I believe they just always write out metadata, but that's a separate problem).

[2017-11-07 15:59] dalehenrich commented on #334
That’s right ... tolerating metadataless format is much simpler to do ...

Sent from my iPhone

[2017-11-07 18:25] dalehenrich commented on #334
Take a look at the difference between the implementations ... here's the GemStone version of [`hasMonticelloMetadata`]https://github.com/dalehenrich/filetree/blob/1b11ee48091bf20d26a8b289961fd770e9eb6752/repository/MonticelloFileTree-Core.package/MCFileTreeAbstractReader.class/instance/hasMonticelloMetadata.st) ... I found the [PR where I merged metadataless support for GemStone](https://github.co

[2017-11-09 11:14] fniephaus commented on #190
This issue comes up every now and then and I thought about it again.
It seems like there's no convenient way to readjust the working directory in Pharo and I haven't had a look at how this would work in GemStone.
Also, I like the idea of separate build directories and I want to avoid touching the original project directory as well.
Having said that, the best way to handle resources seems to be to

[2017-11-09 17:10] peteruhnak commented on #326
Never mind, I've managed to commit the Pharo code from Squeak. 😆 But there is really something strange with metadata in Pharo.

[2017-11-12 14:18] jbrichau opened #337 "`Pharo64-6.1` does not use Pharo-6.1 vm"
I noticed that using `Pharo64-6.1` uses the latest image but does not download the corresponding 6.1 vm. I actually hit this issue again in our builds: https://pharo.fogbugz.com/f/cases/20156/OSPlatform-current-returns-a-MacOSPlatform-instead-of-a-MacOSXPlatform-on-macOS-Sierra and changing the download script to use the 6.1 vm fixed the problem.

I also had issues (random segfaults) trying to use

[2017-11-12 14:21] fniephaus commented on #337
`master` branch is fine usually, I've just been working on other things and had to merge on `dev` first.

[2017-11-17 01:08] dalehenrich opened #338 "`sw_vers: not found` during "Setting up build cache""
[Here's a case that occurred during a passing run](https://travis-ci.org/dalehenrich/tode/jobs/303180189#L836), so I'm not thinking that this is fatal error, but it is worth pointing out, since it might indicate a bug waiting to happen

[2017-11-17 18:42] dalehenrich opened #339 "Pharo-alpha failures ... expected?"
[recent builds for Pharo-Alpha are failing](https://travis-ci.org/dalehenrich/smalltalkCI/jobs/303302152):

 ![image](https://user-images.githubusercontent.com/623951/32963144-de9d1be4-cb83-11e7-9a58-3df097cbf7c5.png)

[2017-11-18 15:32] krono opened #340 "Upgrade Metacello [at least in Squeak]"
To support Squeak6 (aka current trunk), we need to upgrade Metacello to at least https://github.com/Metacello/metacello/commit/35ec6fbe32d0058e0df40c63c3e6396e2b98adbd

This is partly why https://github.com/SeasideSt/Grease/pull/58 fails.

[2017-11-18 16:27] dalehenrich commented on #339
Apparently the `Pharo-Alpha` build is an expected failure, but you have to read the *fine print* to tell ... apparently expected failures aren't put into an obvious category with this new build format you are using for SmalltalkCI ... and of course my build **actually** failed because of failure further down the list --- that I didn't see either ...

[2017-11-18 16:40] fniephaus commented on #340
Please "useLatestMetacello : true".
https://github.com/hpi-swa/smalltalkCI/blob/master/README.md#scimetacelloloadspec

[2017-11-18 16:40] #340 closed

[2017-11-18 16:52] krono commented on #340
Ack. Sorry.

[2017-11-18 19:24] dalehenrich opened #341 "problem with deprecation of `SmalltalkCI>>test:named:`"
Here's a screen shot pre-deprecation of`SmalltalkCI>>test:named:`:
 ![screen shot 2017-11-18 at 11 16 16 am](https://user-images.githubusercontent.com/623951/32983968-0968f324-cc52-11e7-8d36-73aa7308b383.png)
and here's a screen shot post-deprecation:
![screen shot 2017-11-18 at 11 21 49 am](https://user-images.githubusercontent.com/623951/32984001-bd8104a0-cc52-11e7-823f-11c9f3c1affb.png)
Note th

[2017-11-18 19:33] dalehenrich opened #342 "Test failures not resulting in a failed build"
According to travis, the job [1689.1](https://travis-ci.org/dalehenrich/tode/jobs/303862800) passed, however a look at the [test log](https://travis-ci.org/dalehenrich/tode/jobs/303862800#L4204-L5484)  shows that the travis should have failed ... here's a screenshot:
![screen shot 2017-11-18 at 11 21 49 am](https://user-images.githubusercontent.com/623951/32984049-80734aea-cc53-11e7-8e70-5b73c05f4

[2017-11-18 19:42] dalehenrich commented on #342
BTW, the point of deprecation is to leave a feature enabled until sufficient time has passed to determine that the feature can safely be removed ... and in this case you removed the feature itself and incorrectly labeled it as a deprecation...

You **CANNOT** arbitrarily remove functionality from a system without properly ensuring that **NO USERS ARE AFFECTED** and that was not done in the case at

[2017-11-18 20:09] dalehenrich commented on #342
Well looking back over history of the tODE builds, I've gone back a year and cannot find a case where the gemstone build failed when the client build did not fail ... so I cannot say at this point that it ever worked, the GemStone `run.sh` script hasn't changed for a long time and is not likely to be the source of the issue ... the SmalltalkCI smalltalk code is another issue, and I haven't touched

[2017-11-19 18:41] fniephaus commented on #342
I think one big design flaw we need to get rid of is the following line: https://github.com/hpi-swa/smalltalkCI/blob/d37666744186187ed71b82c642a7defe452189e0/gemstone/run.sh#L241

An image should *always* create a build status file, but I'm not sure if this would solve your problem.
I will have a closer look at this tomorrow...

[2017-11-19 19:59] dalehenrich commented on #342
Thanks for looking!

[2017-11-20 15:11] fniephaus commented on #342
Ok, so I spent some time on improving things. The `SmalltalkCI>>test:named:` functionality should soon be restored and I'm also improving the build status file handling.
Currently, all client tests are being executed after each other, even if they fail (the check is [here](https://github.com/hpi-swa/smalltalkCI/blob/d37666744186187ed71b82c642a7defe452189e0/gemstone/run.sh#L244)). I think it'd be b

[2017-11-20 17:08] jbrichau opened #343 "Build matrix to test packages in concurrent jobs"
We have a build for which running the entire test suite exceeds the maximum job time imposed by Travis-CI. I am exploring how I can define a matrix to run a job per test package.

I guess SmalltalkCI currently does not have a built-in possibility for this? Do you think this is possible to achieve?

[2017-11-20 17:18] jbrichau commented on #343
Browsing through the existing issues, it sounds like I need https://github.com/hpi-swa/smalltalkCI/issues/106 to work?

[2017-11-20 17:20] fniephaus commented on #343
Hi @jbrichau,
[Metacello](https://github.com/Metacello/metacello) uses multiple `SmalltalkCISpec`s to separate tests into different builds (see `.smalltalkA.ston`, `.smalltalkB.ston`, etc). I assume this is what you are looking for?

[2017-11-20 17:20] #343 closed

[2017-11-20 17:30] jbrichau commented on #343
Hi @fniephaus

Yes, it would seem so but I think it's still not working as I read here: https://github.com/hpi-swa/smalltalkCI/issues/185
Looking at the Metacello builds, it seems they are not being used.

[2017-11-20 17:35] fniephaus commented on #343
Right, there's a weird Travis bug going on that we haven't figured out yet.
In the meantime, this should work:
[code]

[2017-11-20 18:01] dalehenrich commented on #342
I don't necessarily agree that exitting on the first failure is a good idea ... They are stacked up with multiple client tests to avoid having to build GemStone multiple times just to test the client so exiting early is not necessarily a useful thing ... there is a reason that travis ci runs multiple concurrent builds and I think it is the same thing for this feature ... knowing which clients fail

[2017-11-20 18:09] jbrichau commented on #343
Thanks for that workaround! Works as advertised.

I guess that, in the future, I would actually want to use the env variables for that, similar to how it's done for other languages (https://docs.travis-ci.com/user/speeding-up-the-build/). Will be diving into that as we go along.

[2017-11-20 18:09] dalehenrich commented on #342
I had a little window of time over the weekend where I was going to work on the SmalltalkCI deprecation issues, but instead fiddled with this particular bug and then decided to wait until the SmalltalkCI API hits a stable point, so I don't go around chasing my tail ... so it may be a month or so before the window opens up for working on SmalltalkCI issues ... I'd like to address all of the Smallta

[2017-11-20 18:45] fniephaus commented on #343
We try to minimize the amount of env vars used in smalltalkCI. Why would you prefer to use them over the `smalltalk_config` option (if matrix expand worked as well)?

BTW: you should already be able to use env vars like this:

[code]

[2017-11-20 18:46] fniephaus commented on #342
That's why I asked and I get your point. I will keep the behavior untouched then...

[2017-11-20 18:47] dalehenrich commented on #342
sounds good:)

[2017-11-20 18:50] fniephaus commented on #342
I'm currently hardening the build status reporting and already found a bug in the old code. I haven't verified if this caused your issue though, but it's likely.
Is there an "easy" way to test all code depending on smalltalkCI against the `dev` branch, or do I have to merge into `master` first and hope things don't break?

[2017-11-20 18:53] fniephaus commented on #341
Functionality should be restored once https://github.com/hpi-swa/smalltalkCI/commit/1821addf71e49656a3fe5e2c43ddd103d9b70751 hits `master`.

[2017-11-20 18:53] dalehenrich commented on #341
excellent, Thanks!

[2017-11-20 19:00] dalehenrich commented on #342
Isn't that a function of how SmalltalkCI installs iitself ... I guess the question is, "is there a way for a project to use an alternate branch of SmalltalkCI?" If so then I can arrange to fire off builds on separate project branches for you to debug with ... hmmm is that what https://github.com/hpi-swa/smalltalkCI#using-a-different-smalltalkci-branch-or-fork is for?

If it is let me know and I'll

[2017-11-20 19:02] fniephaus commented on #342
Yes, you should be able to set `smalltalk_edge` to use the `dev` branch instead. I wasn't sure if your script manually clone smalltalkCI...

[2017-11-20 19:04] jbrichau commented on #343
Thanks again for that pointer. I'm definitely not yet on-par with all Travis-CI possibilities....

The reason I prefer the env variable is that the values are more clearly distinguishable in the travis-ci build job screen. This makes it easier to see which smalltalk config is run in which job. I know it's in the job name, but that's just less easy to see at a glance.

[2017-11-20 19:06] fniephaus commented on #343
Ok, that makes sense. smalltalkCI tries not to "pollute" the env column too much, so users can do other things in there too. But most of the functionality can be replicated with env vars out of the box.

[2017-11-20 19:07] fniephaus commented on #338
This was a Travis bug: https://github.com/travis-ci/travis-ci/issues/8714

[2017-11-20 19:07] #338 closed

[2017-11-20 19:13] dalehenrich commented on #342
Let me know when I should fire off a tode build to test your changes ...

[2017-11-20 19:21] fniephaus commented on #342
Feel free to do it now, the behavior with regard to multi-client testing should be restored...

[2017-11-20 19:32] fniephaus commented on #342
Just found another bug, please restart if your builds are already running...

[2017-11-20 19:33] dalehenrich commented on #342
just launched [the build](https://travis-ci.org/dalehenrich/tode/builds/304914460)

[2017-11-20 19:34] fniephaus commented on #342
ok, let's wait and see...

[2017-11-20 19:53] dalehenrich commented on #342
... no errors or failures but the build is failing ... did I get the wrong version of smalltalkCI (too soon after your update) or is there another issue?

[2017-11-20 19:54] dalehenrich commented on #342
... see same mysterious problem in the [smalltalkci build](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/304913936)

[2017-11-20 19:55] fniephaus commented on #342
yes, there's another issue..new [smalltalkCI build](https://travis-ci.org/hpi-swa/smalltalkCI/builds/304924042). Please restart yours...

[2017-11-20 19:56] dalehenrich commented on #342
next time I'll wait for the smalltalkCI builds to be breen before relauching tode ... got my hopes up:) ... also the labels for the tests appear to be wrong ... there should be a unique label for each test ..

[2017-11-20 20:01] fniephaus commented on #342
True, I should have had a look at the deprecation warnings...I need to get some dinner and will ping you then...

[2017-11-20 20:14] fniephaus commented on #342
Mh, `test:named` should work, but clients are still using another API to inject a custom suite name (`SmalltalkCIPharo>>suiteName:`). A fix is on `dev`, restart your builds when [this](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/304931851) passes.

[2017-11-20 20:17] dalehenrich commented on #342
K

[2017-11-20 21:07] fniephaus commented on #342
The Pharo file server is a massive pain :(

[2017-11-20 21:10] estebanlm commented on #342
we know :(
this happens since latest "update". We are working to solve it, I hope we will have an answer soon(™)

[2017-11-20 21:37] fniephaus commented on #342
@estebanlm well I know, hopefully it's getting fixed soon

[2017-11-20 21:38] fniephaus commented on #342
@dalehenrich time to restart your builds :)

[2017-11-20 22:23] dalehenrich commented on #342
okay ... so the build that is supposed to test failures is failing even though the tests did fail correctly:) ... restarted ... I'm headed to the dentist in about 10 minutes so will be offline for 2-3 hours ...

[2017-11-20 22:26] fniephaus commented on #342
yes, I'm already trying to figure out why this is happening...at least I didn't break anything in the other code path

[2017-11-20 23:47] fniephaus commented on #342
Ok, so please restart your builds one more time. In the meantime, I will get some rest and will follow up tomorrow morning...

[2017-11-21 00:06] fniephaus commented on #242
When this is done, `load` and `test` should return something more meaningful, e.g.: `true` if successful, otherwise `false`.

[2017-11-21 04:29] dalehenrich commented on #342
okay restart [build](https://travis-ci.org/dalehenrich/tode/builds/304914460)

[2017-11-21 08:03] fniephaus commented on #342
Two builds failed due to network errors, and a third because of failing tests. Can you restart the first two failed builds?

[2017-11-21 11:47] fniephaus commented on #342
Please restart all builds...

[2017-11-21 14:05] fniephaus commented on #331
This appears to be a problem in Pharo64-6.1 and not in smalltalkCI:
![image](https://user-images.githubusercontent.com/2368856/33076523-3c5dc066-cecd-11e7-9c73-85d27f02e321.png)

[2017-11-21 17:16] dalehenrich commented on #342
done

[2017-11-21 17:56] fniephaus commented on #342
And, is [this](https://travis-ci.org/dalehenrich/tode/builds/304914460) your expected result?

[2017-11-21 17:59] fniephaus commented on #342
BTW: I'm checking expected failures in smalltalkCI with [this](https://github.com/hpi-swa/smalltalkCI/blob/d37666744186187ed71b82c642a7defe452189e0/.travis.yml#L18) (inverting the result).

[2017-11-21 18:25] dalehenrich commented on #342
You mean the test failures for 2.4.8? Yes ... I have been on the fence with how much longer I will "support" tODE on 2.4.8 ... it's never really been functional (there are some base bugs that will not be fixed) and these base bugs get in the way of making it easy to fix the bugs ... I've left the allowe failures as a constant reminder that I need to eventually drop support for 2.4.8 ... so I guess

[2017-11-21 18:30] dalehenrich commented on #342
Oh wait that is the OSX build ... for OSX I can get a rash of API RATE LIMIT errors again ... because of the unreliability of OSX builds for GemStone on travis, I don't usually include OSX in the mix ...again it;s wishful thinking that someday I won't have to worry about the APR RATE LIMIT errors ... I **am** making an overhaul to the GemStone build process that will greatly speed up the build pro

[2017-11-22 00:25] fniephaus commented on #342
Sounds good! Am I under the right impression that the current dev is better than master and fixes this issue? If so, I will merge into master once Travis is happy.

[2017-11-22 00:29] dalehenrich commented on #342
Yes the labels are back and if things are failing correctly we are good

[2017-11-22 00:29] fniephaus commented on #342
Perfect!

[2017-11-22 00:32] dalehenrich commented on #342
Thanks a ton for your effort ... it is really appreciated!

[2017-11-22 08:32] #218 closed

[2017-11-22 08:32] #255 closed

[2017-11-22 08:32] #279 closed

[2017-11-22 08:34] fniephaus commented on #342
This is fixed in [v2.7.0](https://github.com/hpi-swa/smalltalkCI/releases/tag/v2.7.0).

[2017-11-22 08:34] #342 closed

[2017-11-22 08:34] fniephaus commented on #341
This is fixed in [v2.7.0](https://github.com/hpi-swa/smalltalkCI/releases/tag/v2.7.0).

[2017-11-22 08:34] #341 closed

[2017-11-22 08:34] fniephaus commented on #337
This is fixed in [v2.7.0](https://github.com/hpi-swa/smalltalkCI/releases/tag/v2.7.0).

[2017-11-22 08:34] #337 closed

[2017-11-22 08:36] fniephaus commented on #304
Closing the issue, as I no longer see this error.

[2017-11-22 08:36] #304 closed

[2017-11-22 08:38] #180 closed

[2017-11-22 14:17] fniephaus commented on #273
This was recently fixed.

[2017-11-22 14:17] #273 closed

[2017-11-22 17:51] fniephaus opened #346 "How to debug SentButNotImplementedTest"
What's the best way to debug a failing `SentButNotImplementedTest`? The error message on Travis does not give any hints as to which messages are causing the problem which is unfortunate.

[2017-11-22 18:12] dalehenrich commented on #346
the SentButNotImplementedTest dumps the list of unimplemented messages and the sender of the message into the log while the test is running ... I don't recall the exact string, but if you have a specific travis test failure log I can easily find the long entry and point you to it for future refence ...

[2017-11-22 18:35] fniephaus commented on #346
Perfect thanks! ([example](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/305915876#L2872))

[2017-11-22 18:35] #346 closed

[2017-11-29 12:54] JurajKubelka opened #347 "Travis-CI gets stuck with Pharo-5.0"
Hi!

For couple of days my Travis-CI configuration does not work. I have checked my code, even if I do local testing using `smalltalkCI.sh --headfull -s Pharo-5.0` it does not work. At the moment of running test cases, the Pharo window is black and not responsive (on macOS 10.13.1), CPU is about 100%.

On Travis, it says:

[code]

By checking [Travis build history](https://travis-ci.org/JurajKubel

[2017-11-29 14:38] fniephaus commented on #347
It appears to be a problem with the new code coverage testing...I'll look into this when I have some time.

[2017-11-29 14:56] fniephaus commented on #347
A quick looks revealed that this has something to do with the [`valueUnpreemptively`](https://github.com/hpi-swa/smalltalkCI/blob/4b6909db3623d2dd9642fefe91e0f99326724968/repository/SmalltalkCI-Coverage-Core.package/SCICodeCoverage.class/instance/run.spec..st#L6) and your code attempts to establish network connections etc.
Therefore, I assume you cannot coverage test manually as well?

[2017-11-29 15:19] JurajKubelka commented on #347
How can I try "coverage test manually"?

[2017-11-29 15:45] fniephaus commented on #347
`TestRunner` > "Run Coverage" and then select your package.
Your test code must be spawning high-priority processes (maybe for a network connection?) which causes the image to freeze.
I'm trying to fully understand why `valueUnpreemtively` is used. I think it's a requirement for a correct coverage result and a clean system, and I would like to keep it to ensure smalltalkCI behaves in the same way

[2017-11-29 17:22] JurajKubelka commented on #347
You are right. `TestRunner > "Run Coverage"` does not work. Yes, I use `ZnServer` and `ZnClient`

[2017-11-29 17:26] fniephaus commented on #347
Mh, that's unfortunate. It used to "work" before, but the result could've been manipulated by any high-priority process executing code in the code path.
I'm not sure yet what would be the right thing to do here, need to read more (code) about code coverage first...

[2017-11-29 17:28] JurajKubelka commented on #347
OK. Thank you for the effort.

[2017-11-30 13:06] fniephaus opened #348 "Coverage test results can be incorrect"
Coverage testing is not performed with `valueUnpreemptively`. Therefore, other processes can potentially run and execute code that is currently being coverage tested. This leads to wrong results, because its unclear whether code was covered by the invocation of a test or externally.
With `valueUnpreemptively`, this can be avoid. But on the other hand, tests that spawn high-priority process might f

[2017-12-01 08:06] #347 closed

[2017-12-01 10:04] fniephaus opened #349 "Squeak-trunk segfaults"
Squeak-trunk builds currently fail, because the VM segfaults during the initial update process.
Related discussion on `squeak-dev`: http://forum.world.st/Squeak-trunk-updates-fail-td5059208.html

[2017-12-01 23:46] fniephaus commented on #349
Fixed

[2017-12-01 23:46] #349 closed

[2017-12-06 21:42] nicolas-cellier-aka-nice opened #350 "Squeak 5.1 image is not up to date wrt source.squeak.org MC repository"
The tests for squeak 5.1 launched from opensmalltalk-vm are stalling on linux VM.
https://github.com/OpenSmalltalk/opensmalltalk-vm/tree/Cog/tests)

The problem has been reported and identified in squeak vm-dev thread "Stalled travis_tests in linux32x86".
http://lists.squeakfoundation.org/pipermail/vm-dev/2017-December/026046.html

A workaround has been published in Monticello repository for squea

[2017-12-06 21:49] fniephaus commented on #350
Thanks for looking into this, I actually have seen similar problems and I think this should fix it.
I will update all Squeak images tomorrow...

[2017-12-06 22:44] nicolas-cellier-aka-nice commented on #281
Can this help at client side, at least as a workaround?

    git config --system core.longpaths true

See thread "Development of 7.0 on windows" in pharo dev mailing list
http://forum.world.st/Development-of-7-0-on-windows-td5013892.html#a5014009

[2017-12-06 22:46] fniephaus commented on #281
Interesting, I didn't know about that...will have to give this a try some time

[2017-12-07 13:42] fniephaus commented on #350
5.1 image should be updated, also updated Metacello in all other Squeak images.

[2017-12-07 13:42] #350 closed

[2018-01-20 17:29] theseion opened #352 "Error during Squeak-trunk update produces misleading error message"
When an error occurs during the update process of the Squeak-trunk image (as is currently the case) SmalltalkCI fails with

This issue is reproducible locally, the cause being premature termination of the image (as instructed by the error handler).

While the error message isn't actually wrong, it suggests a problem with SmalltalkCI itself instead of an error in the update process.

[2018-01-20 17:30] fniephaus commented on #352
Thanks, I will have a look soon. Have you reported the root cause on squeak-dev?

[2018-01-20 17:32] theseion commented on #352
No, I haven't but I saw something about problems with empty packages / package removal, so I assumed that it's a known issue.

[2018-01-20 17:38] theseion commented on #352
I've sent a message to the list.

[2018-01-20 17:56] fniephaus commented on #352
Thanks!

[2018-02-05 09:02] dionisiydk opened #354 "defaultTimeout for tests can be supported too"
Starting from Pharo 6 there is timeout for tests.
But the message is different from Squeak. It is named #defaultTimeLimit which accepts a duration instance:
[code]
And there is version with seconds number argument:
[code]

[2018-02-05 10:39] #354 closed

[2018-02-05 12:35] fniephaus commented on #354
Thanks for suggestion, should work now

[2018-02-05 12:41] dionisiydk commented on #354
Cool.
Thanks.

2018-02-05 13:35 GMT+01:00 Fabio Niephaus <notifications@github.com>:

[2018-02-12 09:08] dionisiydk opened #355 "Default behaviour for installation warnings and errors"
The current behaviour is to ignore any warnings when building image/installing baselines.

It means that by default the build will not fail if it will not able to load some code. For example with bad dependency extension methods will be lost when they will be loaded before their classes.
I think it is clear that in such cases it is expected to always fail.

So my suggestion is to change current be

[2018-02-12 09:11] dionisiydk commented on #355
And the reason why it is bad to ignore warnings even if they do not break project:

Users will load the project in the image. And they will be definitely confused by debugger requests.

[2018-02-13 09:10] fniephaus commented on #355
I think you are right: if smalltalkCI fails on warnings by default, projects will have cleaner loading behavior and you wouldn't run into problems like the one you described. But it might be hard to change the current behavior as it might break many projects and then we need to communicate this somehow. I wonder what @dalehenrich thinks about this?

[2018-02-13 09:24] dionisiydk commented on #355
Maybe we can make attempt to switch. If there will be victims we will switch back.
Log can show in that case very smart description how to fix and notification like "please, if you can't adopt soon and it is critical for you, send mail to switch behaviour back to someSmalltalkci@mail".

It is of course depends on how temporary broken CI is business critical

[2018-02-13 09:53] fniephaus commented on #355
We have monitoring in place that helps us to measure the impact of a change like this and a helpful error message is also something we have to do. What's the default behavior in Metacello? IIRC a warning pops up, right? Or are they just logged to Transcript? That's why I'd like to hear @dalehenrich's opinion on this :)

One of the files of interests is [withLoadWarningsHandlerDo..st](https://githu

[2018-02-13 14:33] dalehenrich commented on #355
I'm sorry, my wife is in the hospital recovering from surgery and I don't have a lot of time to spend answering issues --- it seems that we've discussed this before in a previous issue (when we added the fail on warnings flag?) ,,, Metacello signals Warnings itself unless you specify an onWarningLog, so it is likely that if you make failing on Warning a default behavior a lot of previously passing

[2018-02-13 15:10] dalehenrich commented on #355
On second thought the version should be in the .travis.yml file and it probably should be a version or a committish (different way of specifying a version and committish?).

Also SmalltalkCI has two levels of API ... the casual user behavior (which we are talking about here) and the user of the actual Smalltalk API for SmalltalkCI and I think those two are independent. BTW if we had the ability to

[2018-02-15 10:12] peteruhnak opened #356 "Broken coveralls testing?"
Is coveralls testing broken?

I've created several repos in the past two weeks, and none of them are properly uploading anything to coveralls. Normally I just copy configuration from an existing working project and tweak it. But it seems that coveralls simply isn't uploaded and I have no idea why. And likewise I have no idea how can I even debug this.

Here are two example repos:

github: https://

[2018-02-15 10:23] fniephaus commented on #356
Thanks for bringing this up. I will have a look in the next couple of days.

[2018-02-21 15:36] peteruhnak commented on #356
Uh... this is strange.

Apparently coveralls data is uploaded for the build, but it was never aggregated. So I don't know if this is SmalltalkCI issue or if Coveralls is bugged

onigmo/8: https://coveralls.io/builds/15536492
onigmo: https://coveralls.io/github/peteruhnak/onigmo

[2018-02-21 15:41] fniephaus commented on #356
This might be a Coveralls issue. [smalltalkCI's Coveralls page](https://coveralls.io/github/hpi-swa/smalltalkCI) displays wrong data:
![image](https://user-images.githubusercontent.com/2368856/36489316-03e361d6-1726-11e8-8323-4b0918aaa6d0.png)
I don't think there's this much Go code in this repository :(

[2018-02-24 21:23] theseion opened #357 "Pharo-alpha builds don't work on Windows"
32 bit and 64 bit builds produce slightly different output:
- 32: https://ci.appveyor.com/project/theseion/fuel/build/1.0.108/job/iowiad0svnhba9qj
- 63: https://ci.appveyor.com/project/theseion/fuel/build/1.0.108/job/5agld0c917639191

[2018-02-25 01:03] fniephaus commented on #357
It looks like the zeroconf script is broken? @estebanlm?

[2018-03-03 14:48] seandenigris commented on #262
I took [an initial crack at it](https://gitlab.com/SeanDeNigris/gitlab-smalltalk-ci). It is working fairly well. I tried to make the YAML as simple as possible and delegate to helper scripts. Next steps: split building and testing stages, delegate setup to Docker.

[2018-03-03 16:34] fniephaus commented on #262
What's the advantage of using Docker in your setup?

[2018-03-03 22:04] seandenigris commented on #262
I primarily used it because GitLab recommended it. I think probably reduced build time and decrease in duplication.

[2018-03-12 12:41] juliendelplanque commented on #326
Hello,

What is the state of this issue? Any progress?

I have a repository in Tonel format and I would like to set up Travis CI for it, is it possible now?

Thanks in advance,

Julien

[2018-03-14 18:53] gcotelli opened #359 "Coverage not wotking on Pharo 7"
I'm getting the following error on travis for Pharo 7:

[code]
Full log on: https://travis-ci.org/ba-st/Buoy/jobs/353483653

[2018-03-14 20:48] fniephaus commented on #359
Looks like the `TestCoverage` class has been removed from Pharo. That's a pity...I wonder why?

[2018-03-15 11:13] peteruhnak commented on #359
TestCoverage was removed here https://github.com/pharo-project/pharo/pull/975/commits

I asked Marcus

the collector should probably be disabled for P7 then until it is fixed... so builds are at least not failing.

(On the other hand coveralls have stopped working properly for some time now without any public response :-/, so it's not like fixing it immediately will bear fruit...)

[2018-03-18 23:36] fniephaus commented on #326
Hi @juliendelplanque,
Sorry for the slow response. @peteruhnak, what needs to be done to support Tonel to smalltalkCI?

[2018-03-18 23:37] fniephaus commented on #326
Hi @juliendelplanque,
Sorry for the slow response. I was hoping that @peteruhnak would comment on this.
What needs to be done to support Tonel to smalltalkCI, Peter? As in, how can Tonel be installed and used? I assume Pharo-only?

[2018-03-19 01:24] dalehenrich commented on #326
Well this should just be a Pharo/GemStone issue ... eventually Tonel repositories should be differentiated from FileTree repos and then the loads will happen without any need for special code in SmalltalkCI ...

[2018-03-19 08:11] peteruhnak commented on #326
I stopped working on this because I was waiting for the latest metacello/Tonel to be packported to Pharo 6.1 (and `#useLatestMetacello` wasn't working well with at  the time, so either it was working in one verseion, or the other)

But now it seems that tests are finally green on both P61 and P7 ( https://travis-ci.org/peteruhnak/pharo-changes-builder/builds/355249672 ) , so I'll send you PR today

[2018-03-19 08:18] juliendelplanque commented on #326
Ok thank you all for your answers 😄

Thanks @peteruhnak for this PR!

[2018-03-19 08:54] fniephaus commented on #326
If you have used smalltalkCI locally before, just do `bin/smalltalkci -s Squeak-5.1 --headful some.ston`.
Otherwise, you need the latest Metacello and then load smalltalkCI manually.

[2018-03-19 08:58] peteruhnak commented on #326
Sorry, I meant how to load SmalltalkCI code inside Squeak (I cannot commit from Pharo, because it generates obscene amount of metadata changes).

[2018-03-19 09:01] fniephaus commented on #326
smalltalkCI bootstraps itself before loading and testing any Squeak project. That's why you can pretend to test any of your projects, but actually working on smalltalkCI's code if that makes sense.
You could also send me a change set and I'll take care of the rest...

[2018-03-19 09:08] peteruhnak commented on #326
Ah, I see.

Well the code is here https://github.com/peteruhnak/smalltalkCI/commit/413e6a59b30e869ab49c4b50b7eb0539f1d696a0

Since I wrote the code, the way projects are loaded has changed slightly, so `loadRepository` should instead by called `filetreeRepositoryIn:` (or something like that... maybe the name is confusing if it loads tonel instead)

Basically the code checks whether there's `.prope

[2018-03-19 09:26] peteruhnak commented on #326
You need to specify the file format, and by default you load it via `filetree://`.

In theory a new scheme (e.g. `local://`) could be introduced that would autodetect the format and transform it to `filetree://` or `tonel://` (or something else).. but that's for @dalehenrich to decide if that make sense.

Until then, we need to detect it explicitly.

[2018-03-19 12:03] fniephaus commented on #326
Ah, right. Thanks, @peteruhnak. I'll have a look :)

[2018-03-19 20:17] dalehenrich commented on #326
Yeah, the long term plan is that `filetree://`will check the `.properties` to determine the format and switch the proper reading ... I know that @estebanlm had plans to make the changes and it looks like only a part of the changes got made ... so far ... I haven't looked at the PR yet. but presumably that' what you (@peteruhnak) are doing? I'm a bit surprised that this code isn't just included in

[2018-03-20 09:12] peteruhnak commented on #326
@dalehenrich in Pharo the check is done by Iceberg, not Monticello (iirc), but SmalltalkCI is not using iceberg.

Nevertheless as I mentioned, I find it strange that `filetree://` would be polymorphic format considering at the moment it already means a concrete format... autodetection for `local://` makes much more sense to me.

[2018-03-20 19:55] dalehenrich commented on #326
@peteruhnak using `filetree://` is only a backward compatibility measure. `filetree://` has always supported multiple disk formats (there were 6 or so different formats in the very beginning) and my plan was to eventually support file/class and file/package and file/project formats under the filetree name. Esteban released Tonel into the wild without a lot of discussion with me (okay no discussion

[2018-03-21 09:00] guillep opened #360 "Should update Pharo Stdout access"
There was some renaming in the classes providing access to stdio in latest dev Pharo 7. The  platform code should be fixed accordingly.

[2018-03-21 12:49] #360 closed

[2018-03-22 17:32] seandenigris commented on #333
@fniephaus @jbrichau Is it now possible to pass a custom script to `loading:`?

I ran into a similar problem re conflicts and asked on the Metacello ML:

[code]

And @dalehenrich's answer was:

[2018-03-22 22:39] seandenigris commented on #333
I'm not sure why this worked, but locking Magritte3 even *before* Magritte was loaded allowed the baseline to load and then prevented configs from overriding.
[code]
@jbrichau maybe this can help you e.g. in a preloading script?
@dalehenrich?

[2018-03-22 22:55] dalehenrich commented on #333
Yes `lock` is the preferred mechanism for declaring that a particular *version* of project should be the winner in all conflict situations ... so if locks work for you, then that is good ...

[2018-03-22 23:15] seandenigris commented on #333
Cool. Can I do that *in* my baseline? I tried a global `#preLoadDoIt:`, but the hook doesn't seem to be triggered early enough…

[2018-03-23 01:01] seandenigris commented on #333
Okay, so full workaround ATM is:
[code]

[2018-03-23 01:57] dalehenrich commented on #333
It's a bit spooky, but it certainly works as a workaround ... I still think SmalltalkCI should support locks/conflict resolution ... but it might be a bit of time before that support is implemented

[2018-03-23 07:35] fniephaus commented on #333
@dalehenrich what'd be needed in smalltalkCI for this? I'm a little unfamiliar with the API for locking and conflict resolution.
For locking, it looks like the `SCIMetacelloLoadSpec` needs to be extended with a `#locking` dict that can contain a list of `#baselines` and `#configurations`? Maybe it also needs to be possible to set a version per baseline/configuration?
However, I have no idea what t

[2018-03-24 00:32] dalehenrich commented on #333
@fniephaus okay, the `onConflicts:` takes a Smalltalk block as an arg and the code in [@seandenigris' comment](https://github.com/hpi-swa/smalltalkCI/issues/333#issuecomment-375392861) is an illustration of a typical block.

I may have spoke too soon with regards to the `Metacello lock` ... on the one hand the `lock` is a special case of conflict resolution, where there is no need for conflict han

[2018-03-24 00:36] seandenigris commented on #333
In fact, I only explored `lock` because there seemed to be no way to use `onConflict:`. IIRC my project loads Magritte via baseline, and then a dependency loads the config version some layers down.

[2018-03-24 00:43] dalehenrich commented on #333
... @seandenigris ... okay so I would agree that in your use case, `onConflict:` **is** the correct solution ... so I would claim that `lock` support is not necessary for SmalltalkCI, but `onConflict:` support would be useful for those special cases where (as @seandenigris' use case illustrates) an `onConflict:` is used to load the project itself ... and if I am not mistaken, @seandenigris is actu

[2018-03-28 15:39] fniephaus commented on #359
https://github.com/hpi-swa/smalltalkCI/commit/61e2f3c00314c68757f93673373bb814b8a5f5de fixes this in smalltalkCI, not sure if coveralls has fixed their problems.

[2018-03-28 15:39] #359 closed

[2018-03-31 17:38] peteruhnak opened #362 "Coveralls testing is skipping class side & extension methods"
Apparently class-side and extension methods are both being skipped during coverage collection.

Here's a sample [coveralls_results.json](https://gist.github.com/peteruhnak/675cd4515d457c91074fa03455af3b89)

here's the build https://travis-ci.org/peteruhnak/pharo-travis-pipeline/jobs/360667859

Testing itself works, fine, but not collection.

E.g. [PTItem class>>testedClassSideMethod](https://githu

[2018-04-02 12:56] seandenigris commented on #326
@peteruhnak: "in Pharo the check is done by Iceberg, not Monticello (iirc), but SmalltalkCI is not using iceberg."
Would it work as is if Iceberg Metacello integration was enabled?
@dalehenrich: "the long term plan is that filetree://will check the .properties to determine the format and switch the proper reading"
I assume the same would apply if the project was loaded from a remote (e.g. `github:

[2018-04-02 13:10] peteruhnak commented on #326
@seandenigris it might work if you enable metacello integration and force load it through iceberg... but there were other issues last time (~months ago) I've tried that

@fniephaus I think it makes sense to add the support for SmalltalkCI and remove it once it has made its way to Pharo, so the adoption of tonel is not further needlessly delayed.

[2018-04-05 09:16] fniephaus commented on #326
@peteruhnak: @gcotelli provided https://github.com/hpi-swa/smalltalkCI/pull/363 which adds Tonel support for Pharo through smalltalkCI. Could you please give this a go and confirm that everything works as intended?

I'm reopening this issue, so we don't forget to remove this "workaround" as soon as Tonel is properly integrated into Metacello.

[2018-04-05 13:30] gcotelli commented on #356
I don't know if it's related but when the upload to coveralls times out the build don't fail.

I'm seeing a lot of
[code]
in a project running 48.000 tests (so probably a huge JSON file).
Take a look for example at: https://api.travis-ci.org/v3/job/362599725/log.txt
The API docs states that you can upload the json file gzipped (https://docs.coveralls.io/api-introduction). Maybe this can help with

[2018-04-05 13:40] fniephaus commented on #356
I didn't know you can upload `gzip` files, interesting! Could you try this out locally and share your learnings?

But to be fair, enabling coverage testing for a project with 48.000 tests and probably thousands of classes doesn't sound like a good idea. Just because you can doesn't mean you should ;) I don't know how well smalltalkCI and Coveralls can handle something like this anyway...

[2018-04-05 14:40] peteruhnak commented on #326
@fniephaus thanks! I'm getting green tests both for Pharo 6.1 and 7.
Now #325 can be addressed.

[2018-04-05 14:42] fniephaus commented on #326
@peteruhnak great! and sorry for the delay.

[2018-04-05 14:51] peteruhnak commented on #356
Well... I think we can agree that has been (and still is for some of my repos) a coveralls issue, and SmalltalkCI cannot really do anything about it... so I'm closing this, sorry about the noise. :)

[2018-04-05 14:53] fniephaus commented on #356
@peteruhnak I'm reopening this, because smalltalkCI's coverage currently supports coveralls and it used to work. Have you tried their API out manually to reproduce the problem? Aren't other projects (written in other languages) having similar issues? Are there any related bug reports or issues?

[2018-04-05 14:59] peteruhnak commented on #356
SmalltalkCI's upload seems to be just fine,
e.g. the data was clearly uploaded a processed https://coveralls.io/builds/16363670
but the aggregation/general overview remains empty https://coveralls.io/github/peteruhnak/pharo-sentry

strangely for other projects, such as this one it works correctly https://coveralls.io/github/peteruhnak/pharo-travis-pipeline

so I think it's coveralls' fault

[2018-04-05 17:57] fniephaus commented on #356
Have you verified that the JSON that smalltalkCI produced is correct? It'd be great to know how to reproduce the problem...

[2018-04-09 15:53] gcotelli commented on #325
@fniephaus I think the pull request is ready. @peteruhnak if you have some repos in Tonel format, can you test them against  gcotelli/smalltalkCI and let me know if the coverage worked?

[2018-04-09 16:27] peteruhnak commented on #325
@gcotelli I've just tried, but the project failed to load... is the tonel support in that branch?

[2018-04-09 16:33] gcotelli commented on #325
It should be. I branched after adding tonel support. Do you have some log
with the failure?

On Mon, Apr 9, 2018 at 1:27 PM, Peter Uhnak <notifications@github.com>
wrote:

[2018-04-09 16:40] gcotelli commented on #325
@peteruhnak I think you need to change
[code]
to
[code]
because I landed the changes in the master branch of my repo

[2018-04-09 17:03] peteruhnak commented on #325
Yeah, sorry, I don't know where I read to use dev branch.
It seems to be working well, as far as I can tell, and as far as the data source itself goes (#362 ).

This also made Coveralls much more useful, as one can now see coverage for individal classes, as well as see the classes themselves ( https://coveralls.io/builds/16419933 ), instead of a nearly-infinite 0 or 100% method list :)

Thanks a l

[2018-04-09 17:16] gcotelli commented on #325
Class side methods must be working, (at least in Tonel) because I contemplated it in the code and see some examples of it in my own code.

But extension methods are another story. I couldn't figure it out how to detect such cases  with the information available at the export time, so for now just ignored it.

[2018-04-11 08:11] Yoochard commented on #84
Hi, may I ask how to solve this problem? Because all the PRs behind will give the same error

[2018-04-11 13:49] fniephaus commented on #84
Hi @Yoochard, there's not really a fix for this. Maybe you can try to restore the branch that was merged. The builds that were failing here, were the ones building the target branch *after* merging. Hope this helps

[2018-04-11 14:45] Yoochard commented on #84
@fniephaus Yeap the clarification really helps a lot, thanks! :D

[2018-04-12 12:28] gcotelli opened #365 "Loading a project with tonel dependencies don't work"
It seems that loading a project whose dependencies are in tonel format don't work:
See discussion here:
http://forum.world.st/SmalltalkCI-loading-tonel-dependencies-td5073542.html

I think it's probably related to disabling Iceberg metacello integration during the load phase. @fniephaus: did you remember the reason why Iceberg metacello integration is disabled in smalltalkCI?

[2018-04-12 12:36] fniephaus commented on #365
Unfortunately, I can't remember and I'm also not using Iceberg. Maybe this is related to @dalehenrich's comment at https://github.com/hpi-swa/smalltalkCI/issues/326#issuecomment-374735048 and really a Metacello issue?

[2018-04-12 12:39] estebanlm commented on #365
this is still not solved in metacello level (which is where it should be).
in Pharo, you need to have

[code]

to be able to load tonel dependencies.

[2018-04-12 12:44] gcotelli commented on #365
Maybe we can try enabling Iceberg-Metacello integration? If you're Ok I can prepare a pull request so we can test against it.

[2018-04-12 12:49] fniephaus commented on #365
Would there be any drawbacks if smalltalkCI always calls `Iceberg enableMetacelloIntegration: true` in all Pharo images that come with Iceberg (as a workaround of course)?

[2018-04-12 12:57] gcotelli commented on #365
The corresponding Pharo images already have iceberg-metacello integration enabled.
Probably we just need to remove the users of `disableIcebergDuring:`

[2018-04-13 04:49] bergel opened #366 "VM crashes"
Hi!

Time to time, the Pharo VM crashes, without any apparent reasons.
For example, in https://travis-ci.org/ObjectProfile/Roassal2/jobs/365943067
[code]

And a bit below:
[code]

It seems to happens randomly

[2018-04-17 13:48] fniephaus opened #368 "Utilities>>#setAuthorInitials: is deprecated"
- [ ] Update smalltalkCI to use `Utilities>>#authorInitials:` instead (+ fallback via `respondsTo:`)
- [ ] Enable deprecated warning in Squeak

[2018-04-17 20:39] #365 closed

[2018-04-18 00:25] gcotelli opened #370 "Coverage reporting failed when a class is included but has 0% of coverage"

[2018-04-18 08:06] #370 closed

[2018-04-18 08:12] fniephaus commented on #366
Hi @bergel,
Sorry for the inconvenience and the late response. It looks like this is not directly a smalltalkCI issue, so I've moved it to the OpenSmalltalkVM project and am closing it here...

[2018-04-18 08:12] #366 closed

[2018-04-21 11:59] dionisiydk opened #371 "onUpgrade option for loading project"
Hi.

I can't find what to put in ston file to tell metacello:
[code]
Is it possible?
Now Calypso is in Pharo 7. And CI does not really loads code because it is already inside Pharo.

[2018-04-21 12:28] fniephaus commented on #371
I don't think there's an option for this yet. Would you like to add it? :)

[2018-04-21 12:55] dionisiydk commented on #371
Another idea: should not it be default behaviour?
Because now if you want to test new version of existing project it does not work on CI.

[2018-04-21 13:32] fniephaus commented on #371
@dalehenrich what do you think? Should we make it the default? And will we still need an option to turn it off?

[2018-04-27 14:28] fniephaus opened #372 "Option to disable deprecation warnings in Squeak"
By default, deprecation warnings are enable in `Squeak-trunk`. An option would be useful to disable them globally if needed.

[2018-05-10 13:53] fniephaus commented on #185
According to https://github.com/travis-ci/travis-core/pull/567#issuecomment-328791745, the folks at Travis have finally pushed a fix for this. I just tried out something like the below and can confirm that it's working now:
[code]

[2018-05-10 13:53] #185 closed

[2018-05-30 18:52] theseion commented on #357
Appears to be resolved.

[2018-05-30 18:52] #357 closed

[2018-05-30 20:02] fniephaus commented on #357
Great news!

[2018-06-15 08:39] LukasBudach opened #373 "Travis time-out instead of error message"
TravisCI times out upon not being instructed to load a package which one class of our project depends on, rather than displaying an error or warning before aborting.

this is one time this occured: https://travis-ci.org/hpi-swa-teaching/SWT18-Project-04/jobs/391168677

[2018-06-22 11:07] BjoernDaase opened #375 "SmalltalkCI missing dependencies"
Using an Ubuntu 16.04 64 Bit running smalltalkCI will result in missing dependencies. If you run the follwong piece of code, that should help:

`sudo dpkg --add-architecture i386`
`sudo apt upate`
`sudo apt install libglu1-mesa:i386 libsm6:i386 libc6:i386 libuuid1:i386 libssl1.0.0:i386 -y`

[2018-06-24 15:59] gcotelli opened #376 "Builds failing due to ss3.gemstone.com unavailable"
Today some builds for Pharo 7 started failing because smalltalkCI couldn't be loaded. It fails trying to load STON because the configuration in use points to ss3.gemstone.com that is deprecated. It should point to http://ss3.gemtalksystems.com/ as confirmed by @jgfoster.

This is the failing log:

[code]

[2018-06-24 16:00] gcotelli commented on #376
The full travis log in case is useful
https://travis-ci.org/ba-st/Mole/jobs/396078509

[2018-06-24 16:16] fniephaus commented on #376
This does affect smalltalkCI builds, but it's actually [a STON bug](https://github.com/hpi-swa/smalltalkCI/blob/cb59b92d7c08ee92151884bafb5bdb6ed9efbadd/repository/BaselineOfSmalltalkCI.package/BaselineOfSmalltalkCI.class/instance/baseline..st#L54) which @svenvc needs to fix.

[2018-06-24 17:05] svenvc commented on #376
I don't understand, what do I have to fix ?
AFAIC remember I did not write the BaselineOf

[2018-06-24 17:25] theseion opened #377 "#rangeForPc:contextIsActiveContext: was removed in Squeak 5.2"

[2018-06-24 17:48] fniephaus commented on #376
`ss3.gemstone.com` is referenced multiple times in [`ConfigurationOfSton-SvenVanCaekenberghe.29`](http://smalltalkhub.com/mc/SvenVanCaekenberghe/STON/main/ConfigurationOfSton-SvenVanCaekenberghe.29.mcz). Side comment: I'm still confused by the different STON repositories. Which one is the primary one? SmalltalkHub or GemtalkSystem's SS3? I was hoping it would be the one on Github at some point.

[2018-06-24 17:56] fniephaus commented on #377
Fix is merged, thanks!

[2018-06-24 18:54] #377 closed

[2018-06-25 09:11] svenvc commented on #376
I still don't see the 'bug'.

From ConfigurationOfSton it is clear that ss3.gemstone.com is the primary repository. StHub is a fully synced copy, GitHub is an occasional copy.

That is the current situation. It could change one day, but not now.

[2018-06-25 11:14] jgfoster commented on #376
Sven,

There situation changed some years ago. You should replace references to ss3.gemstone.com with ss3.gemtalksystems.com.

James Foster

[2018-06-25 11:29] fniephaus commented on #376
@svenvc the baseline0*N* methods of `ConfigurationOfSton`, for example, contain references to `ss3.gemstone.com` which should be replaced with `ss3.gemtalksystems.com`.

[2018-06-25 11:34] svenvc commented on #376
Ah OK, will do and let you know.

[2018-07-05 22:08] jecisc opened #379 "Gemstone build failing often on write errors"
I'm not sure this is the right place to report this error but for now, I don't know where else to report it.

I added Gemstone 3.4.1 in the .travis.yml file of one of my project (DuneSt/MaterialColors) and I get a lot of failure with this error:

`FileWriteError: File /Users/travis/smalltalkCI-master/_builds/GsDevKit_home/shared/pharo/gsDevKitTmp.changes write failed`

Example: https://travis-ci.o

[2018-07-06 11:49] jecisc opened #380 "Cannot load Gemstone project due to API limitations"
I tried to enable GemStone in the CI of DuneSt/MaterialDesignLite but the build is failing because of API limitations.

Here is the error:

[code]

Do you have any idea how to bypass this problem?

[2018-07-06 20:29] fniephaus commented on #379
@dalehenrich could you have a look at this and at #380?

[2018-07-11 20:19] mschroederi opened #381 "Segmentation fault during project loading"
Here are the last lines of Travis' log:
[code]

[2018-07-12 07:51] fniephaus commented on #381
Could you provide a link to the corresponding Travis log? Is this reproducible or just a flaky build?

[2018-07-12 08:07] mschroederi commented on #381
Because I restarted the job on Travis I cannot provide a link to the log above, but I found a [job](https://travis-ci.org/hpi-swa-teaching/SWT18-Project-13/jobs/396783693) that wasn't restarted yet but also crashed.
Usually one of 4 jobs crashes no matter what Squeak version or OS, but restarting that one helps getting Travis run through.

[2018-07-12 08:20] fniephaus commented on #381
Ok, so it's flaky. Is coverage testing enabled?

[2018-07-12 08:22] mschroederi commented on #381
Yes, Coveralls is enabled.

[2018-07-12 13:49] fniephaus commented on #381
This appears to be a bug in the vm, I've closed this here and opened a new bug at https://github.com/OpenSmalltalk/opensmalltalk-vm/issues/272.

[2018-07-12 13:49] #381 closed

[2018-07-12 21:42] fniephaus opened #382 "Squeak VM needs to be upgraded"
smalltalkCI still uses a very old VM for Squeak builds which causes problem like #381.

[2018-07-13 08:56] LukasBudach opened #383 "Headless for Linux no set"
As I included a isHeadless check in my postLoad code I noticed, that TravisCI seems to not set the isHeadless property while launching Squeak5.1 on Linux.
On Mac everything works fine in 27 seconds.

[2018-07-18 07:45] peteruhnak commented on #356
It seems that this was a temporary failure on coveralls-side that was eventually resolved.
As far as I can tell this issue is no longer present.

[2018-07-18 07:45] #356 closed

[2018-07-18 09:42] fniephaus commented on #356
@peteruhnak thanks for the update!

[2018-07-22 13:04] svenvc commented on #376
Name: ConfigurationOfSton-SvenVanCaekenberghe.30
Author: SvenVanCaekenberghe
Time: 22 July 2018, 2:54:47.480293 pm
UUID: f9a64bc5-f72d-0d00-849b-a30608524610
Ancestors: ConfigurationOfSton-SvenVanCaekenberghe.29

changed host ss3.gemstone.com to ss3.gemtalksystems.com in all existing baselines

[2018-07-22 15:52] fniephaus commented on #376
Thanks! I'm closing this issue for now...

[2018-07-22 15:52] #376 closed

[2018-07-26 07:16] jbrichau opened #384 "Gemstone builds break when caching enabled (and no caches exist yet)"
Since yesterday, the Gemstone builds for Grease started breaking after I reset the caches. For example: https://travis-ci.org/SeasideSt/Grease/jobs/408165590#L2097 breaks on this line:
https://github.com/hpi-swa/smalltalkCI/blob/5f28f7cfac13ac2465d9718c84726a19d63e4528/gemstone/run.sh#L132

A build without previously cached data did work fine, just 4 days earlier (https://travis-ci.org/SeasideSt/G

[2018-07-26 07:53] fniephaus commented on #384
I would assume that something changed in [GsDevKit_home](https://github.com/GsDevKit/GsDevKit_home)... @dalehenrich?

[2018-07-27 15:54] cdlm commented on #325
shouldn't this issue be closed, since it looks like @gcotelli 's PR was merged ?

[2018-07-27 17:33] dalehenrich commented on #384
GsDevKit_home hasn't changed either ... I'll pass the buck to pharo, since the pharo dir appears to not exist:) ... this _is_ in the _cache structure and IIRC (possible to be wrong since it has been over a year since I've looked at the smalltalkCI stuff) the `_cache/pharo` directory is a *shared* location and perhaps pharo7 has changed something?

The fact that it used to work is suspicious ... @j

[2018-07-27 17:46] dalehenrich commented on #384
@jbrichau, the tode travis job (with no caching) [got past the point where your error occurred](https://travis-ci.org/dalehenrich/tode/jobs/353595027#L1835), so have you tried rerunning the job?

tODE doesn't try to use travis caching (I don't recall whether smalltalkCI uses caching for it's builds), so if there is something funky there, perhaps it is as you suspect a change in the way caching is

[2018-07-27 17:50] dalehenrich commented on #384
Looking at recent runs, it appears that you've gotten past this problem ... I guess the issue should be closed?

[2018-07-27 18:37] jbrichau commented on #384
Hey @dalehenrich,

I de-activated the cache to work around the issue for now, which is why more recent builds have succeeded. The caches should have been only 4 days old, since Travis-CI only caches per branch and this was a new branch.

Something funky must be going on indeed, as the error says the 'directory does not exist' but there is a command creating that directory when preparing the cache.

[2018-07-27 20:14] cdlm opened #386 "No coverage data with Pharo 7"
I recently disabled Pharo 6.1 builds for [Clap](https://github.com/cdlm/clap-st) on Travis, and do not get coverage updates anymore. In fact looking back on the latest builds, we can see that [coveralls only received data for builds x.3, x.4, x.7, and x.8](https://coveralls.io/builds/18160551) which correspond to the 6.1 builds. So it seems that none of my 7.0 builds ever uploaded coverage…

[2018-07-27 20:34] gcotelli commented on #386
For the log it seems no coveralls data is being generated:
[code]
Maybe you changed something in `.smalltalk.ston` and now it's not running the coverage?

[2018-07-27 20:39] gcotelli commented on #386
I've checked some of our builds and we get the same message for Pharo 7 jobs, but works for Pharo 6.1 jobs in the same build. So it looks like some problem in smalltalkCI with Pharo 7.

[2018-07-27 21:55] fniephaus commented on #386
The TestCoverage class was removed in Pharo 7, don't know from the top of my hat if that's why it's not working. Will look into this soon!

[2018-08-02 17:49] dalehenrich opened #387 "Add RowanLoadSpec and friends to SmalltalkCI"
See the [SmalltalkCI for Rowan](https://github.com/dalehenrich/Rowan/projects/5) project board for an overview of the activities and progress. Here are the key points from the [SmalltalkCI card](https://github.com/dalehenrich/Rowan/projects/5#card-11831655) as of time this issue was created:
- [ ] port smalltalkCI to GemStone/S in the absence of [GsDevKit](https://github.com/GsDevKit/GsDevKit)/[GL

[2018-08-02 18:01] fniephaus commented on #387
That's great news! Will have a look tomorrow :)

[2018-08-03 16:40] fniephaus commented on #387
Sorry, haven't had enough time to look at your changes yet. But I do remember what I wanted to change/fix which requires GsDevKit to be changed as well. The #test: API tests and closes the image. I'd like to separate this into two steps. Maybe, we also need something like #test:andSaveOnError: and then by default, "#test: config" calls "#test: config andSaveOnError: false".
I hope I can work somet

[2018-08-03 16:49] dalehenrich commented on #387
That sounds great ... I'll have to refresh my memory in this area as well, to see what GemStone has been doing, since the concept of closing and saving the image is somewhat foreign to GemStone --- a commit is all that is needed to *save image* ... I seem to recall that there was something about quitting the image that was troublesome for GemStone?

Maybe some pointers to the changes that you were

[2018-08-04 14:05] fniephaus commented on #383
https://github.com/hpi-swa/smalltalkCI/commit/144b4b6b0cc8e884837234f49a0d698a7f7f38a8 should fix this issue once merged into `master`. Also, I've pushed [`System-fn.1039`](http://forum.world.st/The-Trunk-System-fn-1039-mcz-td5082542.html) to correctly detect `-nodisplay` in future releases of Squeak.

[2018-08-04 14:40] #383 closed

[2018-08-04 14:44] fniephaus commented on #382
Done: https://github.com/hpi-swa/smalltalkCI/commit/e82bd640b9760ce9f0f94d9d58cf399f1db1f296.

[2018-08-04 14:44] #382 closed

[2018-08-08 13:37] cdlm opened #388 "Travis ulimit problem even with sudo enabled"
See https://github.com/travis-ci/travis-ci/issues/6815

Here's an instance of the VM complaining in one of my builds: https://travis-ci.org/cdlm/clap-st/jobs/413185194#L785

[2018-08-08 13:44] fniephaus commented on #388
[`pthread_setschedparam failed: Operation not permitted`](https://travis-ci.org/cdlm/clap-st/jobs/413185194#L653) suggests that your build did not run on a sudo-enabled container. Could you try again with `sudo: true`?

[2018-08-08 13:54] cdlm commented on #388
Right… I must have force-pushed over previous attempts… just pushed `sudo: true`

[2018-08-08 13:59] fniephaus commented on #388
Interesting..even though [the newer build ran on GCE which is sudo-enabled](https://travis-ci.org/cdlm/clap-st/jobs/413594096#L13), raising rtprio failed. I'll have a look in the next couple of days.

On the other hand, maybe we should hide these instructions in the VM somehow. AFAIK, no one has encountered any weird problems if rtprio is not raised.

[2018-08-08 14:04] cdlm commented on #388
TBH I'm mostly annoyed by the noise in stderr; if there was a way to silence VM diagnostics or to separate them from what the image sends to stdout/err, for instance by setting a different logger, I wouldn't care that much about this…

[2018-08-08 15:03] fniephaus commented on #325
I think you are right :)

[2018-08-08 15:03] #325 closed

[2018-08-08 16:04] fniephaus commented on #388
@cdlm sorry for the issue ping pong, but maybe open another issue for discussing the removal of this note at https://github.com/OpenSmalltalk/opensmalltalk-vm/issues/new?

[2018-08-08 21:03] fniephaus commented on #2
Done: https://github.com/hpi-swa/smalltalkCI/issues/382.

[2018-08-08 21:03] #2 closed

[2018-08-10 05:59] fniephaus commented on #388
Considering the possible problems of incorrectly using threaded VMs (see https://github.com/OpenSmalltalk/opensmalltalk-vm/issues/275#issuecomment-411569935), maybe it would be better to use itimer VMs across all smalltalkCI builds. What do you think, @estebanlm?

[2018-08-10 06:11] estebanlm commented on #388
No, there is a reason why we use the threaded VM instead the iTime. There are several cases, but as example: The iTimer heartbeat will break the usage of SSH2 channels and with that any usage of libgit2 hence Iceberg.
While I would want a solution for the usage of the threaded heartbeat, not using it is not an option for us now (I'd like an idle VM, instead a heartbeat, I think that's the correct

[2018-08-10 06:19] fniephaus commented on #387
GitHub's search revealed these two links for senders of `SmalltalkCI>>#test:*`:

- https://github.com/GsDevKit/GsDevKit_home/blob/32da47eda74c5d4fa154bb95c193d998a6258ce9/bin/smalltalkCI#L187
- https://github.com/GsDevKit/GsDevKit_home/blob/32da47eda74c5d4fa154bb95c193d998a6258ce9/bin/createStone#L304

I think instead of saving the image, smalltalkCI does a commit in GemStone. So in theory, it sho

[2018-08-10 06:25] fniephaus commented on #388
@estebanlm thanks! That's good to know.
Does Iceberg work correctly when running on a threaded VM without rtprio being raised?
And what would you do about the rtprio warning OSVMs print all the time on Travis and such?

[2018-08-10 06:36] #388 closed

[2018-08-10 06:36] fniephaus commented on #388
@cdlm please restart your sudo-enabled builds, should work now :)

[2018-08-11 00:34] dalehenrich commented on #387
I took a quick look at the #test: method in **SmalltalkCI** and I didn't see anything related to #saveImage: ... is this something that you are planning to add or should I be seeing #saveImage:?

[2018-08-13 14:39] fniephaus commented on #387
@dalehenrich I think it's not so much GemStone, but the Pharo clients that need to be adjusted. I'll try to refactor smalltalkCI this week and then we can see where things break on your side and fix them. Obviously, I won't do any of this on `master` branches ;)

[2018-08-25 02:41] JurajKubelka opened #390 "Coverage fails on Tonel format if a Trait is present"
The reason is that a `*.class.st` file is expected instead of `*.trait.st` file. Here is a proposed change:

[code]

I am not sure if it should be `class theNonMetaClass isTrait`.

[2018-08-25 02:43] JurajKubelka commented on #390
A failing example is here: https://travis-ci.org/pharo-graphics/Bloc/jobs/420368576#L1897

[2018-08-25 12:41] gcotelli commented on #390
As far as I remember the code coverage reporter is not prepared to work
with traits, so even if the file name don't fail I think the coverage
reported wouldn't be correct. Because the trait methods are never executed
in the context of the trait but in the class using the trait, so you need
to implement this detection.

I think it's better to ignore the traits by now ( so it never reaches the
probl

[2018-08-25 13:10] fniephaus commented on #390
Thanks for opening this issue, @JurajKubelka, and @gcotelli for looking into this. I've added both of you as collaborators of smalltalkCI. :)
Coverage testing is quite hard, especially in such a dynamic system. Happy to review and merge a PR with support for traits.

[2018-08-25 13:43] gcotelli commented on #390
@JurajKubelka can you try including
[code]
in your travis config?

If the build passes I will propose a proper PR, and open a new issue to consider the coverage support for traits. But at least you can have your build working again.

[2018-08-25 14:48] gcotelli commented on #390
PR is on the way. I've forked the problematic project and changed it to use my branch for testing. See https://travis-ci.org/gcotelli/Bloc/jobs/420503067.

[2018-08-25 15:59] gcotelli commented on #390
@fniephaus I think the PR is ready to be reviewed and merged.

[2018-08-25 18:44] #390 closed

[2018-08-25 18:47] fniephaus commented on #390
As mentioned by @gcotelli, please open a new issue for adding code coverage support for traits. Until then, traits are excluded from coverage testing (see #391).

[2018-08-25 23:35] JurajKubelka commented on #390
Thank you! I was not available today.

[2018-08-27 19:08] fniephaus commented on #387
Hi @dalehenrich, sorry for the delay. Please have a look at the [`non-closing-test` branch](https://github.com/hpi-swa/smalltalkCI/tree/non-closing-test) and [compare it to `master`](https://github.com/hpi-swa/smalltalkCI/compare/non-closing-test?expand=1) to get an idea what I want to do. If you could make sure that branch works fine with GsDevKit, that'd be great!

Also, I found our previous con

[2018-08-27 19:41] dalehenrich commented on #387
@fniephaus ... I'm also on somewhat of a tight leash as now I've got my ESUG presentation to write and will be gone with ESUG for two weeks in September ... I have a Rowan issue that I need to make progress on (only one at the moment:), but I will try to squeeze in some SmalltalkCI work this week ...

[2018-08-31 17:18] dalehenrich commented on #387
... okay .. I've gotten around to testing the `non-closing-test` and I do hit errors (that I can and will fix) when I try to build gsdevkit clients when using this branch...

I think I want to separate the work for the `non-closing-test` branch from the Rowan port. That way I can push out GsDevKit_home support for the new SmalltalkCI version without having to synchronize with the Rowan support ...

[2018-08-31 23:55] dalehenrich opened #392 "Issues using `non-closing-test` branch with GsDevKit_home"
Currently in GsDevKit_home, I have written code that looks like the following:
[code]
Where I'm expecting an instance of SmalltalkCI to be returned (the current behavior on the `master` branch), however with the code on the `non-closing-test` branch, I get back a **Boolean** and I am curious if that is intentional or not.

I've tracked the change in behavior of the 'master' branch versus the  `non

[2018-08-31 23:58] dalehenrich commented on #387
I've opened Issue #392 to track issues I run into using the `non-closing-test` branch, so that this issue can stay focused on adding Rowan support to SmalltalkCI

[2018-09-04 12:13] fniephaus commented on #392
Hi Dale,
I changed the return value on purpose and was hoping nobody replies on it, but I do understand why you need. Let's put this on hold until the beginning of next month, hope you don't mind.

[2018-09-04 12:13] fniephaus commented on #387
Thanks, that makes sense :)

[2018-09-04 14:50] dalehenrich commented on #392
Sounds like a plan ... I’ll be at ESUG for the next 2 weeks, so this works well for me

[2018-09-05 14:17] fniephaus commented on #392
Perfect and enjoy ESUG! :)

[2018-09-14 08:59] bergel opened #394 "Weird issue when running a build"
I have the following error:

<img width="899" alt="screenshot 2018-09-14 10 57 41" src="https://user-images.githubusercontent.com/393742/45540626-32baf900-b80d-11e8-817c-179bb9d637b2.png">
Any idea what's going on?

My `.travis.yml` is
[code]

[2018-09-14 11:36] fniephaus commented on #394
Oh, the image identifiers should not contain round brackets. They are meant to be interpreted as some sort of regex, so "Pharo(64)-..." stands for "Pharo-..." *or* "Pharo64-...". Maybe it's better to list all possible identifiers explicitly in the README.md. Feel free to open a PR for that.

[2018-09-14 11:36] #394 closed

[2018-09-17 14:35] pavel-krivanek opened #395 "Release test testAllClassInstanceVariablesStartLowercase fails because of SmalltalkCI"
The release test ProperlyImplementedClassesTest>>#testAllClassInstanceVariablesStartLowercase on Pharo that checks that class instance variable names must start with a lowercase letter fails because of the SmalltalkCI. It is because of these variables:

SmalltalkCI class->#PlatformClass
SmalltalkCI class->#TravisID
SmalltalkCI class->#DeprecationWarnings
SCIGemStoneServerConfigSpec class->#Default

[2018-09-18 00:33] fniephaus commented on #395
Thanks for raising this issue, @pavel-krivanek. What is this test case for and when is it usually being run? Feel free to provide a PR, the fix should be relatively straightforward.

[2018-09-18 07:33] pavel-krivanek commented on #395
Hi, for the Moose, I'm trying to run all tests in the image.

[2018-09-18 07:45] fniephaus commented on #395
Ok, I can't work on this at the moment. Probably best to just exclude the corresponding TestCase in your .smalltalk.ston until this has been resolved.

[2018-09-20 22:49] dalehenrich opened #396 "Need better way to set `GEM_TEMPOBJ_CACHE_SIZE` for GemStone/S"
Right now the run.sh for GemStone uses the `-T 100000` option when starting topaz but occasionally [a user needs a larger TOC](http://forum.world.st/TravisCI-build-run-out-of-memory-td5084889.html) ....

A couple of options here:
1. topaz is started twice during the run. The first time the SmalltalkCI and the project are loaded ... the second time, the tests are run ... if we arrange to recognize

[2018-09-21 06:01] fniephaus commented on #396
+1 for option 2 :)

[2018-09-26 13:45] estebanlm commented on #326
by the way, at the moment I didn't have the time (when @dalehenrich commented) but now support for tonel is integrated into metacello and using  filetree, github, etc. will work regardless the format of the repository.

[2018-09-28 14:18] estebanlm commented on #333
better later than never.
there is a fix in the pipeline :)

[2018-10-02 06:27] fniephaus commented on #396
Reopening this (see #397).

[2018-10-02 09:14] #395 closed

[2018-10-02 09:20] fniephaus commented on #395
@pavel-krivanek could you please try again and let me know if `testAllClassInstanceVariablesStartLowercase ` now passes for you? Thanks!

[2018-10-02 11:13] pavel-krivanek commented on #395
It seems to be fixed now. Thank you very much!

[2018-10-02 11:13] fniephaus commented on #395
Perfect, thanks for checking!

[2018-10-02 16:45] estebanlm commented on #333
in fact, I will need to send a new PR.
While this changes are ok, I need to also expose `ignoreImage` api and make it match also with `MetacelloIgnorePackageLoaded`.
Otherwise, packages coming from cypress or tonel will not be loaded anyway (since they will be already found in image).

[2018-10-02 17:14] dalehenrich commented on #333
For metadataless filetree/cypress/tonel packages, I thought that if the **MetacelloCypressBaselineProject** class is used as the `projectClass` for a baseline that Metacello would unconditionally load the packages ... at least this is the preferred solution for the metadataless projects ... with that said, I think that #ignoreImage would work as well -- setting `projectClass` is not that well-know

[2018-10-02 19:39] fniephaus commented on #333
Fixes with #399.

[2018-10-02 19:39] #333 closed

[2018-10-03 12:30] fniephaus commented on #326
Does that mean #363 can be reverted or what needs to be done?

[2018-10-04 07:14] estebanlm commented on #326
I guess so, yes.
What does @gcotelli thinks?

[2018-10-04 12:18] gcotelli commented on #326
If the new metacello version can figure out the project type parsing the properties file and can load tonel code using filetree:// in that case, I think we can revert the changes in #363.
As far as I understand this is what the new metacello is supposed to do, so go for reverting #363 changes.

[2018-10-04 12:58] peteruhnak commented on #326
Isn't this only for newer Metacello that is _not_ in P6.1?

On Thu, Oct 4, 2018 at 2:18 PM Gabriel Omar Cotelli <
notifications@github.com> wrote:

[2018-10-05 12:05] estebanlm commented on #326
in P6.1+ you are ok I think (I do not remember)
otherwise, `useLatestMetacello` should made the trick.

[2018-10-05 12:57] estebanlm commented on #326
in fact no.
I just realised Tonel version of P6.1 is old and I will need to backport latest :/
Otherwise you need to first update P6.1

[2018-10-05 13:07] fniephaus commented on #326
Ok, let's keep the workaround for the time being. Please update this issue when the backport has happened.

[2018-10-05 14:13] estebanlm commented on #326
I just back ported Tonel 1.0.9 to Pharo 6.1 so everything should be ok.
Version previous to 6.1 needs to update Tonel by themselves (in a preLoad)

[2018-10-21 09:44] theseion opened #400 "Add Squeak-5.2"

[2018-10-23 07:49] fniephaus commented on #400
SmalltalkCI supports `Squeak-5.2` as of [v2.8.3](https://github.com/hpi-swa/smalltalkCI/releases/tag/v2.8.3) which is now live.

[2018-10-23 07:49] #400 closed

[2018-10-26 08:29] syrel opened #402 "The method ClassDescription>>#theMetaClass was deprecated"
Hi

Looks like the following methods are deprecated in Pharo 7. What could be the solution?

Thanks

[2018-10-26 08:34] fniephaus commented on #402
Hi @syrel,
Looks like we need to override these methods in [`SCIPharoCodeCoverage`](https://github.com/hpi-swa/smalltalkCI/tree/master/repository/SmalltalkCI-Pharo-Core.package/SCIPharoCodeCoverage.class), probably using `respondsTo:` to provide compatibility.
Would you be able to work on this?

[2018-10-26 11:16] fniephaus commented on #402
Thanks!

[2018-11-28 16:32] codeZeilen opened #403 "64bit support for Squeak"
With the new Squeak images being 64bit by default, 64bit builds become more and more important.

[2018-12-04 13:49] pavel-krivanek opened #404 "Pharo 7 downloads are not working"
Pharo 7 changed the image name schema. Now it is like `Pharo7.0-SNAPSHOT-64bit-12a3a9f.image`.

[2018-12-04 14:02] pavel-krivanek commented on #404
The issue is directly in zeroconf

[2018-12-04 14:23] fniephaus commented on #404
Could you please provide some links to failing builds on TravisCI, etc?

[2018-12-04 14:24] fniephaus commented on #404
@estebanlm could you please comment on this?

[2018-12-04 14:29] pavel-krivanek commented on #404
It is fixed. Esteban reverted his changes in the build process for now. Sorry for the noise. From the perspective of the SmalltalkCI, nothing should change as soon as it will be properly merged again because SmalltalkCI uses the ZeroConf that should hide such changes.

[2018-12-04 14:29] #404 closed

[2018-12-04 14:31] fniephaus commented on #404
Ok, great. Thanks for the update!

[2018-12-06 16:39] #403 closed

[2018-12-10 09:37] fniephaus opened #405 "Windows Support on TravisCI"
Windows builds are currently not supported on TravisCI. For this, `smalltalk` needs to be whitelisted for Windows in [this list](https://github.com/travis-ci/travis-build/blob/05ef63ef846b1dcf82e3eef77394e55db37e8ac6/lib/travis/build/config.rb#L119).

[2018-12-21 14:45] juliendelplanque opened #406 "Newest change on environment variable accessing under Pharo break Smalltalk CI."
On Pharo 7.0

See this build: https://travis-ci.org/moosetechnology/PetitParser/jobs/471005156

Because of this PR: https://github.com/pharo-project/pharo/pull/1980

[2018-12-23 13:47] #406 closed

[2018-12-23 15:49] jecisc commented on #406
Thank you @fniephaus !

[2018-12-23 15:49] juliendelplanque commented on #406
Thank you a lot!

[2018-12-30 23:43] bencoman opened #407 "clarify supported versions in README"
On Mon, 31 Dec 2018 at 07:20, Fabio Niephaus <lists@fniephaus.com> wrote:

I believe it would be better to be explicit and have only Squeak64-X.Y and Squeak32-X.Y
rather than an implicit Squeak-X.Y which may change at some point.
In the transition to default 64 bit, dropping Squeak-X.Y would give users an explicit build error to handle to consciously confirm they want 64 bit over 32 bit, rather th

[2019-01-01 12:32] #407 closed

[2019-01-01 16:30] fniephaus commented on #386
Fixed via https://github.com/hpi-swa/smalltalkCI/commit/61e2f3c00314c68757f93673373bb814b8a5f5de.

[2019-01-01 16:30] #386 closed

[2019-01-22 14:27] gcotelli opened #409 "Add support for Pharo 8"
The zero conf infrastructure is already in place.

[2019-01-22 22:17] #409 closed

[2019-02-06 10:50] jbrichau opened #412 "Using the cache with Pharo64-7.0 builds crashes the build"
See https://travis-ci.org/SeasideSt/Grease/jobs/489242759
The build for Pharo64-7.0 crashes when there is already a cached download present.
So, when using this in your config:

[code]

It crashes as follows:

[code]

[2019-02-06 11:01] fniephaus commented on #384
Thanks for the update!

[2019-02-09 22:02] badetitou opened #413 "Exclude one test"
I did not find in the documentation if it's possible to exclude only one specific test ?

[2019-02-12 16:20] fniephaus commented on #413
Hi @badetitou,
You can only exclude entire classes in the smalltalkCI config, but you can mark tests as excludedFailures ([example](https://github.com/hpi-swa/smalltalkCI/blob/master/repository/SmalltalkCI-Excluded-Tests.package/SCIExcludedTests.class/instance/expectedFailures.st)) in the same way you would mark them in your image. Does this solve your problem?

[2019-02-13 09:01] badetitou commented on #413
Hi @fniephaus,

Thanks for the answer.
It does not solve my problem because I do not want to modify my image and want to only exclude two tests.
If it's not possible, I will find another way...

Thanks !

[2019-02-20 20:37] gcotelli commented on #402
I've just got bitten by that. One of my jobs (https://api.travis-ci.org/v3/job/496164772/log.txt) is failing because this deprecation warnings are making the log file to exceed the maximum supported length.
`
The job exceeded the maximum log length, and has been terminated.`

[2019-02-21 10:48] #402 closed

[2019-02-21 14:51] gcotelli opened #415 "Coveralls upload timeout if the file it's too big"
I'm having problems with the coverage reporting in some projects. Checkout for example https://api.travis-ci.org/v3/job/496164773/log.txt .

This project has a huge number of classes and tests and the coveralls results file end up being 6 MB of JSON. So while smalltalkCI is uploading it to the coveralls API I'm suspecting it is not doing any output to travis, and it thinks it's dead and kill it by

[2019-02-21 15:33] fniephaus commented on #415
Interesting, how long does it take to upload the JSON to coveralls manually (as in doing [this](https://github.com/hpi-swa/smalltalkCI/blob/ab4ff34b34bf91e7f73c876ab8b616c7030c5f3b/helpers.sh#L393))?

[2019-02-21 18:39] gcotelli commented on #415
I have to hand edit the file to include the right travis-CI info, because in the local run it is not generated.
After that I was able to run the proposed command and it took aprox. a minute to complete. And I got the following response `{"message":"Job #109.2","url":"https://coveralls.io/jobs/45426843"}`. Checking this URL seems to be the data I sent. But I don't know how much it will take in trav

[2019-02-21 20:21] fniephaus commented on #415
I was hoping you'd be able to upload the file you attached to the issue. Anyway, do your Travis builds reliably fail or do they fail only sometimes? I'm wondering whether this is a problem on Coveralls side. Nonetheless, smalltalkCI builds shouldn't fail because of this.

[2019-02-21 21:02] gcotelli commented on #415
The second attachment (in the previous comment) is the file I uploaded manually. The travis builds in fact not fail, the status is "passed", but digging in the logs the upload fails reliable, so the coverage information is not available in coveralls. At least I tried restarting it several times with the same result.

Take a look at https://travis-ci.org/ba-st/HighchartsSt/builds/496551124 , you wi

[2019-02-21 21:23] fniephaus commented on #415
It looks like Coveralls had some issues two days ago (see http://status.coveralls.io/). Your build, however, ran 6 hours ago. Maybe we shouldn't silence curl during the upload process. I'll have a look in the next few days and let me know if you find something interesting.

[2019-02-21 21:28] fniephaus commented on #415
Maybe we should upload a gzipped file: https://docs.coveralls.io/api-introduction

[2019-02-24 16:44] j4yk opened #416 "Squeak Trunk builds stalling because URI class is deprecated"
All Squeak trunk builds seem to hang at the image preparation phase.
I did a local smalltalkCI run on WSL and see a warning window that URI is deprecated.

[code]

[2019-02-25 00:12] fniephaus commented on #416
This is the change (+discussion) that "broke" `ProjectLauncher`: http://forum.world.st/The-Trunk-60Deprecated-tpr-32-mcz-td5095666.html

[2019-02-26 00:12] fniephaus commented on #416
The change has been rolled back, so Squeak trunk builds should work again.

[2019-02-26 00:12] #416 closed

[2019-02-26 16:57] macta opened #417 "CI support for Pharo 6/7 is broken with the overlap of include, exclude directives due to Tag names"
I am seeing strange results when trying to run a subset of my tests - I have 3 packages with sub tags
Exercism, ExercismDev, ExercismTools

ExercismDev has a composite TestCase called AllExercismTests, and it seems to be run even though its in the exclude list - making me wonder what the overlap of include / exclude is. Also - do I have to explicity set #allTestCases to false (it doesn't default t

[2019-02-26 17:04] macta commented on #417
It also seems to run all my tests twice - is this a consequence of not setting #allTestCases?

[2019-02-26 17:26] macta commented on #417
Testing with #allTestCases : false makes no difference (so that works like I expect).

Is it possible that having packages with sub-tags causes an issue? In Pharo , I have exercises tagged underneath Exercism (e.g. Exercism-HelloWorld) and these are all running 2x as well.

Exclude by class doesn't seem to do anything - so maybe its broken?

[2019-02-26 17:27] macta commented on #417
You can view my results here (if it helps) : https://github.com/exercism/pharo-smalltalk/pull/155

[2019-03-07 18:25] macta commented on #417
Is it possible that #include('Exercism') also matches 'ExercismWIP' and 'ExercismTools'? It appears this way as I've added a new test to ExercismTools that is environmental specific and for now is not supposed to run on my CI, and it has started to run on Travis?

I think this might be a bug?

[2019-03-08 03:17] fniephaus commented on #417
Hi @macta,
Sorry for the slow response. I'm not too familiar with Pharo packages, but in Squeak, `Exercism` would be the parent category including `ExercismWIP` and `ExercismTools` because it's a prefix. What happens when you save the `Exercism` package, does it include the two sub packages as well or are they separate? If the latter is true, this might be a bug in smalltalkCI.

[2019-03-08 07:00] macta commented on #417
These are separate packages. My Exercism package does have different sub-packages (called tags) and they appear as Exercism-Acronym, Exercism-Anagram etc. Equally ExercismWIP has tags like ExercismWIP-Triangle, ExercismWIP-Words.

So yes, I think it’s a bug. The top level package does answers all the classes in itself and sub tags, so possibly it’s just a name March thing.

[2019-03-08 08:29] macta commented on #417
Thinking a bit more - apart from this mismatching - the fact that I got duplicate runs of the same class would indicate you dont use a Set to avoid duplicates?

[2019-03-08 12:41] fniephaus commented on #417
[`SmalltalkCI class>>classesWithPackageNames:`](https://github.com/hpi-swa/smalltalkCI/blob/5f28f7cfac13ac2465d9718c84726a19d63e4528/repository/SmalltalkCI-Core.package/SmalltalkCI.class/class/classesWithPackageNames..st) is using a set, but maybe at a later stage, smalltalkCI might be using something else. Some of the logic is Pharo-specific, see [`SmalltalkCIPharo class>>classesInPackage:`](http

[2019-03-12 16:54] macta commented on #417
I'm in the thick of something else now - but will have to come back to this and see if I can propose a fix. Your hint should get me started. thanks.

[2019-04-11 19:05] fortizpenaloza opened #418 "Do not load STON dependency in Pharo 6.0 and later"
Hi, my build is failing due to a timeout while trying to load SmalltalkCI's dependency on STON

[code]

See https://travis-ci.com/ba-st/Superluminal/jobs/192275250

[2019-04-11 19:13] fortizpenaloza commented on #418
I will be happy to collaborate via a PR but I've a few questions.

- Do the `BaselineOf` needs to declare a dependency on STON for #pharo? Can I define that dependency just for older pharo versions?
- Should I use `master` of https://github.com/svenvc/ston?

[2019-04-14 11:53] fniephaus commented on #418
I hope this was just a temporary problem. SmalltalkHub seem to be up and running again.

RE your questions:
Yes, I think it should be possible to depend on external STON only in older Pharo images. For that, we probably need to adjust [BaselineOfSmalltalkCI](https://github.com/hpi-swa/smalltalkCI/blob/ab4ff34b34bf91e7f73c876ab8b616c7030c5f3b/repository/BaselineOfSmalltalkCI.package/BaselineOfSmall

[2019-04-18 14:13] jecisc opened #420 "Pharo 8 build does not show test results"
When I have builds on Pharo 8, the Travis view seems to bug and do not display anything after the "Loading" phase. If I want to see the test results, I need to check the raw logs.

It seems to happen only on Pharo 8 builds.

[2019-04-18 15:40] fniephaus commented on #420
Oh, I'm guessing that there's yet another encoding issue... could you please provide a link to one of your Pharo 8 builds?

[2019-04-18 15:50] jecisc commented on #420
I have this one for example: https://travis-ci.org/pharo-spec/Spec/jobs/521764506

[2019-04-18 15:56] fniephaus commented on #420
According to the [raw log file](https://api.travis-ci.org/v3/job/521764506/log.txt), there are lots of deprecation warnings and they are being highlighted as well (`[0m[0m` and `[31m[33m`). Is this new behavior introduced in Pharo 8? I'm guessing your problems goes away as soon as you fix all Pharo 8 deprecating warnings. Nonetheless, we need to find a fix for this for smalltalkCI. Is there any

[2019-04-18 16:00] jecisc commented on #420
I thought it was not the problem because I have also deprecation warning on Pharo 7, but maybe I have more in Pharo 8. I'll need to check.

I don't know for the color output.

[2019-04-18 16:02] fniephaus commented on #420
Maybe Pharo 7 does not support colorful stdout and that's why everything works fine? smalltalkCI also adds ASCII commands for TravisCI log folds, colors, etc...

[2019-04-19 15:25] jecisc commented on #420
If color is managed via `[0m�[0m` and `[31m�[33m` , it seems it also happen on Pharo 7:

https://api.travis-ci.org/v3/job/522179969/log.txt

[2019-04-24 20:12] fniephaus commented on #420
I noticed that there are some deprecation warnings in the Pharo 8 logs (see below). I fixed this with https://github.com/hpi-swa/smalltalkCI/commit/757e7d1cec488e14285f2838cb899c79ec5eab89. Could you please restart one of your Pharo 8 builds and check whether this has also fixed your issue?

### Pharo 8
[code]

### Pharo 7
[code]

[2019-04-24 20:18] jecisc commented on #420
It works. Thank you very much! :)

[2019-04-24 20:18] #420 closed

[2019-04-24 20:21] fniephaus commented on #420
Great, thanks for confirming!

[2019-04-30 15:31] fortizpenaloza commented on #418
Hi @fniephaus ,

It was a temporary problem, thanks!

STON-Core and STON-Tests are part of the image since Pharo 6.0 (#60508). This version is the older available from get.pharo.org so I can provide information for older versions.

[2019-04-30 15:34] fniephaus commented on #418
Good to know, let's keep this open as a reminder to not load STON in Pharo 6.0 and later.

[2019-05-02 20:55] hemalvarambhia opened #421 "smalltalkCI Breaks on Windows For Pharo6.1 on AppVeyor"
As you are aware we use smalltalkCI for continuous integration for the PolyMath project. Currently I am working on an [issue](https://github.com/PolyMathOrg/PolyMath/issues/100) where on AppVeyor the Pharo6.1 Windows build is failing:  https://ci.appveyor.com/project/SergeStinckwich/polymath-88bea/builds/24063518

The [config](https://github.com/PolyMathOrg/DataFrame/blob/master/appveyor.yml) we a

[2019-05-02 21:08] fniephaus commented on #421
That's an odd issue, thanks for filing. We need to debug this locally, but I don't have access to a Windows machine at the moment. I might have some time to have a look at this tomorrow, will keep you posted.

[2019-05-02 21:41] fniephaus commented on #421
![image](https://user-images.githubusercontent.com/2368856/57108659-bc372100-6d33-11e9-9dc6-ab83bcfa538f.png)

@estebanlm the VM for Pharo 6.1 has problems to print to `stderr` (`PharoConsole.exe`).

[2019-05-02 21:51] fniephaus commented on #421
`Pharo64-8.0` seems to work fine, `Pharo64-6.0` has the same problem.

`Pharo32-6.0` throws a different error:
![image](https://user-images.githubusercontent.com/2368856/57109236-33b98000-6d35-11e9-89c7-008850a3309e.png)

[2019-05-02 21:52] fniephaus commented on #421
This is something smalltalkCI cannot fix. Assigning the issue to @estebanlm.

[2019-05-03 07:03] SergeStinckwich commented on #421
Thank you Fabio for your investigation ! What is strange for me is that the build works for project like DataFrame: https://ci.appveyor.com/project/olekscode/dataframe/build/job/uvuxv98exk485oah not for PolyMath ...

[2019-05-03 07:05] SergeStinckwich commented on #421
What is written on stdout ?

[2019-05-03 07:10] fniephaus commented on #421
I'll have another look. smalltalkCI outputs all build log info through stdout. So without that, we wouldn't see anything.

[2019-05-03 07:11] SergeStinckwich commented on #421
This is not related to the fact that some tests print things on Transcript ?

[2019-05-03 08:09] SergeStinckwich commented on #421
Ok I remove all Transcript show in tests, and still the same error.

[2019-05-03 09:45] fniephaus commented on #421
Interesting observation...is there any way PolyMath interacts with FileStream and invalidates stdio file handles for some reason?

[2019-05-03 09:46] fniephaus commented on #421
also, [this](https://ci.appveyor.com/project/olekscode/dataframe/build/job/uvuxv98exk485oah) ran 21 days ago. Maybe @estebanlm updated the Windows VMs in the meantime?

[2019-05-03 11:02] SergeStinckwich commented on #421
Yes might be the problem.

[2019-05-03 11:35] fniephaus commented on #421
@SergeStinckwich what might be the problem? That the VM has changed or that PolyMath is closing `stdout`?

[2019-05-05 11:48] SergeStinckwich commented on #421
the VM changed.

[2019-05-09 15:36] fjluquel opened #422 "Coveralls results are not uploaded for Pharo64-7.0 and Pharo64-8.0"
Using Pharo64-7.0 or Pharo64-8.0 with Travis CI results in the following error message:

"Coveralls data is not available. Skipping coverage testing..."

The coverage data is not uploaded to Coveralls.io.

[2019-05-10 09:04] #422 closed

[2019-05-27 23:05] jecisc opened #424 "Coverall does not take into account extension methods"
I have a project with many extensions methods but the coverage seems wrong because I have the impression they are not taken into account.

It would be nice to cover them.

[2019-05-27 23:07] jecisc commented on #418
IIRC STON was introduced in Pharo 5 and not 6 ;)

[2019-05-27 23:08] jecisc commented on #418
I just checked and I confirm.

[2019-05-28 22:46] jecisc opened #426 "Coveralls does not take Traits into account"
I have a project with a lot of Traits and I tried to enable coveralls on it.

The result does not seem really relevant because I have the impression Traits are not counted on the coverage.

IMO Traits should be counted in the LOC to cover and a method should be considered cover if a user of the Trait has the method covered.

[2019-05-29 14:07] fniephaus commented on #424
Yes, you're right. [`SCICodeCoverage`](https://github.com/hpi-swa/smalltalkCI/tree/master/repository/SmalltalkCI-Coverage-Core.package/SCICodeCoverage.class) needs to be extended accordingly, contributions are welcome! :)

[2019-05-29 14:09] fniephaus commented on #426
This is similar to #424. Does Pharo's coverage tool support traits? If yes, how does it support them?
[`SCICodeCoverage`](https://github.com/hpi-swa/smalltalkCI/tree/master/repository/SmalltalkCI-Coverage-Core.package/SCICodeCoverage.class) needs to be extended accordingly, contributions are welcome! :)

[2019-06-03 09:13] #418 closed

[2019-06-14 11:45] fniephaus commented on #421
Has this been fixed in the meantime?

[2019-06-14 13:36] gcotelli opened #427 "Out of memory errors if coverage is enabled on packages containing traits"
Take a look for example at: https://travis-ci.com/Mercap/JRPC/builds/115582560

If a package containing a trait is included in the list of packages considered for coverage an infinite recursion is generated:
[code]
and the image ends up crashing or reporting Out of memory errors.

Seems to happen with Pharo 6.1 , 7 & 8 , 32 & 64 bits , and at least on Linux and Mac

[2019-06-14 13:39] gcotelli commented on #427
Running the coverage using the Test Runner option seems to work (the reported % doesn't seem correct), but the image is not crashing. I've tried to debug the smalltalkCI run, but the image become unresponsive and ends ups crashing or with a non recoverable out of memory error. :cry:

[2019-06-16 01:23] dalehenrich opened #428 "GemStone 3.5.0 released ..."
add GemStone 3.5.0 to travis lineup and update README

[2019-06-16 08:12] #428 closed

[2019-06-17 17:43] fniephaus commented on #427
How does coverage testing work in Pharo's test runner with regard to traits? Are they excluded or handled specially?

[2019-06-18 14:59] gcotelli commented on #427
I've researched a little and seems to be no special handling. However the coverage is calculated using a `Metalink` (at least on P7, take a look at `#collectCoverageFor:`) and in SmalltalkCI is calculated by replacing the method with an instance of `SCICoverageWrapper`. Maybe the technique used here don't work with traits?

[2019-06-20 08:26] hemalvarambhia commented on #421
We haven't tested yet. I will try it tonight and report back, @fniephaus.

[2019-06-20 16:30] fniephaus commented on #427
I haven't heard of `Metalink`s and I'm afraid I don't have any free cycles to work on this. It sounds like we need special subclasses for coverage testing in Pharo. As always, I'm happy to review and merge any contributions :)

[2019-06-21 16:46] gcotelli commented on #427
I've raised pharo-project/pharo#3568 to see if we can improve the situation in Pharo first, and use that directly here

[2019-06-25 10:23] hemalvarambhia commented on #421
Just to report back, @fniephaus, we're noticing on the PolyMath project that smalltalkCI is [failing](https://travis-ci.org/PolyMathOrg/PolyMath/jobs/550208680)

I ran my tests locally and they're still green.

[2019-07-04 14:52] gcotelli opened #430 "Builds failing for Pharo 32 bits due to dependency installation failures"
Some of our builds are suddenly failing (eg https://travis-ci.org/ba-st/Buoy/jobs/554279831 ).
The build for Pharo 7 (32 & 64 bits) was Ok.

Here's an extract of the build log:
[code]

This ends up with:
[code]

[2019-07-04 15:03] gcotelli commented on #430
Seems to be semi random. For another job worked for Pharo 6.1 32 bits and failed for Pharo 7 3 bits. https://travis-ci.org/ba-st/Buoy/jobs/554279831

Maybe travis is doing some random testing? I don't know if we have control over the installed dependencies.

[2019-07-04 15:04] gcotelli commented on #430
I will try restarting this specific jobs.

[2019-07-04 17:47] fniephaus commented on #430
Maybe this was caused by some incident, e.g. https://www.traviscistatus.com/incidents/g9xm3l02dknv?

[2019-07-04 19:33] gcotelli commented on #430
I've sent a mail to it's support because I've retried the builds and they keep failing in the same jobs.
The strange thing is that for the same build other 32 bits installations works and the code installing the dependencies it's the same :man_shrugging: .
I've traced the log, up to the failure point, and everything seems to be identical. I will wait for a response, but probably is not a smalltalk

[2019-07-04 21:43] fniephaus commented on #430
Thanks for the update and for taking care of this! :)

[2019-07-10 12:16] gcotelli commented on #430
The problem seems to be fixed now. I didn't received a confirmation from the travis team but the builds are working again!

[2019-07-10 12:16] #430 closed

[2019-07-10 12:25] fniephaus commented on #430
Great, thanks for the update!

[2019-07-23 19:13] LinqLover opened #431 "[Feature Request] Staging"
Hello,

are there currently any plans to support [Staging on TravisCI](https://docs.travis-ci.com/user/build-stages/)? Or is this already possible?

I would highly welcome this feature for Smalltalk!

[2019-07-23 19:31] fniephaus commented on #431
What do you mean by "support staging"? You can use stages and to use smalltalkCI, you'd need to manually call it via `script: smalltalkci`. Example:

[code]

Or are you looking for ways to deploy an image after it has passes the tests?

[2019-07-24 08:05] LinqLover commented on #431
Hi, sorry for the imprecise description. I was looking for an option to run tests dependent from the current stage. I want to test Smalltalk code and not to write any scripts.

In our project, we have implemented a #longStage pragma which we currently use to defer tests which only shall be executed on Travis CI. Is there a feature to find out the current test stage in smalltalkCI? Ideally, I would

[2019-07-24 08:33] fniephaus commented on #431
Ah, I understand. I like the idea, but right know I'd consider this a very customized setup. At the moment, I'd suggest you split your tests into different packages and use multiple configuration files.
Something like this should work:

[code]

[Metacello](https://github.com/Metacello/metacello/blob/master/.travis.yml) is doing something similar.

[2019-07-24 09:02] LinqLover commented on #431
Thank you for the tip! (Unfortunately, this is quite incompatible with our current testing architecture, where we run the same tests in both stages, but consider only 10% of our fixtures in the short stage.)

[2019-07-24 10:00] fniephaus commented on #431
Additionally, you could use [environment variables](https://docs.travis-ci.com/user/environment-variables/) to encode the stage. Then, you can read env vars using `SmalltalkCI getEnv: 'NAME'`. However, this means your code has knowledge about smalltalkCI.

For compatibility, you might want to use something like this:
[code]

If you prefer a clean dependency, I'd suggest to use [`OSProcess`](http:/

[2019-07-24 17:51] LinqLover commented on #431
Thanks for the tip again. I wrote the following .travis.yml:

[code]

Unfortunately, Travis runs all four combinations of OS's and Smalltalk versions under the stage "test" and the each only one configuration for the stages "shortstage" and "longstage". How can I tell it to run all configurations in each stage?

[2019-07-24 19:01] fniephaus commented on #431
First, you don't need to set `smalltalk_config: .smalltalk.ston` because this is a default. Apart from that, I don't quite understand what combination you are looking for. But I think this could be what you want:

[code]

You might be able to reduce the redundancy using an alias:

[code]

I haven't tested any of this and it's possible that you cannot avoid the default "test" stage.

[2019-07-25 11:24] LinqLover commented on #431
I tried both variants, but then Travis only runs the first combination (linux, Squeak-5.2) ...

![image](https://user-images.githubusercontent.com/38782922/61870837-6fe92080-aedf-11e9-8a90-321cc24fbc0a.png)

[2019-08-05 09:04] fniephaus opened #434 "SCIPharoCodeCoverageTest>>testMethodReferenceForSelector fails on Pharo 8"
[Example build failure](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/565996310#L631).

Could someone from the Pharo community (maybe @jecisc) have a look at this please?

[2019-08-05 09:11] jecisc commented on #434
I tried to check the problem and apparently the Ring #name method changes of implementation in Pharo 8.

If you want to get the selector of the method I think the best way is to use #selector instead of #name.

[2019-08-05 09:15] jecisc commented on #434
Reading the code of SmalltalkCI I have the impression that the real code is already using #selector instead of #name. I guess we can just update the test.

[2019-08-05 10:34] #434 closed

[2019-08-05 10:36] fniephaus commented on #339
Pharo-alpha currently fails due to an `unknown option: --nodisplay` error. Apparently, the VM's cli has changed. Could someone from the Pharo community (maybe @jecisc again 😅) please have a look at this? [Here's an example build failure.](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/567793220#L677)

[2019-08-15 11:10] fniephaus opened #436 "Pharo 7.0.4?"
Should Pharo-stable point to 7.0.4?

[2019-08-22 20:25] fniephaus commented on #436
It looks like Pharo "70" is being updated automatically: http://files.pharo.org/get-files/70/.

[2019-08-22 20:25] #436 closed

[2019-08-28 12:08] fniephaus opened #437 "CompiledMethod>>#refersToLiteral: has been deprecated. Use #hasLiteral: instead."
In Squeak(64|32)-trunk, e.g.: https://travis-ci.org/hpi-swa/smalltalkCI/jobs/567793218#L13973

[2019-09-12 13:15] jbrichau opened #438 "Smalltalk-ci builds on Travis still run on Ubuntu Trusty"
I contacted Travis-CI support because all builds using Smalltalk-CI on Travis default to Ubuntu Trusty instead of Xenial.

They acknowledged the issue as specific to `language:smalltalk` builds.

Any idea if this requires a community effort to update base boxes for Smalltalk builds? I'm reaching out via this issue to see if we can be of help, or should we just wait for Travis support to handle the

[2019-09-17 23:13] #368 closed

[2019-09-19 07:15] j4yk opened #439 "Warnings abort builds on Squeak trunk"
Seems like something has changed and now builds fail when the tests signal warnings:

https://travis-ci.org/hpi-swa/Squot/builds/586848878

[2019-09-21 08:42] fniephaus commented on #439
I don't understand what's going on. What's the new failure that you're are seeing? I know that Metacello was recently updated plus trunk changes rapidly at the moment.

[2019-09-21 09:38] j4yk commented on #439
The tests in this build signal Warnings, it has been like that for a while now. When you look at the build I linked to, you will see that the Trunk builds fail, while the Squeak 5.2 builds don't. The Trunk builds stop when the Warning is signalled, the Squeak 5.2 builds don't.

Maybe something has changed in Squeak trunk that prevents smalltalkCI from continuing/ignoring warnings?

[2019-09-21 09:38] j4yk commented on #439
Also note that this is not related to Metacello: the issue arises while the tests are being run, so Metacello has no dealings with it anymore at this point.

[2019-09-21 20:59] fniephaus commented on #439
You are referring to [this warning](https://travis-ci.org/hpi-swa/Squot/jobs/586848883#L349), right? I wouldn't be surprised if this is a side-effect of the recent `TestCase` changes that @marceltaeumel pushed. Will debug this when I have some time...

[2019-09-21 21:10] j4yk commented on #439
Correct. But now I noticed that further tests run after the warning, but then it suddenly stops: https://travis-ci.org/hpi-swa/Squot/jobs/586848883#L453

So maybe it is not related to the warning after all... in more recent builds the VM even crashed with "Illegal instruction" or "Segmentation fault" when one of the tests ran into a timeout. But I don't know whether this is another issue or connec

[2019-09-23 23:05] j4yk opened #440 "Segmentation fault during error printing"
Now it also happens in Squeak 5.2 images. Might be a problem with the VM? The crash seems to be flaky in that it has varying symptoms. One is a reported segmentation fault, the other is an exit status code of 133, and the trunk images seem to mostly just quit silently as reported in #439.

The segfault, if any, happens here:
[code]
https://travis-ci.org/hpi-swa/Squot/jobs/588685170#L364 (this is o

[2019-09-24 20:38] j4yk commented on #440
Here is an instance where Linux Squeak-32-5.2 failed, so this particular VM is not "clean" either.
https://travis-ci.org/hpi-swa/Squot/jobs/588957676#L838

Actually, it is the only build in this particular set (503) that ended abnormally... all 64 bit builds are red due to a test failure, the other 32 bit builds are green.

[2019-09-24 20:58] fniephaus commented on #440
Since we haven't updated the VM in a while, I suspect an image-side change to be responsible for the crashes. This might still be a VM bug and anyway this needs to be fixed. Let's try to debug this together on Thursday?

[2019-09-24 21:05] j4yk commented on #440
We can try, sure. Hopefully we get enough "bad" builds to look at during that time. ;-)

[2019-09-26 11:46] fniephaus commented on #440
I found the corresponding issues against OpenSmalltalk VM, which I filed more than a year ago: https://github.com/OpenSmalltalk/opensmalltalk-vm/issues/265

[2019-09-26 13:32] #440 closed

[2019-10-02 16:37] gcotelli opened #441 "Fix for #437 breaks coverage ignore support for Pharo"
The changes implemented in #437 makes the coverage ignore support not working on Pharo.
In Pharo at least since 6.1 and up versions ` compiledMethod hasLiteral: #ignoreForCoverage --> false` while `compiledMethod refersToLiteral: #ignoreForCoverage --> true`

[2019-10-03 15:56] gcotelli opened #443 "Jobs testing Pharo alpha VM dont work because --nodisplay is an unknown option now"
Aparently `--nodisplay` is an unknown option for the VM now.

[code]

[2019-10-07 13:43] #441 closed

[2019-10-14 18:29] fniephaus commented on #443
I have noticed this, too. But I have no idea why `--nodisplay` has been dropped. Any help would be appreciated!

[2019-11-17 10:33] theseion opened #444 "SmalltalkCI suddenly doesn't know #failOnZeroTests any more"
My builds suddenly fail because I use `#failOnZeroTests`. `StonReader` bails because `SmalltalkCISpec` has no instance variable `failOnZeroTests`. I haven't been able to figure out what changed.

[2019-11-17 10:35] theseion commented on #444
I put the instruction in the wrong context... 🤦‍♂

[2019-11-17 10:35] #444 closed

[2019-11-17 10:43] fniephaus commented on #444
No worries, glad it's still working :)

[2019-11-17 11:04] theseion commented on #443
This is a side-effect of https://github.com/OpenSmalltalk/opensmalltalk-vm/issues/433. The zeroconf VM hasn't been updated yet to use the Clang build. That should happen automatically, if I'm not mistaken. @estebanlm can you confirm or update the zeroconf for linux64x64?

[2019-12-02 11:56] Rinzwind opened #445 "Travis job for GemStone64-3.5.0 on Linux fails"
The Travis job for GemStone64-3.5.0 on Linux fails, see: https://travis-ci.org/Rinzwind/smalltalkCI/jobs/619559381#L525-L532.

The error is:

[code]

[2019-12-02 13:06] fniephaus commented on #445
Interesting, I think it's because you try to use a 64bit GemStone with 32bit Pharo clients. This could be supported, but isn't at the moment I think. What do you think, @dalehenrich?

[2019-12-02 15:45] Rinzwind commented on #445
I'm not sure if it was clear that this is a build of the smalltalkCI project itself (using a fork that just mirrors the main repository). The tested commit is 4b2483d, the same one as in https://travis-ci.org/hpi-swa/smalltalkCI/builds/594603060.

It seems a different version of Ubuntu was used in the build for my fork though: Ubuntu 14.04.5 LTS (https://travis-ci.org/hpi-swa/smalltalkCI/jobs/5946

[2019-12-02 15:56] fniephaus commented on #445
Oh right, I missed that for some reason. What happens if you force Ubuntu 14 with `dist: trusty` in the `.travis.yml`?

[2019-12-02 20:56] dalehenrich commented on #445
Sorry for coming in late to the party ... this particular error occurs when `pharo -h` fails to respond with a 0 exit code ... it **could** be caused by missing 32 bit libraries required by pharo or it could be caused by a change in the behavior of the vm ... I have seen cases where the pharo vm exits with a non-zero exit code when help is requested ... I've seen a flurry of travis failures for CR

[2019-12-02 20:59] dalehenrich commented on #445
A number of the GemStone projects are still dependent upon 32 bit Pharo libraries being present and an even greater number run tests against 32 bit pharo, so if 32 bit Pharo library support could be enabled (again?) that would be useful ...

[2019-12-03 16:30] fniephaus commented on #445
With regard to the dependencies, would it be sufficient to install Pharo's 32bit dependencies when running on GemStone (see [here](https://github.com/travis-ci/travis-build/blob/8cbe6ab2593f5ec3099c03009c125a654763804e/lib/travis/build/script/smalltalk.rb#L24-L39)). I still don't understand why this used to work. I'm guessing it's because of Ubuntu 16.04?

[2019-12-03 16:44] dalehenrich commented on #445
I'm not quite sure you what you are asking?  For GsDevKit_home, [GsDevKit_home has done this](https://github.com/GsDevKit/GsDevKit_home/blob/master/bin/utils/installOsPrereqs#L39-L77) for years now and it was done for 14.04 through 18.04 so what was done for 14.04 was also needed for 16.04 ... so AFAIK, the os requirements haven't changed for 14.04, 16.04 or 18.04 ... of course, it is possible tha

[2019-12-03 17:13] dalehenrich commented on #445
... pretty much all of the [GemStone travis jobs are now failing](https://travis-ci.org/dalehenrich/Seaside) .... I don't have the cycles right now to track this down as I hve bigger fish to fry at the moment ... but as I soon as I take care of this "big fish" i will have time to look at this, but at the moment I don't think it could be related to a change in the os ...

GsDevKit_home will install

[2019-12-03 21:00] fniephaus commented on #445
No, nothing has changed recently...but that also means smalltalkCI's tests haven't run in a while. I've triggered a build manually: https://travis-ci.org/hpi-swa/smalltalkCI/builds/620321459

[2019-12-03 21:24] fniephaus commented on #445
Looks like the Gemstone build is failing: https://travis-ci.org/hpi-swa/smalltalkCI/jobs/620321462#L4

Has something changed in GsDevKit_Home recently?

[2019-12-03 21:48] dalehenrich commented on #445
[7 days ago, GsDevKit_home master passed the majority of tests ... they nearly all use the 32 pharo vm}(https://travis-ci.org/GsDevKit/GsDevKit_home)

[2019-12-03 21:53] dalehenrich commented on #445
In the one failing pharo 3.0 test, [the pharo download succeeded - the step that is consistently failing now](https://travis-ci.org/GsDevKit/GsDevKit_home/jobs/617471568#L1357-L1373) ...
This test was run against the last merge to master made in GsDevKit_home ... so what ever went wrong ...

[6 days ago, the pharo 32 bit vm started failing](https://travis-ci.org/GsDevKit/gsApplicationTools) ... so

[2019-12-03 21:53] fniephaus commented on #445
I might have a look at this tomorrow...looks like we should double check if the Pharo files have changed

[2019-12-03 21:56] dalehenrich commented on #445
... it's starting to look that way ...

[7 days ago, in the successful GsDevKit_home test with 32 bit clients 16.04 was being used](https://travis-ci.org/GsDevKit/GsDevKit_home/jobs/617471565)

I'm going to have to bet  on a 32 bit pharo vm change:)

[2019-12-03 21:58] dalehenrich commented on #445
I'm still curious about how the 32 bit library prereqs have been met in the past ... GsDevKit_home has been skipping the prereq installation step forever ... and then 6 days ago the 32 bit support libraries are not there?

[2019-12-03 22:10] dalehenrich commented on #445
[I've triggered a GsDevKit_home build, since it does it's own installation of 32 bit support libraries and does not use SmalltalkCI](https://travis-ci.org/GsDevKit/GsDevKit_home/builds/620348257) ...

Here's the [apt upgrade/install summary for the fresh build](https://travis-ci.org/GsDevKit/GsDevKit_home/jobs/620348261#L427-L452)

[2019-12-03 22:21] dalehenrich commented on #445
Hold the phone! ... [The pharo 32 bit pharo vm was successfully downloaded in your travis run](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/620321466#L319-L338) ... I'm going to relaunch a couple of the previously failing travis tests ... looks like something got fixed "behind the scenes"?

[2019-12-04 00:05] dalehenrich commented on #445
@fniephaus did you flush caches before rerunning the build? My Seaside test is failing with the pharovm download error after restarted, but I flush caches first ... FWIW, I don't think GemStone was depending upon the cached pharo vm, but it might have been in which case you should flush your caches and re-run ... caching wasn't being used by the GsDevKit_home travis run (that did it's own installa

[2019-12-04 19:01] dalehenrich commented on #445
@fniephaus, I see that there is something even more interesting in your [SmalltalkCI travis run](https://travis-ci.org/hpi-swa/smalltalkCI/builds/620321459)... Specifically, one GemStone 3.5.0 test [ran successfully (Installing Pharo3.0 did not fail with 32-bit libraries error)](https://travis-ci.org/hpi-swa/smalltalkCI/jobs/620321466#L319-L336) and another GemStone 3.5.0 test [failed (Installing

[2019-12-04 19:51] dalehenrich commented on #445
... haha ... never mind ... the passing GemStone test was running against the mac ...

[2019-12-04 20:14] dalehenrich commented on #445
I have found what I think is probably diagnostic ... I was reviewing the [Metacello test runs](https://travis-ci.org/Metacello/metacello) and the [last passing Metacello cron job was #2057.1](https://travis-ci.org/Metacello/metacello/jobs/607929020), which turns out to have been running against the cache ... The next [Metacello cron job was #2058.1 and it failed](https://travis-ci.org/Metacello/me

[2019-12-05 14:48] fniephaus commented on #445
It's because the [old build ran on Trusty](https://travis-ci.org/Metacello/metacello/jobs/607929020#L21) and the [newer one on Xenial](https://travis-ci.org/Metacello/metacello/jobs/620384932#L21), and the [`smalltalk.rb`](https://github.com/travis-ci/travis-build/blob/8cbe6ab2593f5ec3099c03009c125a654763804e/lib/travis/build/script/smalltalk.rb#L214-L219) used by Travis CI does not support Xenial

[2019-12-05 16:41] dalehenrich commented on #445
[This is the script](https://github.com/GsDevKit/GsDevKit_home/blob/master/bin/utils/installOsPrereqs#L46-L51) that is being [successfully run by GsDevKit_home on Travis CI xenial](https://travis-ci.org/GsDevKit/GsDevKit_home/jobs/620348263#L259-L1037) ... and the two quoted sections were copied from the the `installOsPrereqs` scripts and note that the exact same install script isused for 14.04, 1

[2019-12-06 12:32] fniephaus commented on #445
Sorry, I'm currently flooded with work...what I'll do when I have some time is to use a sudo-enabled Travis worker, perform the installation step manually, and see if everything works as expected. If something fails, we can find out how to fix it and once everything works, I can transform our findings into a PR for the `smalltalk.rb` on Travis' side. It's for example possible that some of the pack

[2019-12-06 18:15] dalehenrich commented on #445
Understood ... I'm not being directly impacted by this, but other projects that have GemStone ports could be, but I guess they'll just have to be patient ...

Keep in mind the fact that the GsDevKIt_home installOsPrereqs script has not changed vor 14.o4 through 18.04 ... so I think that all that's needed is to get the `Installing GemStone Dependencies` script running again ...

[2019-12-07 18:37] fniephaus commented on #445
Looks like I got the [tests passing](https://travis-ci.org/hpi-swa/smalltalkCI/builds/622059071). The only line not compatible with Xenial/Bionic is:
[code]

Shall I open a PR against Travis with the needed changes, or do we need to do something about the missing symlink, @dalehenrich?

[2019-12-11 21:34] dalehenrich commented on #445
Sorry, I missed your comment ... the symlink is broken on my 16.04 and 18.04 machines and everything is running fine, so it is no longer needed ... I think that symlink was added as a requirement for Pharo, but it is clearly an ancient requirement ...

So go ahead and open the PR without the symlink ...

[2019-12-12 16:36] dalehenrich commented on #445
@fniephaus, I looked at your PR and I was wondering if you put in any code that that would generate an error when the Ubunutu version moves beyond your list of supported versions? ... that way we can get immediate feedback as to the potential root cause of build issues

[2019-12-12 16:45] fniephaus commented on #445
Sure, have a look at https://github.com/travis-ci/travis-build/pull/1827/commits/53f39c681f73836da24b0f0359ba49b0dc1450ee.

[2019-12-12 17:17] dalehenrich commented on #445
Perfect!

[2019-12-17 16:37] dalehenrich commented on #445
Looks like the GemStone [builds are functioning again](https://travis-ci.org/Metacello/metacello)! @Rinzwind thanks for the report

[2019-12-17 16:37] #445 closed

[2019-12-24 09:39] theseion commented on #443
@estebanlm SmalltalkCI has been unable to run builds of Pharo 8 since at least September. At least for Fuel that means I can't release an updated version for Pharo 8 / 9 or Squeak 5.3+. All I would need for now are updated zeroconf builds that use Nicola's fix for building with Clang instead of GCC. We have verified that the Clang builds work.

[2020-01-03 19:21] estebanlm commented on #443
sorry, I lost this.
I will check it next week (on holidays now)

[2020-01-09 07:41] estebanlm commented on #443
mmm... problem is more complicated than that.
(by the way, this has nothing to do directly with Pharo, except by the fact we dropped --nodisplay usage)
Main build of osvm is not working properly since some months. When you try to use alpha vm you actually use the latest build, which is broken (on mac at least, hopefully not the others since break was because of Metal introduction).

What I do not

[2020-01-09 09:18] estebanlm commented on #443
In a debian 64bit, exciting this:
[code]
works.
Checking on 32bit.

[2020-01-09 09:42] theseion commented on #443
It's in the `pharo` script for starting the image. Try this on a linux machine:
`curl get.pharo.org/64/80+vmLatest | bash; cat pharo`

[2020-01-09 09:49] theseion commented on #443
You're right, it does work now, just not on Travis. @fniephaus do you maybe need to update the version of SmalltalkCI that runs on Travis?

[2020-01-09 20:56] estebanlm commented on #443
@theseion I was about to ping you about this :)
I do not understands what happens because everything seems to work.

[2020-01-09 21:00] fniephaus commented on #443
Mh, I don't think so. Could you please restart your builds?

[2020-01-09 21:01] theseion commented on #443
I can but I doubt that will change anything. They run automatically every week... Let's try.

[2020-01-09 21:04] theseion commented on #443
Um... Ok... so they appear to work now... Something must have changed because 4 days ago they still failed.

[2020-01-09 21:07] fniephaus commented on #443
Great, good to know! The VMs are pulled directly from Pharo servers, so nothing needs to be updated on the Travis CI side of things.

[2020-01-10 12:00] fniephaus commented on #443
Looks like the problem is still present in `Pharo32-alpha` builds. See https://travis-ci.org/hpi-swa/smalltalkCI/jobs/634956829#L334. @estebanlm could you please have a look?

[2020-01-11 10:40] theseion commented on #443
This is getting weird... Now the same build I checked yesterday fails again with the `--nodisplay` error...

[2020-01-11 10:50] fniephaus commented on #443
None of this is in smalltalkCI's control, it must be fixed on the Pharo side. It's unfortunate that this long-standing issue is getting so little attention. :(

[2020-01-11 16:42] theseion commented on #443
@estebanlm It looks to me like the change you initially made to the zero conf script did indeed fix the problem. Why did you revert the change?

[2020-01-13 15:29] estebanlm commented on #443
because it didn't work, what I did was not what created the problem, as I think.
I will re-submit the revert, just in case.

[2020-01-20 12:26] fniephaus opened #447 "Pharo builds fail with "`GLIBC_2.29' not found""
Example build: https://travis-ci.org/hpi-swa/smalltalkCI/jobs/638491616#L219

Please have a look, @estebanlm.

[2020-01-20 12:29] fniephaus commented on #438
Could you please try again, @jbrichau?

[2020-01-20 13:24] jbrichau commented on #438
Hi @fniephaus
Right. I forgot about having reported that issue here but it has been fixed a month or two ago :)
I noticed our builds are now using Xenial.

[2020-01-20 13:24] #438 closed

[2020-01-20 13:30] fniephaus commented on #438
Thanks for the update, glad it's working now!

[2020-01-20 13:41] estebanlm commented on #447
crap, @tesonep ?

[2020-01-20 20:37] theseion commented on #443
The error message has changed:

[2020-01-24 08:42] jvalteren commented on #262
Hi @fniephaus, I'm trying to use your template on Gitlab CI but I'm getting the error below. I'm starting with zero knowledge of smalltalkCI, although I have used Gitlab CI before.

Can you tell me what's going on / point me in the right direction?

[code]

[2020-01-24 09:09] fniephaus commented on #262
Hi @jvalteren,
It looks like gcc is not installed on your worker. But also, raising the rtprio limit is not necessary in many cases, so smalltalkCI should skip this step if gcc is unavailable (instead of failing). I will push a fix today.

[2020-01-24 10:23] jvalteren commented on #262
Thanks for responding so quickly. I'm using the Free version that uses shared runners. I will look around in the docker image to increase my understanding. My eventual goal is a full CI/CD workflow based on Gitlab, so perhaps there will be things I can contribute in the future.

[2020-01-24 10:34] fniephaus commented on #262
Sure! A fix is in place now (see https://github.com/hpi-swa/smalltalkCI/commit/667ecc333e6060ea3906fc569b8b3d6cffcc8b12), so please restart your build.

[2020-01-24 10:40] jvalteren commented on #262
Great! You are very fast :-)

In the meantime, I created a local Docker image from hpiswa/smalltalkci, where I then manually installed gcc. Running the command again gave me the error below, perhaps it gives some valuable information.

You can ignore it though, because you've solved my problem. Thank you very much!

[code]

[2020-01-24 11:30] fniephaus commented on #262
Yes, this happens in a virtualized environment. Nonetheless, I think smalltalkCI should not fail because of this (fixed with https://github.com/hpi-swa/smalltalkCI/commit/e74aa44e47a3c09a1e745023f2fcd9c2f2c2530e).

[2020-01-24 11:32] jvalteren commented on #262
I look forward to using smalltalkCI a lot. Thanks for your help!

[2020-02-29 15:52] theseion opened #448 "smalltalk_config is suddenly always interpreted as array"
Travis appears to suddenly always treat `smaltlalk_config` as an array of strings. The `run.sh` script, however, assumes that it's always a simple string. This leads to the following error:

For me this started happening with this build https://travis-ci.org/theseion/Fuel/builds/647985949 from February 9.

AFAICT the problem lies with Travis (although it would be good to updated `run.sh`).

[2020-02-29 16:24] fniephaus commented on #448
Well, that's annoying :( Could you propose a workaround in `run.sh`? Happy to review it.

[2020-02-29 16:28] theseion commented on #448
Sure. Unfortunately, I couldn't find any information on how Travis injects array variables. Do you know whether they are injected as strings like `[1,2,3]` or as bash variables?

[2020-02-29 16:31] fniephaus commented on #448
[Here's](https://github.com/travis-ci/travis-build/blob/0afb532b33b76d11c0ec308639f935dd458c596f/lib/travis/build/script/smalltalk.rb#L45) where the values are being exported. I'm guessing it's just a string?

[2020-02-29 17:53] theseion commented on #448
Yes, it's a string I think. The fix simply extracts the first element since I don't think we support multiple STON files for a single configuration.

[2020-03-02 18:12] #448 closed

[2020-03-02 18:12] fniephaus commented on #448
Please re-open if this does not work correctly. Should we also file a bug against TravisCI?

[2020-03-02 19:25] theseion commented on #448
Looks like it works, thanks. I'll see if I can dig up anything that would have caused this on the Travis side.

[2020-03-02 20:45] theseion commented on #448
Well, I tried to find something but couldn't. Nothing has been changed in the Smalltalk schema definition of the YAML but they have been working on travis-yml quite heavily lately, so maybe they messed up something. Do you want to open the issue? You know them already.

[2020-03-07 20:11] theseion commented on #443
I'll go ahead and close this. The issue appears to be resolved.

[2020-03-07 20:11] #443 closed

[2020-03-08 10:22] theseion commented on #439
I'm running into the same issue. From what I've figured out the problem arises from a change to `UnhandledWarning`, which used to be implemented like this (Squeak 5.2):
[code]

[2020-03-10 18:47] j4yk opened #450 "Folding issue if image preparation fails, missing line feed in log"
In this build, you can see that you cannot see what is in "Preparing Squeak64-trunk image for CI..." if you unfold it. https://travis-ci.org/hpi-swa/Squot/jobs/659875039

Looking at the [raw log](https://api.travis-ci.org/v3/job/659875039/log.txt) you can see that there is no newline after the failure during the preparation. Does this cause the folding issue? If yes, can you force a line feed befo

[2020-03-10 23:03] fniephaus commented on #450
Travis folds are an undocumented feature, and they likely trigger bugs if used by third parties like us.
We could force a new line, but I am not sure this fixes the problem. My rule of thumb is: folds are not allowed to break if the build succeeded.

[2020-03-22 15:21] hemalvarambhia opened #451 "Travis Build Fails Due To Error While Generating Build Script"
**Project:** PolyMath.

Here is [an example of the error](
https://travis-ci.org/github/PolyMathOrg/PolyMath/jobs/665499216?utm_medium=notification&utm_source=email) for the push travis build. The environment the tests were run on is a 32-bit Pharo 7.0 image for MacOSX. What's interesting is that:

- the [push build](https://travis-ci.org/github/PolyMathOrg/PolyMath/jobs/665499212?utm_medium=notif

[2020-03-22 16:54] fniephaus commented on #451
Thanks for filing this issue, @hemalvarambhia.

It looks like this is due to the Travis CI outage: https://www.traviscistatus.com/incidents/7mbxh26jk3sl

Please re-open if the issue persists.

[2020-03-22 16:54] #451 closed

[2020-04-21 12:41] gcotelli opened #452 "Coveralls integration is not working when using GitHub actions to trigger the build"
The API call to coveralls is not triggered because the build is not made by TravisCI nor Appveyor.

[2020-04-27 08:16] #452 closed

[2020-04-27 13:43] gcotelli opened #454 "Support for additional coverage services"
@fniephaus moved from #453 to discuss it better:

I think there are 2 orthogonal issues here. One is the format of the exported coverage file (now it's always exported in coveralls JSON format) and I think that configuring it in SmalltalkCISpec will help with that if we want to support multiple export formats.
At least Codecov is capable of understanding the coveralls export format so we don't nee

[2020-04-27 14:02] fniephaus commented on #454
I prefer configuration to be as easy as possible. So setting the coverage provider once (in the `.smalltalk.ston`) should be enough. We can extract that value from Bash, I think we're already doing something like this somewhere else already, too. Having the provider in the SmalltalkCISpec will allow us to add support for other formats in the future.
We could also add another option `#auto_upload`

[2020-04-27 14:28] gcotelli commented on #454
Yes, If we can extract that info form `.smalltak.ston` using bash then it's Ok. It is better that way.

Yes, so the user has the option to use auto-upload, call it in another step or let the GitHub action doit for them (like the case of CodeCov that only needs to know the file name)

The only thing we need to provide is access to the coverage file name at least for the services I know. The specifi

[2020-04-27 15:22] gcotelli commented on #454
Just to summarize the needed changes:
1. Update `SmalltalkCISpec` coverage section to support:
[code]
`#service` will support `#coveralls`, `#codecov` and `#local`. If not defined it will default to `#coveralls` if running on a TravisCI/AppVeyor, and to #local if not. `#local` meaning it will not upload the file anywhere. This is to keep backwards compatibility.

2. Implement handling for `#codeco

[2020-04-27 15:24] gcotelli commented on #454
@fniephaus if we're ok with this changes I can give it a try.

[2020-04-27 22:12] gcotelli commented on #454
@fniephaus I've checked the bash files and the only place I found doing something with the .ston files is in helpers.sh but it only checks for the existence of a line including `#loading`:
`grep -Fq "#loading" "${config_ston}"`
But I don't found any value extraction, and I think it will very tricky to do it in bash because we need to not only get the `#service` value but it also must be contained

[2020-04-27 22:40] fniephaus commented on #454
Yes, that could indeed be tricky. The image could export the ston as bash file, which can be read after the build. Not sure this is a good solution in general. I'll have to think about this some more

[2020-04-27 23:06] gcotelli commented on #454
Maybe we can export some kind of .env file from the image and read it as environment variables to be used later in the script doing the upload. But I'm all ears here, so if you have a better idea let me know. I will wait for your feedback before proceeding.

[2020-04-30 12:49] gcotelli commented on #454
@fniephaus any idea on how we can proceed?

[2020-05-02 13:48] gcotelli commented on #454
LGTM. I will give it a try.

[2020-05-05 15:01] SabineMa opened #456 "--headful walkback if image is not saved and missing docs"
It took some time until I understood, that, after loading my code with the --headful parameter, I have to **save and quit** the image for starting the tests.

I was starting smalltalkCI with

`/bin/smalltalkci --headful --debug  --smalltalk "Pharo64-7.0" /../.smalltalk.ston`

and after loading, the image does nothing. I would expect that there is a dialog or at least a sentence in the documentatio

[2020-05-11 09:57] tom95 opened #457 "Upgrade Squeak stable Images for WebClient Fix"
A fix to WebClient has been backported to 5.3, 5.2, and 5.1: http://forum.world.st/The-Trunk-WebClient-Core-tobe-121-mcz-td5116242.html

I am currently in the process of fixing Squeak builds for Metacello https://travis-ci.org/github/Metacello/metacello/builds/684719345 and depend on these backports for some tests to pass, in particular these three: https://travis-ci.org/github/Metacello/metacello

[2020-05-14 10:19] #457 closed

[2020-05-14 11:21] fniephaus commented on #457
This is how the new images were generated:

[code]

[2020-05-14 17:08] SabineMa commented on #454
We use Gitlab. When I run smalltalkCI with a definition for #testing and #coverage in the .smalltalk.ston, then my file coveralls_results.json looks like this.

{"service_name":"unknown","git":{"branch":"unknown","head":{"author_name":"\n\u001B[1m\u001B[33mError with status code 128:\u001B[0m\n348 git_log ...

Do I understand right that
1.) currently it is not possible to create a coverage file wi

[2020-05-14 17:59] gcotelli commented on #454
@SabineMa there are two different things. One is the format of the coverage file. Right now the only export format supported is the Coveralls one.
The other thing is the coverage reporting service per-se. Other services like CodeCov (codecov.io) for example are capable of reading these format and showing correctly the coverage report. This last step is the thing we're working on this issue.
So whe

[2020-05-14 19:21] tom95 commented on #457
Sadly, the fix appears to not have made its way to Squeak5.2 yet (https://travis-ci.org/github/Metacello/metacello/jobs/687125170) and I received an error while trying to fetch the 5.1 image (https://travis-ci.org/github/Metacello/metacello/jobs/687125169). 5.3 however appears to run fine now though! :)

I confirmed locally that pulling the 5.2 smalltalkCI image and running updates again will inst

[2020-05-14 21:14] SabineMa commented on #454
Hi Gabriel,

what I want to have at the end, is a [coverage badge  ](https://docs.gitlab.com/ee/user/project/badges.html) in my Gitlab repos readme and in the pipelines.

From the doc [here](https://docs.gitlab.com/ee/ci/pipelines/settings.html#test-coverage-report-badge). I see  "GitLab makes it possible to define the regular expression for coverage report, that each job log will be matched again

[2020-05-14 21:59] gcotelli commented on #454
Apparently the supported format is not the same: https://docs.gitlab.com/ee/user/project/merge_requests/test_coverage_visualization.html#enabling-the-feature
The docs mention cobertura (XML) format, so I think you will need a different exporter. I suggest to open a new issue and if you have more info on the format maybe it's possible to implement it without too much effort.

[2020-05-15 12:14] fniephaus commented on #457
Ok, upgrading the images has uncovered a new issue: Metacello appears to be still depending on the old repository WebClient was hosted in before it was merged into Squeak. Therefore, the backported changes were basically reverted after Metacello was loaded. Loading Metacello before updating seems to avoid this, but is not necessarily a good long-term fix.

/cc @dalehenrich @krono

[2020-05-15 12:24] fniephaus commented on #457
Apparently, @krono already fixed this with `ConfigurationOfMetacello-topa.803` on http://seaside.gemtalksystems.com/ss/metacello. However, [the config](https://github.com/Metacello/metacello/tree/configuration/ConfigurationOfMetacelloPreview.package/ConfigurationOfMetacelloPreview.class) used when following the Metacello instructions is notoriously out of date.

[2020-05-15 13:17] fniephaus commented on #457
The updated 5.1 images uncovered another issue: Metacello does no longer work correctly on 5.1, due to https://github.com/Metacello/metacello/commit/bcd5d2f39be94703b9643ea89470524cb9c2d9c6. I'm going to pin Metacello in 5.1 to https://github.com/Metacello/metacello/commit/51e7b0fecadd1531513a8903113675cdc72e3ed8, the commit right before compatibility was broken.

[2020-05-15 13:23] tom95 commented on #457
Instead of pinning, another option might be to backport the `#setAuthorIntials:` to `#authorInitials:` rename to 5.1. Might be easier to keep tracking of things that way. I think I would only go with pinning if we decide to also drop 5.1 checks for Metacello on travis.

[2020-05-15 13:28] fniephaus commented on #457
It's actually the other way around (`#authorInitials` is not present in 5.1). I'm going to manually backport it for smalltalkCI images. Will update the used script in the comment above accordingly.

[2020-05-15 14:28] fniephaus commented on #457
@tom95 all images should now be functional. Please verify on your side.

[2020-05-15 17:01] tom95 commented on #457
Looking good! Travis failed for 5.2 with the same error, but it work with a local smalltalkCI, so I'll assume it was a random occurrence, maybe like a cache kicking in. If another run, when I pushed more changes, turns out to fail I'll report back.

[2020-05-21 14:55] fniephaus opened #458 "Code Coverage from GitHub Actions not working?"
#453 added support for code coverage via GitHub Actions. However, there seems to be a problem with the reports showing up on coverall. Here's an example:
https://github.com/hpi-swa-teaching/Algernon-Launcher/runs/667095382?check_suite_focus=true#step:4:215

The [API reference](https://docs.coveralls.io/api-reference) mentions that "You must specify either repo_token or a service name and job id.".

[2020-05-21 15:33] gcotelli commented on #458
Hi @fniephaus
I've been using coveralls for many of our projects in the past and I have the following experience:
- For repos in filetree format I can't never see the file coverage changes in the coveralls UI, because it lags with a lot of files, but the final coverage number looked Ok to me.
- If you don't specify the token you will need to login into the coveralls site and link manually your rep

[2020-05-21 16:08] gcotelli commented on #458
I forgot to mention that the new services using the CodeCov action are still using a slightly modified version of the code in #455 . When it got merged in the main branch and a new setup-smalltalkCI action version is produced we will change it to use the official smalltalkCI version.

[2020-06-24 13:37] #274 closed

[2020-06-24 13:38] #270 closed

[2020-06-24 13:39] fniephaus commented on #274
Has this been resolved, @JurajKubelka?

[2020-06-26 14:11] JurajKubelka commented on #274
Hi @fniephaus: I do not know. I guess yes, considering the #276. I closed it because it is too old. If it is really important to someone, it can be reopened. What do you think?

[2020-06-26 14:55] fniephaus commented on #274
Sure! Just wanted to know why you close the issue. Thanks!

[2020-06-29 20:55] dalehenrich opened #459 "Errors running SmalltalkCI tests against GemStone 3.5.1 and above (apparently)"
GemStone builds of Grease began failing for GemStone 3.5.1 several weeks ago (https://travis-ci.org/github/GsDevKit/Grease/jobs/696955030) and appears to e failing during a the `SCIGemStoneMetacelloLoadSpec class (SCIMetacelloLoadSpec class) >> updateMetacello @11 line 9` call (https://travis-ci.org/github/GsDevKit/Grease/jobs/702843448#L2003-L2080)....

I don't think G/S 3.5.1 has been added to t

[2020-06-29 20:55] dalehenrich commented on #459
ping ... @jbrichau, I willbe digging deeper later this afternoon

[2020-06-29 22:54] dalehenrich commented on #459
In debugging the error, I see that `useLatestMetacello` is true in `SCIMetacelloLoadSpec >> useLatestMetacello` and for GemStone it should be false, as GemStone comes loaded with the latest Metacello. On top of that `:SCIMetacelloLoadSpec class >> updateMetacello` is trying to load force a load of Metacello from the `Metacello/metacello` repository instead of `dalehenrich/metacello-work` which is

[2020-06-29 23:27] dalehenrich commented on #459
It seems that the difference between a passing travis and a failing travis is that the following line shows up when failing:
[code]
A look at the Metacello travis runs, shows that the [3.5.0 build](https://travis-ci.org/github/Metacello/metacello/jobs/701468202#L1774) was failing with the same problem as seen elsewhere. I approved the release with failing GemStone builds, because I did not realize

[2020-06-30 00:06] dalehenrich commented on #459
From looking at code, it seems that `SCIMetacelloLoadSpec >> useLatestMetacello` must be set to true, but the standard default value for useLatestMetacello is `false` and I cannot find where the code that sets updateMetacello to true and causes `SCIMetacelloLoadSpec class >> updateMetacello` to be called...

[2020-06-30 00:27] dalehenrich commented on #459
Ahhhhhh, finally tracked the `problem` down to the fact that [Grease explicitly sets `useLatestMetacello` to true](https://github.com/GsDevKit/Grease/blob/master/.smalltalk.ston#L7) ... and now I believe that GemStone should ignore that setting, because it shouldn't apply to GemStone builds as Metacello is always the `latest` for GemStone ...

[2020-06-30 19:10] dalehenrich commented on #459
Now that SeasideSt/Grease#105 has been resolved, we can close this issue ... [no modifications required (see comments starting here for more details)](https://github.com/SeasideSt/Grease/issues/105#issuecomment-651444990)

[2020-06-30 19:10] #459 closed

[2020-06-30 20:22] fniephaus commented on #459
Thanks Dale!

[2020-07-03 07:38] SabineMa commented on #454
Hi Gabriel, Hi Fabio,

it is as you say, Gitlab needs corbertura format. I don't have time to go deeper. Perhaps some day anyone can create such a reporter. Then, coverage would be available for gitlab users, too.

More info is in the Link you provided:
https://docs.gitlab.com/ee/user/project/merge_requests/test_coverage_visualization.html#enabling-the-feature

regards
Sabine

[2020-07-07 16:41] dalehenrich opened #460 "any insight as to why this build is erroring out?"
(This build](https://travis-ci.org/github/dalehenrich/metacello-work/builds/705615804) has massive failures, while the [PR](https://travis-ci.org/github/dalehenrich/metacello-work/builds/704519011) and [previous master](https://travis-ci.org/github/dalehenrich/metacello-work/builds/704534645) builds succeeded.
Here's the error (from https://travis-ci.org/github/dalehenrich/metacello-work/jobs/7056

[2020-07-07 16:49] dalehenrich commented on #460
I see that it is running [Ubuntu 20.04](https://travis-ci.org/github/dalehenrich/metacello-work/jobs/705615809#L18), while a `linux` run started a few minutes later is running 16.04?

[2020-07-07 16:53] dalehenrich commented on #460
No information on the [Travis page](https://docs.travis-ci.com/user/reference/overview/) and it still claims that 16.04 is the default environemtn ... how can I get 16.04 back?

[2020-07-07 17:03] gcotelli commented on #460
The build log states that it must be using Xenial (16.04)
[code]
But later it reports is running Focal Fossa (20.04), so it's probably a Travis problem. You can try reaching it's support. I've tried in the past with not so much success :man_shrugging: (by the time they responded the build was fixed without any change from my side), but maybe you have better luck.

[2020-07-07 17:07] dalehenrich commented on #460
@gcotelli, thanks for the quick response ... I've looked around and I haven't found information about how to "contact support" ... what's odd is that concurrent builds are not exhibiting the problem, while the problem build refuses to behave... I guess I'll just try again every couple of hours and see if my builds self heal:)

[2020-07-07 17:15] gcotelli commented on #460
support@travis-ci.com , it's hidden in a tiny link at the bottom of the page. This talks about how much care it receives :facepalm:

[2020-07-07 18:23] dalehenrich commented on #460
thx

[2020-07-07 22:46] dalehenrich commented on #460
sent my mail to support@travis and will see where this gets me:)

[2020-07-08 16:25] dalehenrich commented on #460
Looks like [SeasideSt/Parasol jobs are failing with same problem as Metacello](https://travis-ci.org/github/SeasideSt/Parasol/jobs/706005511) ... sent mail to travis-ci support yesterday and not a peep from them ...

[2020-07-09 11:57] jbrichau commented on #460
So, last time this happened (see https://github.com/hpi-swa/smalltalkCI/issues/438), the travis-ci support guys told me that it's the combination of 'smalltalk' with 'xenial' that was running into the problem.

It appears it's not such a high-profile problem for them (even though we use a commercial license) as they said: 'we will look into it, you will see when it gets fixed' and it took them 3-4

[2020-07-09 12:45] jbrichau commented on #460
Mind that it seems many builds are failing because of issues on 'Focal': https://travis-ci.org/github/SeasideSt/Seaside/builds/706509827

[2020-07-09 12:50] fniephaus commented on #460
This is unfortunate, hopefully it'll soon be fixed on Travis' side. BTW: Has anyone managed to run OpenSmalltalkVM on Focal yet?

[2020-07-09 15:21] dalehenrich commented on #460
In the support request that I opened, they gave me the same line about smalltalk being a community supported project. Are we certain, that this isn't really a smalltalk-only problem? In my case the issue first occurred during a CRON run, so I had not touched the .travis.yml, since then I have added an explicit request for `dist: Xenial` to my .travis.yml, and the support person pointed out that i

[2020-07-09 20:18] jbrichau commented on #460
Just to keep you in the loop, the response I got from Travis-CI support is:

It _is_ the same start as last time, but give that I referenced the issue from last year, maybe there is some hope...

[2020-07-09 20:25] dalehenrich commented on #460
And I just got this email fro support:

The engineering team must not be in the building today:)

[2020-07-09 20:26] jbrichau commented on #460
ROFLOL

[2020-07-10 18:43] jbrichau commented on #460
Hurray! It got fixed!
@dalehenrich

[2020-07-10 18:52] jbrichau commented on #460
Seaside build has a nice green color again: https://travis-ci.org/github/SeasideSt/Seaside/builds/706633463

[2020-07-10 20:44] dalehenrich commented on #460
haha, just saw mail from support where they said they'd fixed the issue! Yay!

[2020-07-13 15:06] dalehenrich commented on #460
reopening so that other users know that [the problem has resurfaced](https://travis-ci.org/github/Metacello/metacello/builds/707633473) ... I've mailed travis-ci support, so we'll see ...

[2020-07-13 18:07] fvozzi commented on #460
I have a similar issue, maybe related or maybe not. But it starts to happend today:

![image](https://user-images.githubusercontent.com/9647240/87337868-8e925e00-c51a-11ea-8ef3-208a74bbe2cb.png)

[2020-07-13 18:40] dalehenrich commented on #460
@fvozzi If your `build dist is `xenial` and the `Description` is `20.04`, then you are _are_ seeing the same problem:
![image](https://user-images.githubusercontent.com/623951/87340828-7a8c3380-c4fd-11ea-9d54-de6cd74a4530.png)

[2020-07-13 23:40] fvozzi commented on #460
@dalehenrich It's working again now. Is your build working now?

[2020-07-14 00:15] dalehenrich commented on #460
@fvozzi thanks for the ping ... restarted failing builds and they are passing again ...

[2020-07-14 00:15] #460 closed

[2020-07-31 13:52] Lasklu opened #461 "CodeCoverage via Github Actions is not uploaded to Coveralls"
I try to integrate Coveralls in our [project](https://github.com/hpi-swa-teaching/TelegramClient) via Github Actions. After passing the CI I receive the confirmation that codecoverage will be uploaded (`Uploading coverage results to Coveralls...`) , but I cannot see the result in [coveralls](https://coveralls.io/github/hpi-swa-teaching/TelegramClient?branch=bugfix/GH-199).
As far as I know this wo

[2020-08-03 12:08] fniephaus commented on #454
Hi Sabine,
It seems that this Cobertura XML format is not documented. If you come across a documentation, that'd be helpful. At least CodeCov supports the format as well.

[2020-08-03 12:16] SabineMa commented on #454
Hi Fabio,

I am very busy currently. As soon as I have time I will come back!

Sabine

[2020-08-03 13:12] fniephaus commented on #458
Debugged code coverage a bit today and found out that Tonel Coverage for Pharo seems to work fine with CodeCov, not so much when the FileTree format is used. Unfortunately, CodeCov doesn't say more than "There was an error processing coverage reports" or "Unable to find report content in the storage archive". Their support told me they don't offer support for free users, so more work is needed to

[2020-08-03 14:12] fniephaus commented on #461
Fixed via https://github.com/hpi-swa-teaching/TelegramClient/commit/dc15c7f6835089accc4f32bdc356252140a6f7f5.

[2020-08-03 14:12] #461 closed

[2020-08-03 14:14] fniephaus commented on #458
In the meantime, I've added support for `COVERALLS_REPO_TOKEN` (https://github.com/hpi-swa/smalltalkCI/commit/b478107e0260e7e3ac9f645a59cba53b270bf2ca). When the environment variable is set, smalltalkCI will use it instead of CI provided information when uploading coverage results. This seems to work fine for now, see: https://github.com/hpi-swa-teaching/TelegramClient/runs/940804748?check_suite_f

[2020-08-21 10:13] samWson opened #462 "Is it possible to run arbitrary commands on a smalltalk VM in the '_builds' directory?"
For my use case I'm using smalltalkCI in a Github action because it makes it easy to fetch an image and VM. What I'm also wanting is for a command to be sent to the smalltalk image to build some files for a website from the in image objects. I'm also wanting this build step not to happen if the tests that smalltalkCI runs fail.

Here is my action workflow:
[code]

The line `./pharo Pharo.image per

[2020-08-26 15:33] MrModder opened #464 "Introduce multiple Coverage output formats"
In order to increase compatibility for the possible combinations of CI infrastructure+Coverage Reporters, smalltalkCI is aiming to support multiple Coverage output formats (current targets: Coveralls + LCOV).

In future we will no longer aim to upload all these formats to all different Coverage reporters, as many uploaders already exist for this purpose.
We should instead focus on providing good d

[2020-08-26 15:44] MrModder commented on #454
@fniephaus and I have decided to further explore the possibility of supporting more Coverage formats.
Currently we aim to support LCOV, as it is supported by both CodeCov and Coveralls and easy to implement.
LCOV also allows you to generate a fully interactable HTML report using the `genhtml` Linux tool, if you don't want to use a coverage service at all.
A conversion tool from LCOV to Cobertura X

[2020-08-28 12:40] MrModder opened #465 "Metacello installation failed"
In one of my branches, the installation of Metacello is failing when testing smalltalkCI under Gemstone.
Two different kinds of errors appear:

## https://travis-ci.com/github/MrModder/smalltalkCI/jobs/378371026
[code]

## https://travis-ci.org/github/hpi-swa/smalltalkCI/jobs/721690820
[code]
and then a bit later...
[code]

[2020-08-28 16:54] dalehenrich commented on #465
From the log this appears to be a failure creating the [pharo3 vm used by the $GS_HIOME/bin/devKitCommandLine command](https://travis-ci.com/github/MrModder/smalltalkCI/jobs/378371026#L411) and it also looks like you are running the build on a OSX 10.13.6 ... leading up to the primitive failure there are a number of error messages about compression failures and I'm not sure what is happening there

[2020-08-28 17:40] MrModder commented on #465
Rerunning did fix it.

Maybe it was a temporary issue :shrug:
Odd that it happened multiple times though.

[2020-09-02 12:29] fniephaus opened #467 "smalltalkCI Assets"
This issue is used to collect assets (e.g. screenshots), so that they can be used in the `README.md` and in smalltalkCI's documentation.

[2020-09-02 12:29] #467 closed

[2020-09-02 12:29] fniephaus commented on #467
#### ESUG logo
![logo](https://user-images.githubusercontent.com/2368856/91981051-88ee1300-ed28-11ea-8eb1-3f1ef5d07c4a.png)

#### ESUG badge (small)
![2016_64x64](https://user-images.githubusercontent.com/2368856/91981067-8f7c8a80-ed28-11ea-8fab-db2e96a28b8c.png)

#### ESUG badge (large)
![2016_512x512](https://user-images.githubusercontent.com/2368856/91981109-a15e2d80-ed28-11ea-88bb-36b5f0b0ab95

[2020-09-02 12:30] fniephaus commented on #467
## Gemstone screenshots

#### localClientServerTestResults
![localClientServerTestResults](https://user-images.githubusercontent.com/2368856/91981189-bc30a200-ed28-11ea-8c3a-5a738beb8373.png)

#### todeTestFailureMessage
![todeTestFailureMessage](https://user-images.githubusercontent.com/2368856/91981194-bd61cf00-ed28-11ea-88db-b4501e61a7eb.png)

#### travisErrorStack
![travisErrorStack](https://u

[2020-09-02 12:31] MrModder commented on #467
**LCOV example report**
![lcov-example](https://user-images.githubusercontent.com/1346493/91981290-e2eed880-ed28-11ea-9abf-3d3323af5d84.png)

[2020-09-05 18:37] #464 closed

[2020-09-05 19:52] MrModder commented on #454
Now that #466 is merged, this issue could be closed IMHO.
It's not possible to disable Coveralls uploading at the moment, but I don't really see a use case for using coveralls format over LCOV and not uploading to Coveralls.
@gcotelli do you agree that this issue can be closed?

@SabineMa , have you tried converting LCOV to Cobertura XML with GitLab CI?

[2020-09-05 20:00] MrModder commented on #465
The first error appeared again today, I had to rerun the build twice before it somehow fixed itself.
The compression error's are still printed, so I don't think that's the problem per se.

It would be really helpful to fix this, as it holds up the entire rest of the build. I have no idea what the failing code does though and I'm unable to run GemStone locally as it can't find my SSL/TLS library fo

[2020-09-06 14:37] SabineMa commented on #454
Hi
I am in holidays, will try asap and come back to you. Thank you for your
work!!
Regards
Sabine

Leon Matthes <notifications@github.com> schrieb am Sa. 5. Sept. 2020 um
21:52:

[2020-09-14 08:00] fniephaus commented on #454
I'm going to close this for now, but please feel free to reopen the issue, @gcotelli and @SabineMa.

[2020-09-14 08:00] #454 closed

[2020-09-14 08:49] fniephaus commented on #462
Hi @samWson,

Sorry for the delay! I hope I'm not too late!

I think you should be able to substitute
`./pharo Pharo.image perform Transcript show: 'Hello world!'`
with:
`$SMALLTALK_CI_VM $SMALLTALK_CI_IMAGE perform Transcript show: 'Hello world!'`

However, I wonder why you decided to use smalltalkCI if you don't want to test a project. Wouldn't it be easier to download a Pharo image/vm pair dire

[2020-09-14 12:51] SabineMa commented on #454
I was already playing around but my lcov file was always empty. I have to find out the reason. I have other issues now but I have this on my stack and will come back with more information. Thank you so far for you work.

[2020-09-15 20:00] samWson commented on #462
Hi @fniephaus. Thanks for getting back to me. What attracted me to smalltalkCI was the convenience it brings. It seemed to make the tasks of downloading and running VMs effortless, which were all tasks I was trying to figure out how to do manually for the first time. Also running the tests was actually a good thing to do before I'd have the image generate the files I want, since I wouldn't want th

[2020-09-15 20:00] #462 closed

[2020-09-22 18:21] LinqLover opened #470 "[Squeak] Test runner breaks when a test signals a Halt or DeprecationWarning"
I did not study the source yet, but probably there should be something like `... on: TestFailure, Error, Halt do: ...` in the test execution logic.

[2020-09-23 08:41] fniephaus commented on #470
What do you mean by "Test runner breaks"? Do you mean that the build freezes because of a debugger window? smalltalkCI cannot do a catch all on `Exception` as some mechanisms rely on exceptions (e.g. notifications for progress bars).

The relevant lines of code are:

https://github.com/hpi-swa/smalltalkCI/blob/f343d8a8b315e4a1184668e4a3ce34b92ad95332/repository/SmalltalkCI-Core.package/SCITestRunn

[2020-09-23 12:08] LinqLover commented on #470
Hi Fabio, I am sorry for the imprecise description!

The build does not freeze, but `smalltalkci` terminates immediately with a stack trace (the whole test execution, not only the execution of the current test). This happens as a consequence of an error handled via the CommandLineToolSet only. The expected behavior would be that the current test becomes red and all consecutive tests still will be

[2020-09-23 12:56] fniephaus commented on #470
Maybe, but it seems we should discuss this with regard to `TestCase` on the mailing list first.

Uh, I'm not familiar with this one which indicates this isn't used often (or it's new). Let's add it to the list once someone reports an actual problem caused by `ModificationForbidden`.

There are many ways to break an image, smalltalkCI can only run tests on a best effort basis. In Squeak, we could f

[2020-09-23 22:27] tinchodias commented on #143
Hi! I just "randomly" read this issue and I think it can be closed given SThub is being deprecated.

[2020-09-23 22:51] tinchodias commented on #371
According to README, this is already supported as an option of `SCIMetacelloLoadSpec` (https://github.com/hpi-swa/smalltalkCI#scimetacelloloadspec).

However, we tested it in Roassal3+Pharo9 in the same situation that @dionisiydk when reported the issue and the problem wasn't fixed. Not sure 100% what happened but went for other solution.

[2020-09-24 05:23] theseion commented on #143
I agree, thanks. Closing.

[2020-09-24 05:23] #143 closed

[2020-09-24 08:24] fniephaus commented on #371
Thanks for the update, @tinchodias. What "other solution" did you go for? If you could provide some steps to reproduce, we could run smalltalkCI in headful mode and debug the run.

[2020-09-24 09:15] LinqLover commented on #470
Alright, please see [[squeak-dev] The Inbox: SUnit-ct.129.mcz](http://forum.world.st/The-Inbox-SUnit-ct-129-mcz-td5122389.html). :-)

I think I did encounter an actual problem raised by `ModificationForbidden` (at least it crashed my test job), but as said, this should definitely be fixed in the trunk. I just pushed the relevant thread there ...

Yes, I absolutely agree with that. I am actually te

[2020-09-24 09:21] LinqLover opened #471 "Cache prepared testing images for Squeak-Trunk?"
Has this ever been discussed in the past? For builds based on a Squeak-Trunk image, every single CI build takes nearly 60 seconds just for "preparing [the image] for CI" (see `./squeak/prepare.st`).

Wouldn't it be an option to cache these images after created once? I could imagine two different approaches to do this:

1. Automatically release new prepared images in this repository on a high-frequ

[2020-09-24 11:21] fniephaus commented on #471
Hi @LinqLover,

From time to time, we bump the trunk image for smalltalkCI to reduce the time to update to the latest trunk. I don't think caching is a good idea, it often only leads to new problems.

In theory, smalltalkCI could download a trunk image (if not cached) and update it. The CI provider could cache the image and the next time, smalltalkCI will re-use that image and update from there. I

[2020-09-24 15:47] tinchodias commented on #371
That "other solution" was to create preloading .st script that sends `removeFromSystem` to already loaded packages (not nice but worked... idea taken from Iceberg project).

I think this is not a bug of smalltalk-ci but Metacello. I say that because when [Roassal3](https://github.com/ObjectProfile/Roassal3) is loaded using `onUpgrade` and `onConflict` nothing seems to change.

I captured this scre

[2020-09-25 16:23] LinqLover commented on #471
Hi @fniephaus, thanks for the explanations!

But this problem only occurs because all old image versions are kept forever as releases for this repository, is this correct? Wouldn't it be an option to only keep the latest prepared image, maybe on an external server if you cannot remove releases from GitHub?

Couldn't we start from the latest release image and then send `#doUpdate:upTo:` to the `Mcm

[2020-09-29 07:59] fniephaus commented on #168
I think a better way forward is using GitHub releases or GitHub actions. I am closing this due to inactivity, feel free to re-open if it's still something that should be supported.

[2020-09-29 07:59] #168 closed

[2020-09-29 07:59] fniephaus commented on #127
Closing this for now.

[2020-09-29 07:59] #127 closed

[2020-09-29 07:59] #94 closed

[2020-09-29 08:00] #41 closed

[2020-09-29 08:01] fniephaus commented on #41
Closing this due to inactivity. I think things are a bit different today, so we problem need to rethink/rediscuss deployments.

[2020-09-29 08:36] fniephaus commented on #196
I think this can be closed now that Pharo has proper support for Git. Please reopen if you think something in smalltalkCI still needs to be changed.

[2020-09-29 08:36] #196 closed

[2020-09-29 08:41] fniephaus commented on #219
If `#categories`, `#packages`, or `#projects` for either `#include`, `#exclude`, or explicit test definitions return an empty set of classes, this should be logged as a configuration error. Handing this over to @MrModder.

[2020-09-29 08:45] fniephaus commented on #372
Deprecation warnings are dialect-specific and maybe smalltalkCI shouldn't help with that. Let's drop the idea for now.

[2020-09-29 08:45] #372 closed

[2020-09-29 08:49] fniephaus commented on #224
Correct me if I'm wrong but I'm not sure support for this has landed in Metacello. Closing this here until we can support it in smalltalkCI.

[2020-09-29 08:49] #224 closed

[2020-09-29 08:54] MrModder opened #473 "SCICustomScript as LoadSpec"
Investigate whether SCICustomScript can be used as LoadSpec.

Possibly expand SCICustomScript with a `#code` option to write inline code in `.smalltalk.ston`.

[2020-09-29 08:55] fniephaus commented on #249
Closing this as it's outdated.

[2020-09-29 08:55] #249 closed

[2020-09-29 09:01] fniephaus commented on #254
I think we have improved smalltalkCI with regard to this issue, closing this for now.

[2020-09-29 09:01] #254 closed

[2020-09-29 09:03] fniephaus commented on #263
Let's drop the idea, cloning repositories is relatively easy.

[2020-09-29 09:03] #263 closed

[2020-09-29 09:04] fniephaus commented on #269
I'm not sure this is still relevant, closing this for now. Please reopen if this is still something we should work on.

[2020-09-29 09:04] #269 closed

[2020-09-29 09:10] fniephaus commented on #281
Closing this due to inactivity, please reopen if this is still an issue that needs to be addressed in smalltalkCI.

[2020-09-29 09:10] #281 closed

[2020-09-29 09:13] fniephaus commented on #285
`report_build_metrics` is more robust today.

[2020-09-29 09:13] #285 closed

[2020-09-29 09:15] MrModder commented on #287
This should be achievable by using [custom scripts](https://github.com/hpi-swa/smalltalkCI#custom-scripts) in your .smalltalk.ston .

[2020-09-29 09:16] #287 closed

[2020-09-29 09:16] #326 closed

[2020-09-29 09:19] MrModder opened #474 "Coverage Tonel support for Squeak"
Currently coverage on Tonel projects is only supported in Pharo. Add support for Squeak.

[2020-09-29 09:23] fniephaus commented on #331
This was fixed in the meantime.

[2020-09-29 09:23] #331 closed

[2020-09-29 09:27] fniephaus commented on #339
I think the `--nodisplay` issue has been fixed by the Pharo team by now.

[2020-09-29 09:27] #339 closed

[2020-09-29 09:30] fniephaus commented on #348
Code coverage is complicated and smalltalkCI can only do this on a best-effort basis. Inaccuracies are very hard to avoid. Anyway, I've asked @MrModder to look into this one more time before closing this.

[2020-09-29 09:38] fniephaus commented on #375
The dependencies depend purely on the VM in use and differ across dialects. Closing this as those are not actually smalltalkCI's dependencies

[2020-09-29 09:38] #375 closed

[2020-09-29 10:10] fniephaus opened #475 "Add proper support for deployments"
I've skimmed through the open issues and a significant number of them touch the deployments topic, so I am opening this one to group them in one and discuss deployments once more:

smalltalkCI should support deployments, but use cases may be different: there are different deployment targets (e.g. GitHub releases, Bintray, etc.) and different deployment artifacts (e.g. image/changes, error logs, ..

[2020-09-29 14:28] fniephaus commented on #146
Closing this in favor of #475.

[2020-09-29 14:28] #146 closed

[2020-09-29 14:29] fniephaus commented on #475
BTW: we might want to drop the Bintray integration (see https://github.com/hpi-swa/smalltalkCI/issues/146#issuecomment-223586660)

[2020-09-29 14:29] fniephaus commented on #186
Closing this in favor of #475.

[2020-09-29 14:29] #186 closed

[2020-09-29 14:31] fniephaus commented on #121
Caching is CI provider-specific, and smalltalkCI only reuses what it finds in its caching directory. So I think selective dependency caching is something that must be configured through the CI provider and not smalltalkCI. Closing this for now...

[2020-09-29 14:31] #121 closed

[2020-09-29 14:33] fniephaus commented on #111
A more established approach to this is to use multiple ston files, which provides more flexibility in general. Let's not overcomplicate the smalltalk.ston spec.

[2020-09-29 14:33] #111 closed

[2020-09-29 14:33] fniephaus commented on #82
Closing this due to inactivity...

[2020-09-29 14:33] #82 closed

[2020-09-29 14:34] fniephaus commented on #122
Closing this due to inactivity...not sure it's still relevant

[2020-09-29 14:34] #122 closed

[2020-09-29 14:34] fniephaus commented on #253
Closing this due to inactivity...not sure it's still relevant.

[2020-09-29 14:34] #253 closed

[2020-09-29 14:38] fniephaus commented on #412
I believe the problem is that smalltalkCI does not check for the files it needs for the build, it should not start downloading an image if in cache. I don't have time to maintain all of the Pharo logic in smalltalkCI, but it should be relatively easy to fix. Contributions are more than welcome!

[2020-09-29 14:41] fniephaus commented on #413
Mh, I'm not sure smalltalkCI should allow excluding single tests cases, you can always use and exclude a dedicated class if you really need that ability. What you probably want to do is to skip/ignore the test, it could either be an expected failure or you could ensure it's not fully executed when running on CI. Closing this for now

[2020-09-29 14:41] #413 closed

[2020-09-29 14:43] fniephaus commented on #380
It's unfortunately a common issue, but it's not triggered by smalltalkCI. It might be Metacello problem...closing this here.

[2020-09-29 14:43] #380 closed

[2020-09-29 14:43] #417 closed

[2020-09-29 14:47] fniephaus commented on #450
It's hard to reproduce problems like this...closing this for now

[2020-09-29 14:47] #450 closed

[2020-09-30 13:46] MrModder commented on #454
What happens if you use Coveralls format? Is the coverage file also empty?
That could help pin down the problem. Lcov and Coveralls use the same internal coverage, just write it in different ways.